<script>
	loadCSS("assets/plugins/jquery-ui/css/jquery-ui-1.10.4.min.css");
	
	var requireJS = [
		"assets/plugins/jquery-ui/js/jquery-ui-1.10.4.min.js"
	]; 
	
	loadJS(requireJS);	
</script>
			
			<ol class="breadcrumb">
			  	<li><a href="#">Home</a></li>
				<li><a href="#">Example Pages</a></li>
			  	<li class="active">Pricing Tables</li>
			</ol>

			<div class="row">

				<!-- start: New Type Table -->
				<div class="price-table-overlay">	

					<div class="price-table four">
						
						<div class="plan">
							<ul>
								<li class="header">Basic Plan</li>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</li>
								<li class="price">$9</li>
								<li><span>1GB</span> disk space</li>
								<li><span>1</span> user</li>
								<li><span>5</span> folders</li>
								<li class="strike">offline access</li>
								<li class="strike">social share</li>
								<li>support online</li>
								<li class="strike">private consultant</li>
								<li class="select"><a class="btn btn-info" href="#">select plan</a></li>
							</ul>
						</div>	
						
						<div class="plan">
							<ul>
								<li class="header">Standard Plan</li>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</li>
								<li class="price">$19</li>
								<li><span>5GB</span> disk space</li>
								<li><span>1</span> user</li>
								<li><span>20</span> folders</li>
								<li class="strike">offline access</li>
								<li>social share</li>
								<li>support online</li>
								<li class="strike">private consultant</li>
								<li class="select"><a class="btn btn-info" href="#">select plan</a></li>
							</ul>
						</div>
						
						<div class="plan">
							<ul class="popular">
								<div class="label label-danger">Popular</div>
								<li class="header">Premium Plan</li>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</li>
								<li class="price">$99</li>
								<li><span>25GB</span> disk space</li>
								<li><span>unlimited</span> user</li>
								<li><span>unlimited</span> folders</li>
								<li>offline access</li>
								<li><span>social share +</span></li>
								<li>support online</li>
								<li>24h per day</span></li>
								<li class="select"><a class="btn btn-info" href="#">select plan</a></li>
							</ul>
						</div>
						
						<div class="plan">
							<ul>
								<li class="header">Professional Plan</li>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</li>
								<li class="price">$29</li>
								<li><span>10GB</span> disk space</li>
								<li><span>5</span> user</li>
								<li><span>100</span> folders</li>
								<li class="strike">offline access</li>
								<li>social share</li>
								<li>support online</li>
								<li>from 8:00am to 17:00pm</li>
								<li class="select"><a class="btn btn-info" href="#">select plan</a></li>
							</ul>
						</div>

					</div>

				</div>
				<!-- end: New Type Table -->
									
			</div><!--/row-->		