<script>
	loadCSS("assets/plugins/jquery-ui/css/jquery-ui-1.10.4.min.css");
	
	var requireJS = [
		"assets/plugins/jquery-ui/js/jquery-ui-1.10.4.min.js", 
	]; 
	
	loadJS(requireJS);
	
</script>

			<ol class="breadcrumb">
			  	<li><a href="#">Home</a></li>
				<li><a href="#">UI Features</a></li>
			  	<li class="active">Buttons</li>
			</ol>
				
			<div class="row">
				
				<div class="col-md-6">
					
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2><strong>Options</strong></h2>
						</div>
						<div class="panel-body">
							<button type="button" class="btn btn-default">Default</button>
							<button type="button" class="btn btn-primary">Primary</button>
							<button type="button" class="btn btn-success">Success</button>
							<button type="button" class="btn btn-info">Info</button>
							<button type="button" class="btn btn-warning">Warning</button>
							<button type="button" class="btn btn-danger">Danger</button>
							<button type="button" class="btn btn-link">Link</button>
						</div>
					</div>
					
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2><strong>With Icons</strong></h2>
						</div>
						<div class="panel-body">
							<button type="button" class="btn btn-default"><i class="fa fa-star"></i> Default</button>
							<button type="button" class="btn btn-primary"><i class="fa fa-lightbulb-o"></i> Primary</button>
							<button type="button" class="btn btn-success"><i class="fa fa-magic"></i> Success</button>
							<button type="button" class="btn btn-info"><i class="fa fa-map-marker"></i>  Info</button>
							<button type="button" class="btn btn-warning"><i class="fa fa-rss"></i>  Warning</button>
							<button type="button" class="btn btn-danger"><i class="fa fa-heart-o"></i> Danger</button>
							<button type="button" class="btn btn-link"><i class="fa fa-link"></i> Link</button>
						</div>
					</div>
					
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2><strong>Size Large</strong> <small>Add this class <code>.btn-lg</code></small></h2> 
						</div>
						<div class="panel-body">
							<button type="button" class="btn btn-default btn-lg">Default</button>
							<button type="button" class="btn btn-primary btn-lg">Primary</button>
							<button type="button" class="btn btn-success btn-lg">Success</button>
							<button type="button" class="btn btn-info btn-lg">Info</button>
							<button type="button" class="btn btn-warning btn-lg">Warning</button>
							<button type="button" class="btn btn-danger btn-lg">Danger</button>
							<button type="button" class="btn btn-link btn-lg">Link</button>
						</div>
					</div>
					
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2><strong>Size Small</strong> <small>Add this class <code>.btn-sm</code></small></h2> 
						</div>
						<div class="panel-body">
							<button type="button" class="btn btn-default btn-sm">Default</button>
							<button type="button" class="btn btn-primary btn-sm">Primary</button>
							<button type="button" class="btn btn-success btn-sm">Success</button>
							<button type="button" class="btn btn-info btn-sm">Info</button>
							<button type="button" class="btn btn-warning btn-sm">Warning</button>
							<button type="button" class="btn btn-danger btn-sm">Danger</button>
							<button type="button" class="btn btn-link btn-sm">Link</button>
						</div>
					</div>
					
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2><strong>Size Extra Small</strong> <small>Add this class <code>.btn-xs</code></small></h2> 
						</div>
						<div class="panel-body">
							<button type="button" class="btn btn-default btn-xs">Default</button>
							<button type="button" class="btn btn-primary btn-xs">Primary</button>
							<button type="button" class="btn btn-success btn-xs">Success</button>
							<button type="button" class="btn btn-info btn-xs">Info</button>
							<button type="button" class="btn btn-warning btn-xs">Warning</button>
							<button type="button" class="btn btn-danger btn-xs">Danger</button>
							<button type="button" class="btn btn-link btn-xs">Link</button>
						</div>
					</div>
					
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2><strong>Disabled state</strong> <small>Add this <code>disabled="disabled"</code></small></h2>
						</div>
						<div class="panel-body">
							<button type="button" class="btn btn-default" disabled="disabled">Default</button>
							<button type="button" class="btn btn-primary" disabled="disabled">Primary</button>
							<button type="button" class="btn btn-success" disabled="disabled">Success</button>
							<button type="button" class="btn btn-info" disabled="disabled">Info</button>
							<button type="button" class="btn btn-warning" disabled="disabled">Warning</button>
							<button type="button" class="btn btn-danger" disabled="disabled">Danger</button>
							<button type="button" class="btn btn-link" disabled="disabled">Link</button>
						</div>
					</div>
					
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2><strong>Active state</strong> <small>Add this class <code>.active</code></small></h2>
						</div>
						<div class="panel-body">
							<button type="button" class="btn btn-default active">Default</button>
							<button type="button" class="btn btn-primary active">Primary</button>
							<button type="button" class="btn btn-success active">Success</button>
							<button type="button" class="btn btn-info active">Info</button>
							<button type="button" class="btn btn-warning active">Warning</button>
							<button type="button" class="btn btn-danger active">Danger</button>
							<button type="button" class="btn btn-link active">Link</button>
						</div>
					</div>
					
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2><strong>Block Level Buttons</strong> <small>Add this class <code>.btn-block</code></small></h2> 
						</div>
						<div class="panel-body">
							<button type="button" class="btn btn-default btn-lg btn-block">Block level button</button>
							<button type="button" class="btn btn-primary btn-lg btn-block">Block level button</button>
							<button type="button" class="btn btn-success btn-lg btn-block">Block level button</button>
							<button type="button" class="btn btn-info btn-lg btn-block">Block level button</button>
							<button type="button" class="btn btn-warning btn-lg btn-block">Block level button</button>
							<button type="button" class="btn btn-danger btn-lg btn-block">Block level button</button>
							<button type="button" class="btn btn-link btn-lg btn-block">Block level button</button>
						</div>
					</div>
					
				</div><!--/col-->
				
				<div class="col-md-6">
					
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2><strong>Single button dropdowns</strong></h2> 
						</div>
						<div class="panel-body">
							<div class="btn-group">
								<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Default <span class="caret"></span></button>
								<ul class="dropdown-menu" role="menu">
							        <li><a href="#">Action</a></li>
							        <li><a href="#">Another action</a></li>
							        <li><a href="#">Something else here</a></li>
							        <li class="divider"></li>
							        <li><a href="#">Separated link</a></li>
								</ul>
							</div><!-- /btn-group -->
							<div class="btn-group">
								<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Primary <span class="caret"></span></button>
								<ul class="dropdown-menu" role="menu">
							        <li><a href="#">Action</a></li>
							        <li><a href="#">Another action</a></li>
							        <li><a href="#">Something else here</a></li>
							        <li class="divider"></li>
							        <li><a href="#">Separated link</a></li>
								</ul>
							</div><!-- /btn-group -->
							<div class="btn-group">
							 	<button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">Success <span class="caret"></span></button>
							     <ul class="dropdown-menu" role="menu">
							        <li><a href="#">Action</a></li>
							        <li><a href="#">Another action</a></li>
							        <li><a href="#">Something else here</a></li>
							        <li class="divider"></li>
							        <li><a href="#">Separated link</a></li>
							    </ul>
							</div><!-- /btn-group -->
							<div class="btn-group">
								<button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">Info <span class="caret"></span></button>
								<ul class="dropdown-menu" role="menu">
							        <li><a href="#">Action</a></li>
							        <li><a href="#">Another action</a></li>
							        <li><a href="#">Something else here</a></li>
							        <li class="divider"></li>
							        <li><a href="#">Separated link</a></li>
					 			</ul>
							</div><!-- /btn-group -->
							<div class="btn-group">
								<button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">Warning <span class="caret"></span></button>
								<ul class="dropdown-menu" role="menu">
							        <li><a href="#">Action</a></li>
							        <li><a href="#">Another action</a></li>
							        <li><a href="#">Something else here</a></li>
							        <li class="divider"></li>
							        <li><a href="#">Separated link</a></li>
								</ul>
							</div><!-- /btn-group -->
							<div class="btn-group">
								<button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">Danger <span class="caret"></span></button>
								<ul class="dropdown-menu" role="menu">
							        <li><a href="#">Action</a></li>
							        <li><a href="#">Another action</a></li>
							        <li><a href="#">Something else here</a></li>
							        <li class="divider"></li>
							        <li><a href="#">Separated link</a></li>
								</ul>
							</div><!-- /btn-group -->
						</div>
					</div>
					
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2><strong>Split button dropdowns</strong> <small>Similarly, create split button dropdowns with the same markup changes, only with a separate button.</small></h2> 
						</div>
						<div class="panel-body">
							<div class="btn-group">
								<button type="button" class="btn btn-default">Default</button>
								<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
							        <span class="caret"></span>
							        <span class="sr-only">Toggle Dropdown</span>
								</button>
								<ul class="dropdown-menu" role="menu">
							        <li><a href="#">Action</a></li>
							        <li><a href="#">Another action</a></li>
							        <li><a href="#">Something else here</a></li>
							        <li class="divider"></li>
							        <li><a href="#">Separated link</a></li>
								</ul>
							</div><!-- /btn-group -->
				 			<div class="btn-group">
								<button type="button" class="btn btn-primary">Primary</button>
								<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
							        <span class="caret"></span>
							        <span class="sr-only">Toggle Dropdown</span>
								</button>
								<ul class="dropdown-menu" role="menu">
							        <li><a href="#">Action</a></li>
							        <li><a href="#">Another action</a></li>
							        <li><a href="#">Something else here</a></li>
							        <li class="divider"></li>
							        <li><a href="#">Separated link</a></li>
								</ul>
							</div><!-- /btn-group -->
							<div class="btn-group">
								<button type="button" class="btn btn-success">Success</button>
								<button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
							        <span class="caret"></span>
							        <span class="sr-only">Toggle Dropdown</span>
								</button>
								<ul class="dropdown-menu" role="menu">
							        <li><a href="#">Action</a></li>
							        <li><a href="#">Another action</a></li>
							        <li><a href="#">Something else here</a></li>
							        <li class="divider"></li>
							        <li><a href="#">Separated link</a></li>
							      </ul>
							</div><!-- /btn-group -->
							<div class="btn-group">
								<button type="button" class="btn btn-info">Info</button>
					  			<button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
							        <span class="caret"></span>
							        <span class="sr-only">Toggle Dropdown</span>
				 				</button>
								<ul class="dropdown-menu" role="menu">
							        <li><a href="#">Action</a></li>
							        <li><a href="#">Another action</a></li>
							        <li><a href="#">Something else here</a></li>
							        <li class="divider"></li>
							        <li><a href="#">Separated link</a></li>
								</ul>
							</div><!-- /btn-group -->
							<div class="btn-group">
								<button type="button" class="btn btn-warning">Warning</button>
								<button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
							        <span class="caret"></span>
							        <span class="sr-only">Toggle Dropdown</span>
								</button>
								<ul class="dropdown-menu" role="menu">
							        <li><a href="#">Action</a></li>
							        <li><a href="#">Another action</a></li>
							        <li><a href="#">Something else here</a></li>
							        <li class="divider"></li>
							        <li><a href="#">Separated link</a></li>
								</ul>
							</div><!-- /btn-group -->
							<div class="btn-group">
								<button type="button" class="btn btn-danger">Danger</button>
								<button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
							        <span class="caret"></span>
							        <span class="sr-only">Toggle Dropdown</span>
								</button>
								<ul class="dropdown-menu" role="menu">
							        <li><a href="#">Action</a></li>
							        <li><a href="#">Another action</a></li>
							        <li><a href="#">Something else here</a></li>
							        <li class="divider"></li>
							        <li><a href="#">Separated link</a></li>
								</ul>
							</div><!-- /btn-group -->
						</div>
					</div>
					
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2><strong>Dropup variation</strong> <small>Trigger dropdown menus above elements by adding <code>.dropup</code> to the parent.</small></h2> 
						</div>
						<div class="panel-body">
							<div class="btn-toolbar" role="toolbar">
								<div class="btn-group dropup">
							        <button type="button" class="btn btn-default">Dropup</button>
							        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
							          	<span class="caret"></span>
							          	<span class="sr-only">Toggle Dropdown</span>
							        </button>
							        <ul class="dropdown-menu" role="menu">
							          	<li><a href="#">Action</a></li>
							          	<li><a href="#">Another action</a></li>
							          	<li><a href="#">Something else here</a></li>
							          	<li class="divider"></li>
							          	<li><a href="#">Separated link</a></li>
							        </ul>
								</div><!-- /btn-group -->
								<div class="btn-group dropup">
							        <button type="button" class="btn btn-primary">Dropup</button>
							        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
							          	<span class="caret"></span>
							          	<span class="sr-only">Toggle Dropdown</span>
							        </button>
							        <ul class="dropdown-menu pull-right" role="menu">
							          	<li><a href="#">Action</a></li>
							          	<li><a href="#">Another action</a></li>
							          	<li><a href="#">Something else here</a></li>
							          	<li class="divider"></li>
							          	<li><a href="#">Separated link</a></li>
							        </ul>
								</div><!-- /btn-group -->
								<div class="btn-group dropup">
							        <button type="button" class="btn btn-success">Dropup</button>
							        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
							          	<span class="caret"></span>
							          	<span class="sr-only">Toggle Dropdown</span>
							        </button>
							        <ul class="dropdown-menu pull-right" role="menu">
							          	<li><a href="#">Action</a></li>
							          	<li><a href="#">Another action</a></li>
							          	<li><a href="#">Something else here</a></li>
							          	<li class="divider"></li>
							          	<li><a href="#">Separated link</a></li>
							        </ul>
								</div><!-- /btn-group -->
								<div class="btn-group dropup">
							        <button type="button" class="btn btn-info">Dropup</button>
							        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
							          	<span class="caret"></span>
							          	<span class="sr-only">Toggle Dropdown</span>
							        </button>
							        <ul class="dropdown-menu pull-right" role="menu">
							          	<li><a href="#">Action</a></li>
							          	<li><a href="#">Another action</a></li>
							          	<li><a href="#">Something else here</a></li>
							          	<li class="divider"></li>
							          	<li><a href="#">Separated link</a></li>
							        </ul>
								</div><!-- /btn-group -->
								<div class="btn-group dropup">
							        <button type="button" class="btn btn-warning">Dropup</button>
							        <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
							          	<span class="caret"></span>
							          	<span class="sr-only">Toggle Dropdown</span>
							        </button>
							        <ul class="dropdown-menu pull-right" role="menu">
							          	<li><a href="#">Action</a></li>
							          	<li><a href="#">Another action</a></li>
							          	<li><a href="#">Something else here</a></li>
							          	<li class="divider"></li>
							          	<li><a href="#">Separated link</a></li>
							        </ul>
								</div><!-- /btn-group -->
								<div class="btn-group dropup">
							        <button type="button" class="btn btn-danger">Dropup</button>
							        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
							          	<span class="caret"></span>
							          	<span class="sr-only">Toggle Dropdown</span>
							        </button>
							        <ul class="dropdown-menu pull-right" role="menu">
							          	<li><a href="#">Action</a></li>
							          	<li><a href="#">Another action</a></li>
							          	<li><a href="#">Something else here</a></li>
							          	<li class="divider"></li>
							          	<li><a href="#">Separated link</a></li>
							        </ul>
								</div><!-- /btn-group -->
							</div>	
						</div>
					</div>
					
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2><strong>Buttons group</strong> <small>Wrap a series of buttons with <code>.btn</code> in <code>.btn-group</code></small></h2> 
						</div>
						<div class="panel-body">
							<div class="btn-group">
								<button type="button" class="btn btn-default">Left</button>
								<button type="button" class="btn btn-default">Middle</button>
								<button type="button" class="btn btn-default">Right</button>
							</div>
						</div>
					</div>
					
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2><strong>Button toolbar</strong> <small>Combine sets of <code>&lt;div class="btn-group"&gt;</code> into a <code>&lt;div class="btn-toolbar"&gt;</code> for more complex components.</small></h2> 
						</div>
						<div class="panel-body">
							<div class="btn-toolbar" role="toolbar">
								<div class="btn-group">
									<button type="button" class="btn btn-default">1</button>
							        <button type="button" class="btn btn-default">2</button>
							        <button type="button" class="btn btn-default">3</button>
							        <button type="button" class="btn btn-default">4</button>
							  	</div>
							 	<div class="btn-group">
									<button type="button" class="btn btn-default">5</button>
							        <button type="button" class="btn btn-default">6</button>
							        <button type="button" class="btn btn-default">7</button>
								</div>
								<div class="btn-group">
							        <button type="button" class="btn btn-default">8</button>
								</div>
							</div>
						</div>
					</div>
					
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2><strong>Nesting</strong> <small>Place a <code>.btn-group</code> within another <code>.btn-group</code> when you want dropdown menus mixed with a series of buttons.</small></h2> 
						</div>
						<div class="panel-body">
							<div class="btn-group">
								<button type="button" class="btn btn-default">1</button>
							  	<button type="button" class="btn btn-default">2</button>

								<div class="btn-group">
									<button id="btnGroupDrop1" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Dropdown	<span class="caret"></span></button>
							        <ul class="dropdown-menu" role="menu" aria-labelledby="btnGroupDrop1">
										<li><a href="#">Dropdown link</a></li>
										<li><a href="#">Dropdown link</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2><strong>Vertical variation</strong></h2> 
						</div>
						<div class="panel-body">
							<div class="btn-group-vertical">
								<button type="button" class="btn btn-default">Button</button>
								<button type="button" class="btn btn-default">Button</button>
								<div class="btn-group">
									<button id="btnGroupVerticalDrop1" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Dropdown<span class="caret"></span></button>
							        <ul class="dropdown-menu" role="menu" aria-labelledby="btnGroupVerticalDrop1">
							          	<li><a href="#">Dropdown link</a></li>
							          	<li><a href="#">Dropdown link</a></li>
							        </ul>
							   	</div>
								<button type="button" class="btn btn-default">Button</button>
								<button type="button" class="btn btn-default">Button</button>
								<div class="btn-group">
							        <button id="btnGroupVerticalDrop2" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">	Dropdown<span class="caret"></span></button>
							        <ul class="dropdown-menu" role="menu" aria-labelledby="btnGroupVerticalDrop2">
							          	<li><a href="#">Dropdown link</a></li>
							          	<li><a href="#">Dropdown link</a></li>
							        </ul>
								</div>
								<div class="btn-group">
							        <button id="btnGroupVerticalDrop3" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"> Dropdown<span class="caret"></span></button>
							        <ul class="dropdown-menu" role="menu" aria-labelledby="btnGroupVerticalDrop3">
							          	<li><a href="#">Dropdown link</a></li>
							          	<li><a href="#">Dropdown link</a></li>
							        </ul>
								</div>
								<div class="btn-group">
							        <button id="btnGroupVerticalDrop4" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">	Dropdown<span class="caret"></span></button>
							        <ul class="dropdown-menu" role="menu" aria-labelledby="btnGroupVerticalDrop4">
							          	<li><a href="#">Dropdown link</a></li>
							          	<li><a href="#">Dropdown link</a></li>
							        </ul>
								</div>
							</div>
						</div>
					</div>
					
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2><strong>Justified button groups</strong></h2> 
						</div>
						<div class="panel-body">
							<div class="btn-group btn-group-justified">
								<a class="btn btn-default" role="button">Left</a>
								<a class="btn btn-default" role="button">Middle</a>
								<a class="btn btn-default" role="button">Right</a>
							</div>
							<br>
							<div class="btn-group btn-group-justified">
								<a class="btn btn-default" role="button">Left</a>
								<a class="btn btn-default" role="button">Middle</a>
								<div class="btn-group">
									<a class="btn btn-default dropdown-toggle" data-toggle="dropdown">
										Dropdown <span class="caret"></span>
							        </a>
							        <ul class="dropdown-menu" role="menu">
							          	<li><a href="#">Action</a></li>
							          	<li><a href="#">Another action</a></li>
							          	<li><a href="#">Something else here</a></li>
							          	<li class="divider"></li>
							          	<li><a href="#">Separated link</a></li>
							        </ul>
								</div>
							</div>
						</div>
					</div>

				</div><!--/col-->
				
			</div><!--/row-->
			
			<div class="row">	
				<div class="col-xs-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2><strong>Social Media Button</strong> <small>Usage ex.</small><code style="text-transform:lowercase">&lt;button class="btn btn-facebook"&gt;&lt;span&gt;Facebook&lt;/span&gt;&lt;/button&gt;</code></h2> 
						</div>
						<div class="panel-body">
							<h3>Size Extra Small <small>Add this class <code>.btn-xs</code></small></h3>
							<p>
								<button style="margin-bottom: 4px" class="btn btn-xs btn-facebook"><span>Facebook</span></button>
								<button style="margin-bottom: 4px" class="btn btn-xs btn-twitter"><span>Twitter</span></button>
								<button style="margin-bottom: 4px" class="btn btn-xs btn-linkedin"><span>LinkedIn</span></button>	
								<button style="margin-bottom: 4px" class="btn btn-xs btn-flickr"><span>Flickr</span></button>
								<button style="margin-bottom: 4px" class="btn btn-xs btn-tumblr"><span>Tumblr</span></button>
								<button style="margin-bottom: 4px" class="btn btn-xs btn-xing"><span>Xing</span></button>
								<button style="margin-bottom: 4px" class="btn btn-xs btn-github"><span>Github</span></button>
								<button style="margin-bottom: 4px" class="btn btn-xs btn-html5"><span>HTML5</span></button>
								<button style="margin-bottom: 4px" class="btn btn-xs btn-openid"><span>OpenID</span></button>
								<button style="margin-bottom: 4px" class="btn btn-xs btn-stack-overflow"><span>StackOverflow</span></button>
								<button style="margin-bottom: 4px" class="btn btn-xs btn-css3"><span>CSS3</span></button>
								<button style="margin-bottom: 4px" class="btn btn-xs btn-youtube"><span>YouTube</span></button>
								<button style="margin-bottom: 4px" class="btn btn-xs btn-dribbble"><span>Dribbble</span></button>
								<button style="margin-bottom: 4px" class="btn btn-xs btn-google-plus"><span>Google+</span></button>
								<button style="margin-bottom: 4px" class="btn btn-xs btn-instagram"><span>Instagram</span></button>
								<button style="margin-bottom: 4px" class="btn btn-xs btn-pinterest"><span>Pinterest</span></button>			
								<button style="margin-bottom: 4px" class="btn btn-xs btn-vk"><span>VK</span></button>
								<button style="margin-bottom: 4px" class="btn btn-xs btn-yahoo"><span>Yahoo</span></button>
								<button style="margin-bottom: 4px" class="btn btn-xs btn-behance"><span>Behance</span></button>
								<button style="margin-bottom: 4px" class="btn btn-xs btn-dropbox"><span>Dropbox</span></button>
								<button style="margin-bottom: 4px" class="btn btn-xs btn-reddit"><span>Reddit</span></button>
								<button style="margin-bottom: 4px" class="btn btn-xs btn-spotify"><span>Spotify</span></button>
								<button style="margin-bottom: 4px" class="btn btn-xs btn-vine"><span>Vine</span></button>
								<button style="margin-bottom: 4px" class="btn btn-xs btn-foursquare"><span>Forsquare</span></button>
								<button style="margin-bottom: 4px" class="btn btn-xs btn-vimeo"><span>Vimeo</span></button>
							</p>
							<h3>Size Small <small>Add this class <code>.btn-sm</code></small></h3>
							<p>
								<button style="margin-bottom: 4px" class="btn btn-sm btn-facebook"><span>Facebook</span></button>
								<button style="margin-bottom: 4px" class="btn btn-sm btn-twitter"><span>Twitter</span></button>
								<button style="margin-bottom: 4px" class="btn btn-sm btn-linkedin"><span>LinkedIn</span></button>	
								<button style="margin-bottom: 4px" class="btn btn-sm btn-flickr"><span>Flickr</span></button>
								<button style="margin-bottom: 4px" class="btn btn-sm btn-tumblr"><span>Tumblr</span></button>
								<button style="margin-bottom: 4px" class="btn btn-sm btn-xing"><span>Xing</span></button>
								<button style="margin-bottom: 4px" class="btn btn-sm btn-github"><span>Github</span></button>
								<button style="margin-bottom: 4px" class="btn btn-sm btn-html5"><span>HTML5</span></button>
								<button style="margin-bottom: 4px" class="btn btn-sm btn-openid"><span>OpenID</span></button>
								<button style="margin-bottom: 4px" class="btn btn-sm btn-stack-overflow"><span>StackOverflow</span></button>
								<button style="margin-bottom: 4px" class="btn btn-sm btn-css3"><span>CSS3</span></button>
								<button style="margin-bottom: 4px" class="btn btn-sm btn-youtube"><span>YouTube</span></button>
								<button style="margin-bottom: 4px" class="btn btn-sm btn-dribbble"><span>Dribbble</span></button>
								<button style="margin-bottom: 4px" class="btn btn-sm btn-google-plus"><span>Google+</span></button>
								<button style="margin-bottom: 4px" class="btn btn-sm btn-instagram"><span>Instagram</span></button>
								<button style="margin-bottom: 4px" class="btn btn-sm btn-pinterest"><span>Pinterest</span></button>			
								<button style="margin-bottom: 4px" class="btn btn-sm btn-vk"><span>VK</span></button>
								<button style="margin-bottom: 4px" class="btn btn-sm btn-yahoo"><span>Yahoo</span></button>
								<button style="margin-bottom: 4px" class="btn btn-sm btn-behance"><span>Behance</span></button>
								<button style="margin-bottom: 4px" class="btn btn-sm btn-dropbox"><span>Dropbox</span></button>
								<button style="margin-bottom: 4px" class="btn btn-sm btn-reddit"><span>Reddit</span></button>
								<button style="margin-bottom: 4px" class="btn btn-sm btn-spotify"><span>Spotify</span></button>
								<button style="margin-bottom: 4px" class="btn btn-sm btn-vine"><span>Vine</span></button>
								<button style="margin-bottom: 4px" class="btn btn-sm btn-foursquare"><span>Forsquare</span></button>
								<button style="margin-bottom: 4px" class="btn btn-sm btn-vimeo"><span>Vimeo</span></button>
							</p>
							<h3>Size Normal</h3>
							<p>
								<button style="margin-bottom: 4px" class="btn btn-facebook"><span>Facebook</span></button>
								<button style="margin-bottom: 4px" class="btn btn-twitter"><span>Twitter</span></button>
								<button style="margin-bottom: 4px" class="btn btn-linkedin"><span>LinkedIn</span></button>	
								<button style="margin-bottom: 4px" class="btn btn-flickr"><span>Flickr</span></button>
								<button style="margin-bottom: 4px" class="btn btn-tumblr"><span>Tumblr</span></button>
								<button style="margin-bottom: 4px" class="btn btn-xing"><span>Xing</span></button>
								<button style="margin-bottom: 4px" class="btn btn-github"><span>Github</span></button>
								<button style="margin-bottom: 4px" class="btn btn-html5"><span>HTML5</span></button>
								<button style="margin-bottom: 4px" class="btn btn-openid"><span>OpenID</span></button>
								<button style="margin-bottom: 4px" class="btn btn-stack-overflow"><span>StackOverflow</span></button>
								<button style="margin-bottom: 4px" class="btn btn-css3"><span>CSS3</span></button>
								<button style="margin-bottom: 4px" class="btn btn-youtube"><span>YouTube</span></button>
								<button style="margin-bottom: 4px" class="btn btn-dribbble"><span>Dribbble</span></button>
								<button style="margin-bottom: 4px" class="btn btn-google-plus"><span>Google+</span></button>
								<button style="margin-bottom: 4px" class="btn btn-instagram"><span>Instagram</span></button>
								<button style="margin-bottom: 4px" class="btn btn-pinterest"><span>Pinterest</span></button>			
								<button style="margin-bottom: 4px" class="btn btn-vk"><span>VK</span></button>
								<button style="margin-bottom: 4px" class="btn btn-yahoo"><span>Yahoo</span></button>
								<button style="margin-bottom: 4px" class="btn btn-behance"><span>Behance</span></button>
								<button style="margin-bottom: 4px" class="btn btn-dropbox"><span>Dropbox</span></button>
								<button style="margin-bottom: 4px" class="btn btn-reddit"><span>Reddit</span></button>
								<button style="margin-bottom: 4px" class="btn btn-spotify"><span>Spotify</span></button>
								<button style="margin-bottom: 4px" class="btn btn-vine"><span>Vine</span></button>
								<button style="margin-bottom: 4px" class="btn btn-foursquare"><span>Forsquare</span></button>
								<button style="margin-bottom: 4px" class="btn btn-vimeo"><span>Vimeo</span></button>
							</p>
							<h3>Size Large <small>Add this class <code>.btn-lg</code></small></h3>
							<p>
								<button style="margin-bottom: 4px" class="btn btn-lg btn-facebook"><span>Facebook</span></button>
								<button style="margin-bottom: 4px" class="btn btn-lg btn-twitter"><span>Twitter</span></button>
								<button style="margin-bottom: 4px" class="btn btn-lg btn-linkedin"><span>LinkedIn</span></button>	
								<button style="margin-bottom: 4px" class="btn btn-lg btn-flickr"><span>Flickr</span></button>
								<button style="margin-bottom: 4px" class="btn btn-lg btn-tumblr"><span>Tumblr</span></button>
								<button style="margin-bottom: 4px" class="btn btn-lg btn-xing"><span>Xing</span></button>
								<button style="margin-bottom: 4px" class="btn btn-lg btn-github"><span>Github</span></button>
								<button style="margin-bottom: 4px" class="btn btn-lg btn-html5"><span>HTML5</span></button>
								<button style="margin-bottom: 4px" class="btn btn-lg btn-openid"><span>OpenID</span></button>
								<button style="margin-bottom: 4px" class="btn btn-lg btn-stack-overflow"><span>StackOverflow</span></button>
								<button style="margin-bottom: 4px" class="btn btn-lg btn-css3"><span>CSS3</span></button>
								<button style="margin-bottom: 4px" class="btn btn-lg btn-youtube"><span>YouTube</span></button>
								<button style="margin-bottom: 4px" class="btn btn-lg btn-dribbble"><span>Dribbble</span></button>
								<button style="margin-bottom: 4px" class="btn btn-lg btn-google-plus"><span>Google+</span></button>
								<button style="margin-bottom: 4px" class="btn btn-lg btn-instagram"><span>Instagram</span></button>
								<button style="margin-bottom: 4px" class="btn btn-lg btn-pinterest"><span>Pinterest</span></button>			
								<button style="margin-bottom: 4px" class="btn btn-lg btn-vk"><span>VK</span></button>
								<button style="margin-bottom: 4px" class="btn btn-lg btn-yahoo"><span>Yahoo</span></button>
								<button style="margin-bottom: 4px" class="btn btn-lg btn-behance"><span>Behance</span></button>
								<button style="margin-bottom: 4px" class="btn btn-lg btn-dropbox"><span>Dropbox</span></button>
								<button style="margin-bottom: 4px" class="btn btn-lg btn-reddit"><span>Reddit</span></button>
								<button style="margin-bottom: 4px" class="btn btn-lg btn-spotify"><span>Spotify</span></button>
								<button style="margin-bottom: 4px" class="btn btn-lg btn-vine"><span>Vine</span></button>
								<button style="margin-bottom: 4px" class="btn btn-lg btn-foursquare"><span>Forsquare</span></button>
								<button style="margin-bottom: 4px" class="btn btn-lg btn-vimeo"><span>Vimeo</span></button>
							</p>	
						</div>
					</div>
				</div><!--/col-->
				
				<div class="col-xs-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2><strong>Social Media Button</strong> <small>Only icons. Usage ex.</small> <code style="text-transform:lowercase">&lt;button class="btn btn-facebook icon"&gt;&lt;span&gt;Facebook&lt;/span&gt;&lt;/button&gt;</code></h2> 
						</div>
						<div class="panel-body">
							<h3>Size Extra Small <small>Add this class <code>.btn-xs</code></small></h3>
							<p>
								<button style="margin-bottom: 4px" class="btn btn-xs btn-facebook icon"><span>Facebook</span></button>
								<button style="margin-bottom: 4px" class="btn btn-xs btn-twitter icon"><span>Twitter</span></button>
								<button style="margin-bottom: 4px" class="btn btn-xs btn-linkedin icon"><span>LinkedIn</span></button>	
								<button style="margin-bottom: 4px" class="btn btn-xs btn-flickr icon"><span>Flickr</span></button>
								<button style="margin-bottom: 4px" class="btn btn-xs btn-tumblr icon"><span>Tumblr</span></button>
								<button style="margin-bottom: 4px" class="btn btn-xs btn-xing icon"><span>Xing</span></button>
								<button style="margin-bottom: 4px" class="btn btn-xs btn-github icon"><span>Github</span></button>
								<button style="margin-bottom: 4px" class="btn btn-xs btn-html5 icon"><span>HTML5</span></button>
								<button style="margin-bottom: 4px" class="btn btn-xs btn-openid icon"><span>OpenID</span></button>
								<button style="margin-bottom: 4px" class="btn btn-xs btn-stack-overflow icon"><span>StackOverflow</span></button>
								<button style="margin-bottom: 4px" class="btn btn-xs btn-css3 icon"><span>CSS3</span></button>
								<button style="margin-bottom: 4px" class="btn btn-xs btn-youtube icon"><span>YouTube</span></button>
								<button style="margin-bottom: 4px" class="btn btn-xs btn-dribbble icon"><span>Dribbble</span></button>
								<button style="margin-bottom: 4px" class="btn btn-xs btn-google-plus icon"><span>Google+</span></button>
								<button style="margin-bottom: 4px" class="btn btn-xs btn-instagram icon"><span>Instagram</span></button>
								<button style="margin-bottom: 4px" class="btn btn-xs btn-pinterest icon"><span>Pinterest</span></button>			
								<button style="margin-bottom: 4px" class="btn btn-xs btn-vk icon"><span>VK</span></button>
								<button style="margin-bottom: 4px" class="btn btn-xs btn-yahoo icon"><span>Yahoo</span></button>
								<button style="margin-bottom: 4px" class="btn btn-xs btn-behance icon"><span>Behance</span></button>
								<button style="margin-bottom: 4px" class="btn btn-xs btn-dropbox icon"><span>Dropbox</span></button>
								<button style="margin-bottom: 4px" class="btn btn-xs btn-reddit icon"><span>Reddit</span></button>
								<button style="margin-bottom: 4px" class="btn btn-xs btn-spotify icon"><span>Spotify</span></button>
								<button style="margin-bottom: 4px" class="btn btn-xs btn-vine icon"><span>Vine</span></button>
								<button style="margin-bottom: 4px" class="btn btn-xs btn-foursquare icon"><span>Forsquare</span></button>
								<button style="margin-bottom: 4px" class="btn btn-xs btn-vimeo icon"><span>Vimeo</span></button>
							</p>
							<h3>Size Small <small>Add this class <code>.btn-sm</code></small></h3>
							<p>
								<button style="margin-bottom: 4px" class="btn btn-sm btn-facebook icon"><span>Facebook</span></button>
								<button style="margin-bottom: 4px" class="btn btn-sm btn-twitter icon"><span>Twitter</span></button>
								<button style="margin-bottom: 4px" class="btn btn-sm btn-linkedin icon"><span>LinkedIn</span></button>	
								<button style="margin-bottom: 4px" class="btn btn-sm btn-flickr icon"><span>Flickr</span></button>
								<button style="margin-bottom: 4px" class="btn btn-sm btn-tumblr icon"><span>Tumblr</span></button>
								<button style="margin-bottom: 4px" class="btn btn-sm btn-xing icon"><span>Xing</span></button>
								<button style="margin-bottom: 4px" class="btn btn-sm btn-github icon"><span>Github</span></button>
								<button style="margin-bottom: 4px" class="btn btn-sm btn-html5 icon"><span>HTML5</span></button>
								<button style="margin-bottom: 4px" class="btn btn-sm btn-openid icon"><span>OpenID</span></button>
								<button style="margin-bottom: 4px" class="btn btn-sm btn-stack-overflow icon"><span>StackOverflow</span></button>
								<button style="margin-bottom: 4px" class="btn btn-sm btn-css3 icon"><span>CSS3</span></button>
								<button style="margin-bottom: 4px" class="btn btn-sm btn-youtube icon"><span>YouTube</span></button>
								<button style="margin-bottom: 4px" class="btn btn-sm btn-dribbble icon"><span>Dribbble</span></button>
								<button style="margin-bottom: 4px" class="btn btn-sm btn-google-plus icon"><span>Google+</span></button>
								<button style="margin-bottom: 4px" class="btn btn-sm btn-instagram icon"><span>Instagram</span></button>
								<button style="margin-bottom: 4px" class="btn btn-sm btn-pinterest icon"><span>Pinterest</span></button>			
								<button style="margin-bottom: 4px" class="btn btn-sm btn-vk icon"><span>VK</span></button>
								<button style="margin-bottom: 4px" class="btn btn-sm btn-yahoo icon"><span>Yahoo</span></button>
								<button style="margin-bottom: 4px" class="btn btn-sm btn-behance icon"><span>Behance</span></button>
								<button style="margin-bottom: 4px" class="btn btn-sm btn-dropbox icon"><span>Dropbox</span></button>
								<button style="margin-bottom: 4px" class="btn btn-sm btn-reddit icon"><span>Reddit</span></button>
								<button style="margin-bottom: 4px" class="btn btn-sm btn-spotify icon"><span>Spotify</span></button>
								<button style="margin-bottom: 4px" class="btn btn-sm btn-vine icon"><span>Vine</span></button>
								<button style="margin-bottom: 4px" class="btn btn-sm btn-foursquare icon"><span>Forsquare</span></button>
								<button style="margin-bottom: 4px" class="btn btn-sm btn-vimeo icon"><span>Vimeo</span></button>
							</p>
							<h3>Size Normal</h3>
							<p>
								<button style="margin-bottom: 4px" class="btn btn-facebook icon"><span>Facebook</span></button>
								<button style="margin-bottom: 4px" class="btn btn-twitter icon"><span>Twitter</span></button>
								<button style="margin-bottom: 4px" class="btn btn-linkedin icon"><span>LinkedIn</span></button>	
								<button style="margin-bottom: 4px" class="btn btn-flickr icon"><span>Flickr</span></button>
								<button style="margin-bottom: 4px" class="btn btn-tumblr icon"><span>Tumblr</span></button>
								<button style="margin-bottom: 4px" class="btn btn-xing icon"><span>Xing</span></button>
								<button style="margin-bottom: 4px" class="btn btn-github icon"><span>Github</span></button>
								<button style="margin-bottom: 4px" class="btn btn-html5 icon"><span>HTML5</span></button>
								<button style="margin-bottom: 4px" class="btn btn-openid icon"><span>OpenID</span></button>
								<button style="margin-bottom: 4px" class="btn btn-stack-overflow icon"><span>StackOverflow</span></button>
								<button style="margin-bottom: 4px" class="btn btn-css3 icon"><span>CSS3</span></button>
								<button style="margin-bottom: 4px" class="btn btn-youtube icon"><span>YouTube</span></button>
								<button style="margin-bottom: 4px" class="btn btn-dribbble icon"><span>Dribbble</span></button>
								<button style="margin-bottom: 4px" class="btn btn-google-plus icon"><span>Google+</span></button>
								<button style="margin-bottom: 4px" class="btn btn-instagram icon"><span>Instagram</span></button>
								<button style="margin-bottom: 4px" class="btn btn-pinterest icon"><span>Pinterest</span></button>			
								<button style="margin-bottom: 4px" class="btn btn-vk icon"><span>VK</span></button>
								<button style="margin-bottom: 4px" class="btn btn-yahoo icon"><span>Yahoo</span></button>
								<button style="margin-bottom: 4px" class="btn btn-behance icon"><span>Behance</span></button>
								<button style="margin-bottom: 4px" class="btn btn-dropbox icon"><span>Dropbox</span></button>
								<button style="margin-bottom: 4px" class="btn btn-reddit icon"><span>Reddit</span></button>
								<button style="margin-bottom: 4px" class="btn btn-spotify icon"><span>Spotify</span></button>
								<button style="margin-bottom: 4px" class="btn btn-vine icon"><span>Vine</span></button>
								<button style="margin-bottom: 4px" class="btn btn-foursquare icon"><span>Forsquare</span></button>
								<button style="margin-bottom: 4px" class="btn btn-vimeo icon"><span>Vimeo</span></button>
							</p>
							<h3>Size Large <small>Add this class <code>.btn-lg</code></small></h3>
							<p>
								<button style="margin-bottom: 4px" class="btn btn-lg btn-facebook icon"><span>Facebook</span></button>
								<button style="margin-bottom: 4px" class="btn btn-lg btn-twitter icon"><span>Twitter</span></button>
								<button style="margin-bottom: 4px" class="btn btn-lg btn-linkedin icon"><span>LinkedIn</span></button>	
								<button style="margin-bottom: 4px" class="btn btn-lg btn-flickr icon"><span>Flickr</span></button>
								<button style="margin-bottom: 4px" class="btn btn-lg btn-tumblr icon"><span>Tumblr</span></button>
								<button style="margin-bottom: 4px" class="btn btn-lg btn-xing icon"><span>Xing</span></button>
								<button style="margin-bottom: 4px" class="btn btn-lg btn-github icon"><span>Github</span></button>
								<button style="margin-bottom: 4px" class="btn btn-lg btn-html5 icon"><span>HTML5</span></button>
								<button style="margin-bottom: 4px" class="btn btn-lg btn-openid icon"><span>OpenID</span></button>
								<button style="margin-bottom: 4px" class="btn btn-lg btn-stack-overflow icon"><span>StackOverflow</span></button>
								<button style="margin-bottom: 4px" class="btn btn-lg btn-css3 icon"><span>CSS3</span></button>
								<button style="margin-bottom: 4px" class="btn btn-lg btn-youtube icon"><span>YouTube</span></button>
								<button style="margin-bottom: 4px" class="btn btn-lg btn-dribbble icon"><span>Dribbble</span></button>
								<button style="margin-bottom: 4px" class="btn btn-lg btn-google-plus icon"><span>Google+</span></button>
								<button style="margin-bottom: 4px" class="btn btn-lg btn-instagram icon"><span>Instagram</span></button>
								<button style="margin-bottom: 4px" class="btn btn-lg btn-pinterest icon"><span>Pinterest</span></button>			
								<button style="margin-bottom: 4px" class="btn btn-lg btn-vk icon"><span>VK</span></button>
								<button style="margin-bottom: 4px" class="btn btn-lg btn-yahoo icon"><span>Yahoo</span></button>
								<button style="margin-bottom: 4px" class="btn btn-lg btn-behance icon"><span>Behance</span></button>
								<button style="margin-bottom: 4px" class="btn btn-lg btn-dropbox icon"><span>Dropbox</span></button>
								<button style="margin-bottom: 4px" class="btn btn-lg btn-reddit icon"><span>Reddit</span></button>
								<button style="margin-bottom: 4px" class="btn btn-lg btn-spotify icon"><span>Spotify</span></button>
								<button style="margin-bottom: 4px" class="btn btn-lg btn-vine icon"><span>Vine</span></button>
								<button style="margin-bottom: 4px" class="btn btn-lg btn-foursquare icon"><span>Forsquare</span></button>
								<button style="margin-bottom: 4px" class="btn btn-lg btn-vimeo icon"><span>Vimeo</span></button>
							</p>
						</div>
					</div>
				</div><!--/col-->
				
				<div class="col-xs-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2><strong>Social Media Button</strong> <small>Only text. Usage ex.</small> <code style="text-transform:lowercase">&lt;button class="btn btn-facebook text"&gt;&lt;span&gt;Facebook&lt;/span&gt;&lt;/button&gt;</code></h2> 
						</div>
						<div class="panel-body">
							<h3>Size Extra Small <small>Add this class <code>.btn-xs</code></small></h3>
							<p>
								<button style="margin-bottom: 4px" class="btn btn-xs btn-facebook text"><span>Facebook</span></button>
								<button style="margin-bottom: 4px" class="btn btn-xs btn-twitter text"><span>Twitter</span></button>
								<button style="margin-bottom: 4px" class="btn btn-xs btn-linkedin text"><span>LinkedIn</span></button>	
								<button style="margin-bottom: 4px" class="btn btn-xs btn-flickr text"><span>Flickr</span></button>
								<button style="margin-bottom: 4px" class="btn btn-xs btn-tumblr text"><span>Tumblr</span></button>
								<button style="margin-bottom: 4px" class="btn btn-xs btn-xing text"><span>Xing</span></button>
								<button style="margin-bottom: 4px" class="btn btn-xs btn-github text"><span>Github</span></button>
								<button style="margin-bottom: 4px" class="btn btn-xs btn-html5 text"><span>HTML5</span></button>
								<button style="margin-bottom: 4px" class="btn btn-xs btn-openid text"><span>OpenID</span></button>
								<button style="margin-bottom: 4px" class="btn btn-xs btn-stack-overflow text"><span>StackOverflow</span></button>
								<button style="margin-bottom: 4px" class="btn btn-xs btn-css3 text"><span>CSS3</span></button>
								<button style="margin-bottom: 4px" class="btn btn-xs btn-youtube text"><span>YouTube</span></button>
								<button style="margin-bottom: 4px" class="btn btn-xs btn-dribbble text"><span>Dribbble</span></button>
								<button style="margin-bottom: 4px" class="btn btn-xs btn-google-plus text"><span>Google+</span></button>
								<button style="margin-bottom: 4px" class="btn btn-xs btn-instagram text"><span>Instagram</span></button>
								<button style="margin-bottom: 4px" class="btn btn-xs btn-pinterest text"><span>Pinterest</span></button>			
								<button style="margin-bottom: 4px" class="btn btn-xs btn-vk text"><span>VK</span></button>
								<button style="margin-bottom: 4px" class="btn btn-xs btn-yahoo text"><span>Yahoo</span></button>
								<button style="margin-bottom: 4px" class="btn btn-xs btn-behance text"><span>Behance</span></button>
								<button style="margin-bottom: 4px" class="btn btn-xs btn-dropbox text"><span>Dropbox</span></button>
								<button style="margin-bottom: 4px" class="btn btn-xs btn-reddit text"><span>Reddit</span></button>
								<button style="margin-bottom: 4px" class="btn btn-xs btn-spotify text"><span>Spotify</span></button>
								<button style="margin-bottom: 4px" class="btn btn-xs btn-vine text"><span>Vine</span></button>
								<button style="margin-bottom: 4px" class="btn btn-xs btn-foursquare text"><span>Forsquare</span></button>
								<button style="margin-bottom: 4px" class="btn btn-xs btn-vimeo text"><span>Vimeo</span></button>
							</p>
							<h3>Size Small <small>Add this class <code>.btn-sm</code></small></h3>
							<p>
								<button style="margin-bottom: 4px" class="btn btn-sm btn-facebook text"><span>Facebook</span></button>
								<button style="margin-bottom: 4px" class="btn btn-sm btn-twitter text"><span>Twitter</span></button>
								<button style="margin-bottom: 4px" class="btn btn-sm btn-linkedin text"><span>LinkedIn</span></button>	
								<button style="margin-bottom: 4px" class="btn btn-sm btn-flickr text"><span>Flickr</span></button>
								<button style="margin-bottom: 4px" class="btn btn-sm btn-tumblr text"><span>Tumblr</span></button>
								<button style="margin-bottom: 4px" class="btn btn-sm btn-xing text"><span>Xing</span></button>
								<button style="margin-bottom: 4px" class="btn btn-sm btn-github text"><span>Github</span></button>
								<button style="margin-bottom: 4px" class="btn btn-sm btn-html5 text"><span>HTML5</span></button>
								<button style="margin-bottom: 4px" class="btn btn-sm btn-openid text"><span>OpenID</span></button>
								<button style="margin-bottom: 4px" class="btn btn-sm btn-stack-overflow text"><span>StackOverflow</span></button>
								<button style="margin-bottom: 4px" class="btn btn-sm btn-css3 text"><span>CSS3</span></button>
								<button style="margin-bottom: 4px" class="btn btn-sm btn-youtube text"><span>YouTube</span></button>
								<button style="margin-bottom: 4px" class="btn btn-sm btn-dribbble text"><span>Dribbble</span></button>
								<button style="margin-bottom: 4px" class="btn btn-sm btn-google-plus text"><span>Google+</span></button>
								<button style="margin-bottom: 4px" class="btn btn-sm btn-instagram text"><span>Instagram</span></button>
								<button style="margin-bottom: 4px" class="btn btn-sm btn-pinterest text"><span>Pinterest</span></button>			
								<button style="margin-bottom: 4px" class="btn btn-sm btn-vk text"><span>VK</span></button>
								<button style="margin-bottom: 4px" class="btn btn-sm btn-yahoo text"><span>Yahoo</span></button>
								<button style="margin-bottom: 4px" class="btn btn-sm btn-behance text"><span>Behance</span></button>
								<button style="margin-bottom: 4px" class="btn btn-sm btn-dropbox text"><span>Dropbox</span></button>
								<button style="margin-bottom: 4px" class="btn btn-sm btn-reddit text"><span>Reddit</span></button>
								<button style="margin-bottom: 4px" class="btn btn-sm btn-spotify text"><span>Spotify</span></button>
								<button style="margin-bottom: 4px" class="btn btn-sm btn-vine text"><span>Vine</span></button>
								<button style="margin-bottom: 4px" class="btn btn-sm btn-foursquare text"><span>Forsquare</span></button>
								<button style="margin-bottom: 4px" class="btn btn-sm btn-vimeo text"><span>Vimeo</span></button>
							</p>
							<h3>Size Normal</h3>
							<p>
								<button style="margin-bottom: 4px" class="btn btn-facebook text"><span>Facebook</span></button>
								<button style="margin-bottom: 4px" class="btn btn-twitter text"><span>Twitter</span></button>
								<button style="margin-bottom: 4px" class="btn btn-linkedin text"><span>LinkedIn</span></button>	
								<button style="margin-bottom: 4px" class="btn btn-flickr text"><span>Flickr</span></button>
								<button style="margin-bottom: 4px" class="btn btn-tumblr text"><span>Tumblr</span></button>
								<button style="margin-bottom: 4px" class="btn btn-xing text"><span>Xing</span></button>
								<button style="margin-bottom: 4px" class="btn btn-github text"><span>Github</span></button>
								<button style="margin-bottom: 4px" class="btn btn-html5 text"><span>HTML5</span></button>
								<button style="margin-bottom: 4px" class="btn btn-openid text"><span>OpenID</span></button>
								<button style="margin-bottom: 4px" class="btn btn-stack-overflow text"><span>StackOverflow</span></button>
								<button style="margin-bottom: 4px" class="btn btn-css3 text"><span>CSS3</span></button>
								<button style="margin-bottom: 4px" class="btn btn-youtube text"><span>YouTube</span></button>
								<button style="margin-bottom: 4px" class="btn btn-dribbble text"><span>Dribbble</span></button>
								<button style="margin-bottom: 4px" class="btn btn-google-plus text"><span>Google+</span></button>
								<button style="margin-bottom: 4px" class="btn btn-instagram text"><span>Instagram</span></button>
								<button style="margin-bottom: 4px" class="btn btn-pinterest text"><span>Pinterest</span></button>			
								<button style="margin-bottom: 4px" class="btn btn-vk text"><span>VK</span></button>
								<button style="margin-bottom: 4px" class="btn btn-yahoo text"><span>Yahoo</span></button>
								<button style="margin-bottom: 4px" class="btn btn-behance text"><span>Behance</span></button>
								<button style="margin-bottom: 4px" class="btn btn-dropbox text"><span>Dropbox</span></button>
								<button style="margin-bottom: 4px" class="btn btn-reddit text"><span>Reddit</span></button>
								<button style="margin-bottom: 4px" class="btn btn-spotify text"><span>Spotify</span></button>
								<button style="margin-bottom: 4px" class="btn btn-vine text"><span>Vine</span></button>
								<button style="margin-bottom: 4px" class="btn btn-foursquare text"><span>Forsquare</span></button>
								<button style="margin-bottom: 4px" class="btn btn-vimeo text"><span>Vimeo</span></button>
							</p>
							<h3>Size Large <small>Add this class <code>.btn-lg</code></small></h3>
							<p>
								<button style="margin-bottom: 4px" class="btn btn-lg btn-facebook text"><span>Facebook</span></button>
								<button style="margin-bottom: 4px" class="btn btn-lg btn-twitter text"><span>Twitter</span></button>
								<button style="margin-bottom: 4px" class="btn btn-lg btn-linkedin text"><span>LinkedIn</span></button>	
								<button style="margin-bottom: 4px" class="btn btn-lg btn-flickr text"><span>Flickr</span></button>
								<button style="margin-bottom: 4px" class="btn btn-lg btn-tumblr text"><span>Tumblr</span></button>
								<button style="margin-bottom: 4px" class="btn btn-lg btn-xing text"><span>Xing</span></button>
								<button style="margin-bottom: 4px" class="btn btn-lg btn-github text"><span>Github</span></button>
								<button style="margin-bottom: 4px" class="btn btn-lg btn-html5 text"><span>HTML5</span></button>
								<button style="margin-bottom: 4px" class="btn btn-lg btn-openid text"><span>OpenID</span></button>
								<button style="margin-bottom: 4px" class="btn btn-lg btn-stack-overflow text"><span>StackOverflow</span></button>
								<button style="margin-bottom: 4px" class="btn btn-lg btn-css3 text"><span>CSS3</span></button>
								<button style="margin-bottom: 4px" class="btn btn-lg btn-youtube text"><span>YouTube</span></button>
								<button style="margin-bottom: 4px" class="btn btn-lg btn-dribbble text"><span>Dribbble</span></button>
								<button style="margin-bottom: 4px" class="btn btn-lg btn-google-plus text"><span>Google+</span></button>
								<button style="margin-bottom: 4px" class="btn btn-lg btn-instagram text"><span>Instagram</span></button>
								<button style="margin-bottom: 4px" class="btn btn-lg btn-pinterest text"><span>Pinterest</span></button>			
								<button style="margin-bottom: 4px" class="btn btn-lg btn-vk text"><span>VK</span></button>
								<button style="margin-bottom: 4px" class="btn btn-lg btn-yahoo text"><span>Yahoo</span></button>
								<button style="margin-bottom: 4px" class="btn btn-lg btn-behance text"><span>Behance</span></button>
								<button style="margin-bottom: 4px" class="btn btn-lg btn-dropbox text"><span>Dropbox</span></button>
								<button style="margin-bottom: 4px" class="btn btn-lg btn-reddit text"><span>Reddit</span></button>
								<button style="margin-bottom: 4px" class="btn btn-lg btn-spotify text"><span>Spotify</span></button>
								<button style="margin-bottom: 4px" class="btn btn-lg btn-vine text"><span>Vine</span></button>
								<button style="margin-bottom: 4px" class="btn btn-lg btn-foursquare text"><span>Forsquare</span></button>
								<button style="margin-bottom: 4px" class="btn btn-lg btn-vimeo text"><span>Vimeo</span></button>
							</p>
						</div>
					</div>
				</div><!--/col-->		
			</div><!--/row-->			