<script>
	loadCSS("assets/plugins/jquery-ui/css/jquery-ui-1.10.4.min.css");
	
	var requireJS = [
		"assets/plugins/jquery-ui/js/jquery-ui-1.10.4.min.js", 
	]; 
	
	loadJS(requireJS);
	
</script>

			
			<ol class="breadcrumb">
			  	<li><a href="#">Home</a></li>
				<li><a href="#">UI Features</a></li>
			  	<li class="active">Panels</li>
			</ol>

			<div class="row">
				
				<div class="col-sm-6">
					
					<div class="panel panel-default">
					  	<div class="panel-heading">Panel heading without title</div>
					  	<div class="panel-body">
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
					  	</div>
					</div>
				
				</div><!--/col-->
				
				<div class="col-sm-6">	

					<div class="panel panel-default">
					  	<div class="panel-heading">
					    	<h3 class="panel-title">Panel title</h3>
					  	</div>
					  	<div class="panel-body">
					    	Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
					  	</div>
					</div>
							
				</div><!--/col-->
				
				<div class="col-sm-6">	

					<div class="panel panel-default">
					  	<div class="panel-body">
					    	Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
					  	</div>
					  	<div class="panel-footer">Panel footer</div>
					</div>
							
				</div><!--/col-->
				
				<div class="col-sm-6">	

					<div class="panel panel-default panel-minimized">
					  	<div class="panel-heading">
					    	<h3 class="panel-title">Panel Minimized <small>Add this class <code>.panel-minimized</code></small></h3>
							<div class="panel-actions">
								<a href="#" class="btn-minimize"><i class="icon-arrow-up"></i></a>
							</div>
					  	</div>
					  	<div class="panel-body">
					    	Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
					  	</div>
					</div>
							
				</div><!--/col-->
			
			</div><!--/row-->
			
			<div class="row">	
				
				<div class="col-sm-6">	

					<div class="panel panel-default">
					  	<div class="panel-heading">
					    	<h3 class="panel-title"><i class="fa fa-check"></i>Panel with icon</h3>
					  	</div>
					  	<div class="panel-body">
					    	Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
					  	</div>
					</div>
							
				</div><!--/col-->
				
				<div class="col-sm-6">	

					<div class="panel panel-default">
					  	<div class="panel-heading">
					    	<h3 class="panel-title">Panel with switch</h3>
							<label class="switch switch-info pull-right">
						      	<input type="checkbox" class="switch-input" checked>
						      	<span class="switch-label" data-on="On" data-off="Off"></span>
						      	<span class="switch-handle"></span>
						    </label>
					  	</div>
					  	<div class="panel-body">
					    	Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
					  	</div>
					</div>
							
				</div><!--/col-->
				
				<div class="col-sm-6">	

					<div class="panel panel-default">
					  	<div class="panel-heading">
					    	<h3 class="panel-title">Panel with label</h3>
							<span class="label label-success pull-right">Success</span>
					  	</div>
					  	<div class="panel-body">
					    	Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
					  	</div>
					</div>
							
				</div><!--/col-->
				
				<div class="col-sm-6">	

					<div class="panel panel-default">
					  	<div class="panel-heading">
					    	<h3 class="panel-title">Panel with switch</h3>
							<span class="badge pull-right">42</span>
					  	</div>
					  	<div class="panel-body">
					    	Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
					  	</div>
					</div>
							
				</div><!--/col-->
				
			</div><!--/row-->
			
			<div class="row">	
				
				<div class="col-sm-6">	

					<div class="panel panel-primary">
					  	<div class="panel-heading">
					    	<h3 class="panel-title">Panel title</h3>
					  	</div>
					  	<div class="panel-body">
					    	Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
					  	</div>
					</div>
							
				</div><!--/col-->
				
				<div class="col-sm-6">	

					<div class="panel panel-success">
					  	<div class="panel-heading">
					    	<h3 class="panel-title">Panel title</h3>
					  	</div>
					  	<div class="panel-body">
					    	Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
					  	</div>
					</div>
							
				</div><!--/col-->
				
				<div class="col-sm-6">	

					<div class="panel panel-info">
					  	<div class="panel-heading">
					    	<h3 class="panel-title">Panel title</h3>
					  	</div>
					  	<div class="panel-body">
					    	Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
					  	</div>
					</div>
							
				</div><!--/col-->
				
				<div class="col-sm-6">	

					<div class="panel panel-warning">
					  	<div class="panel-heading">
					    	<h3 class="panel-title">Panel title</h3>
					  	</div>
					  	<div class="panel-body">
					    	Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
					  	</div>
					</div>
							
				</div><!--/col-->
				
				<div class="col-sm-6">	

					<div class="panel panel-danger">
					  	<div class="panel-heading">
					    	<h3 class="panel-title">Panel title</h3>
					  	</div>
					  	<div class="panel-body">
					    	Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
					  	</div>
					</div>
							
				</div><!--/col-->
				
			</div><!--/row-->
			
			<div class="row">
				
				<div class="col-sm-6">	

					<div class="panel panel-primary">
					  	<div class="panel-heading">
					    	<h3 class="panel-title">Panel title</h3>
					  	</div>
					  	<div class="panel-body">
					    	Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
					  	</div>
						<div class="panel-footer">Panel footer</div>
					</div>
							
				</div><!--/col-->
				
				<div class="col-sm-6">	

					<div class="panel panel-success">
					  	<div class="panel-heading">
					    	<h3 class="panel-title">Panel title</h3>
					  	</div>
					  	<div class="panel-body">
					    	Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
					  	</div>
						<div class="panel-footer">Panel footer</div>
					</div>
							
				</div><!--/col-->
				
				<div class="col-sm-6">	

					<div class="panel panel-info">
					  	<div class="panel-heading">
					    	<h3 class="panel-title">Panel title</h3>
					  	</div>
					  	<div class="panel-body">
					    	Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
					  	</div>
						<div class="panel-footer">Panel footer</div>
					</div>
							
				</div><!--/col-->
				
				<div class="col-sm-6">	

					<div class="panel panel-warning">
					  	<div class="panel-heading">
					    	<h3 class="panel-title">Panel title</h3>
					  	</div>
					  	<div class="panel-body">
					    	Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
					  	</div>
						<div class="panel-footer">Panel footer</div>
					</div>
							
				</div><!--/col-->
				
				<div class="col-sm-6">	

					<div class="panel panel-danger">
					  	<div class="panel-heading">
					    	<h3 class="panel-title">Panel title</h3>
					  	</div>
					  	<div class="panel-body">
					    	Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
					  	</div>
						<div class="panel-footer">Panel footer</div>
					</div>
							
				</div><!--/col-->
			
			</div><!--/row-->