/* Main Colors
=================================================================== */
.backgroundColor.primary {
  background: #20a8d8;
}
.backgroundColor.success {
  background: #4dbd74;
}
.backgroundColor.info {
  background: #63c2de;
}
.backgroundColor.warning {
  background: #f8cb00;
}
.backgroundColor.danger {
  background: #f86c6b;
}
.backgroundColorTitle.primary .title {
  background: #20a8d8;
}
.backgroundColorTitle.success .title {
  background: #4dbd74;
}
.backgroundColorTitle.info .title {
  background: #63c2de;
}
.backgroundColorTitle.warning .title {
  background: #f8cb00;
}
.backgroundColorTitle.danger .title {
  background: #f86c6b;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
#main-chart .axisLabel {
  position: absolute;
  text-align: center;
  font-size: 14px;
}
#main-chart .yaxisLabel {
  top: 50%;
  left: 2px;
  transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
}
#main-chart .xaxisLabel {
  top: -30px;
  right: 0px;
  width: 100%;
  padding-left: 30px;
}
#main-chart div.legend > table {
  position: absolute;
  margin-top: 0px;
  left: 60px;
  display: inline-table;
  color: #3d3f42 !important;
}
#main-chart div.legend > table tr {
  float: left;
  margin-right: 10px;
}
#main-chart div.legend > table .legendColorBox > div {
  padding: 0 !important;
  border: transparent !important;
  margin-right: 5px;
}
#main-chart div.legend > table .legendColorBox > div div {
  width: 18px !important;
  border-radius: 1px;
}
/* Vertical Bar Chart
=================================================================== */
.verticalChart {
  margin: 10px;
}
.verticalChart .singleBar {
  width: 6%;
  display: block;
  margin: 0 2% 0% 2%;
  float: left;
}
.verticalChart .singleBar .bar {
  position: relative;
  height: 120px;
  background: #e4e5e6;
  overflow: hidden;
  border-radius: 2px;
}
.verticalChart .singleBar .bar .value {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #4dbd74;
  color: white;
  border-radius: 2px;
}
.verticalChart .singleBar .bar .value span {
  position: absolute;
  font-size: 12px;
  bottom: 0;
  width: 100%;
  height: 20px;
  color: white;
  text-shadow: 0px -1px 0px #4dbd74, 0px 1px 0px #4dbd74, 1px 0px 0px #4dbd74, -1px 0px 0px #4dbd74, -1px -1px 0px #4dbd74, -1px 1px 0px #4dbd74, 1px 1px 0px #4dbd74, 1px -1px 0px #4dbd74;
  display: none;
  text-align: center;
}
.verticalChart .singleBar .title {
  margin-top: 5px;
  text-align: center;
  color: #3d3f42;
}
/* Browsers Stats
=================================================================== */
.browserStat.big {
  display: inline-block;
  width: 49%;
  text-align: center;
  margin-bottom: 20px;
  padding: 0px;
}
.browserStat {
  display: inline-block;
  width: 32%;
  text-align: center;
  margin: 0px;
  padding: 0px;
}
.browserStat span {
  display: block;
  text-align: center;
  margin-top: 10px;
}
/* Small Chart
=================================================================== */
.smallchart {
  background: white;
  text-align: center;
  margin-bottom: 30px;
}
.smallchart .title {
  padding: 10px;
  color: white;
  background: #d1d4d7;
  margin: -1px -1px 0 -1px;
}
.smallchart .content {
  padding: 40px 0px;
  background: #d1d4d7;
  color: white !important;
}
.smallchart .content i {
  font-size: 40px;
  color: white;
}
.smallchart .value {
  padding: 10px;
}
.smallchart.primary .title {
  background: #20a8d8;
}
.smallchart.success .title {
  background: #4dbd74;
}
.smallchart.info .title {
  background: #63c2de;
}
.smallchart.warning .title {
  background: #f8cb00;
}
.smallchart.danger .title {
  background: #f86c6b;
}
/* Sparkline stats
=================================================================== */
.sparkLineStats {
  position: relative;
  margin-bottom: -4px;
}
.sparkLineStats ul {
  margin: 0 0 0 -40px;
  list-style: none;
}
.sparkLineStats ul li {
  margin-bottom: 0;
  line-height: 32px;
  padding-top: 3px;
  font-size: 12px;
}
.sparkLineStats ul li div {
  float: left;
}
.sparkLineStats ul li div:first-child {
  margin-right: 5px;
}
.sparkLineStats ul li .number {
  font-size: 17px;
  font-weight: 700;
  padding: 0px 0px 0px 2px;
  color: #f8cb00;
}
.sparkLineStats ul li h4 {
  position: relative;
  border-bottom: 1px solid #c4c4c4;
  padding-bottom: 0px;
  margin-bottom: 10px;
  line-height: 37px;
  -webkit-box-shadow: 0 1px 0px #ffffff;
  box-shadow: 0 1px 0px #ffffff;
}
/* Chart.JS responsive fix
=================================================================== */
canvas.chartjs {
  width: 100% !important;
  max-width: 2000px;
  height: auto !important;
}
/* Box Stats
=================================================================== */
ul.stats {
  list-style: none;
  padding: 0;
  border-top: 1px solid #d1d4d7;
  background: #e4e5e6;
  margin: 20px -15px 0px -15px;
  *zoom: 1;
}
ul.stats:before,
ul.stats:after {
  display: table;
  content: "";
  line-height: 0;
}
ul.stats:after {
  clear: both;
}
ul.stats li {
  position: relative;
  z-index: 2;
  width: 25%;
  border-right: 1px solid #d1d4d7;
  float: left;
  text-align: center;
  padding: 20px 0px;
  margin: 0;
  overflow: hidden;
}
ul.stats li:last-child {
  border: none;
}
ul.stats li .bgchart {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
}
/* .smallstat
=================================================================== */
.smallstat {
  background: white;
  position: relative;
  margin-bottom: 30px;
  height: 80px;
  border: 1px solid #d1d4d7;
  padding: 15px;
  -webkit-box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.1);
}
.smallstat i {
  text-align: center;
  display: block;
  color: white;
  width: 50px;
  height: 50px;
  font-size: 22px;
  line-height: 50px;
  float: left;
  margin-right: 10px;
}
.smallstat i.primary {
  background: #20a8d8;
}
.smallstat i.success {
  background: #4dbd74;
}
.smallstat i.info {
  background: #63c2de;
}
.smallstat i.warning {
  background: #f8cb00;
}
.smallstat i.danger {
  background: #f86c6b;
}
.smallstat .title,
.smallstat .value {
  display: block;
  width: 100%;
}
.smallstat .value {
  padding-top: 5px;
  font-size: 18px;
}
.smallstat .title {
  color: #bcbfc1;
  font-size: 12px;
  text-transform: uppercase;
}
/* Activity
=================================================================== */
.activity {
  position: relative;
}
.activity:before {
  position: absolute;
  content: '';
  width: 0;
  height: 100%;
  border-right: 2px solid #d1d4d7;
  left: 34px;
}
.activity ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.activity ul li {
  position: relative;
  background: white;
  margin: 0 0 30px 66px;
  padding: 10px;
}
.activity ul li:before {
  content: '';
  width: 20px;
  height: 20px;
  top: 9px;
  left: -20px;
  position: absolute;
  border-right: 10px solid #f8f9fa;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
.activity ul li:after {
  content: '';
  width: 20px;
  height: 20px;
  top: 9px;
  left: -19px;
  position: absolute;
  border-right: 10px solid #f8f9fa;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
.activity ul li .header {
  background: #f8f9fa;
  margin: -10px -10px -10px -10px;
  padding: 0 10px;
  line-height: 40px;
}
.activity ul li .header .label {
  margin-right: 15px;
}
.activity ul li .header .location,
.activity ul li .header .time {
  float: right;
  margin-left: 20px;
  font-size: 12px;
  opacity: .5;
}
.activity ul li .description {
  margin: 20px 0 0 0;
}
.activity ul li .description blockquote {
  margin: 0;
}
.activity ul li .author {
  position: absolute;
  z-index: 1;
  width: 60px;
  float: left;
  top: 0px;
  left: -70px;
}
.activity ul li .author img {
  height: 56px;
  border-radius: 50em;
  border: 8px solid #e4e5e6;
  margin-left: -4px;
  margin-top: -8px;
}
@media (max-width: 767px) {
  .activity ul li .header .location,
  .activity ul li .header .time {
    position: absolute;
    bottom: -36px;
    right: 5px;
  }
  .activity ul li .header .time {
    right: 120px;
  }
  .activity ul li .description {
    margin: 20px 0 0 0;
  }
  .activity ul li .description blockquote {
    margin: 0;
  }
  .activity ul li .author {
    position: absolute;
    z-index: 1;
    width: 60px;
    float: left;
    top: 0px;
    left: -70px;
  }
  .activity ul li .author img {
    height: 56px;
    border-radius: 50em;
    border: 8px solid #e4e5e6;
    margin-left: -4px;
    margin-top: -8px;
  }
}
/* Calendar Widget
=================================================================== */
.calendar {
  background: white;
  padding: 1px;
}
.calendar .calendar-small {
  margin: -21px;
}
.calendar .fc td,
.calendar .fc th {
  border: 0;
  vertical-align: middle !important;
  font-weight: normal;
}
.calendar .fc {
  padding: 20px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
.calendar .fc-header {
  color: #3d3f42;
  background: #f8f9fa;
  height: 40px;
  padding: 0;
}
.calendar .fc-header-title h2 {
  color: #333333;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  line-height: 40px;
  height: 40px;
  margin: 5px 0 0 0;
}
.calendar .fc-widget-header {
  padding: 15px 0 20px 0;
  color: #333333;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600 !important;
}
.calendar .fc-widget-header,
.calendar .fc-widget-content {
  border-color: #d1d4d7;
}
.calendar .fc-state-default {
  background: white;
  border: none;
  text-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin: 10px;
  color: #3d3f42;
}
.calendar .fc-state-hover,
.calendar .fc-state-down,
.calendar .fc-state-active,
.calendar .fc-state-disabled {
  color: #3d3f42;
  background: white;
}
.calendar .fc-day-number {
  line-height: 35px;
  width: 40px;
  height: 40px;
  font-size: 12px;
  border-radius: 50em;
  border: 2px solid transparent;
}
.calendar .fc-state-highlight {
  background: transparent;
}
.calendar .fc-state-highlight .fc-day-number {
  color: #20a8d8;
  font-weight: 700;
  border: 2px solid #63c2de !important;
}
.calendar .event {
  background: #20a8d8;
  border-radius: 4px;
  color: white;
}
.calendar .fc-grid td {
  padding-top: 10px;
  vertical-align: top !important;
}
.calendar .fc-grid .fc-day-number {
  float: none;
  text-align: center;
  margin: 0 auto;
}
.calendar .fc-grid .fc-other-month .fc-day-number {
  opacity: 1;
  filter: alpha(opacity=1);
  color: #e4e5e6;
}
.calendar .fc-event {
  font-size: 0px;
  border-color: #f8f9fa;
}
.calendar .fc-button {
  background: transparent !important;
}
.calendar .list {
  margin: 0 15px 15px 15px;
  padding-top: 15px;
  border-top: 3px double #d1d4d7;
}
.calendar .list ul {
  list-style: none;
}
.calendar .list ul li {
  position: relative;
  padding-top: 15px;
  border-bottom: 1px solid #d1d4d7;
}
.calendar .list ul li .custom-checkbox-item {
  margin-left: -40px;
  margin-bottom: -1px;
}
.calendar .list ul li .custom-checkbox:checked ~ .custom-checkbox-desc {
  color: #d1d4d7;
  text-decoration: line-through;
}
.calendar .list ul li .custom-checkbox:checked ~ i {
  color: #f8f9fa;
}
.calendar .list ul li i {
  position: absolute;
  right: 0;
  top: 16px;
  font-size: 18px;
  color: #d1d4d7;
}
/* Users List
=================================================================== */
ul.users-list {
  padding: 0;
}
ul.users-list a:hover {
  text-decoration: none;
}
ul.users-list li:last-child {
  border-bottom: none;
  min-height: 51px;
}
ul.users-list li:first-child {
  border-top: none;
  border-bottom: 1px solid #d1d4d7;
}
ul.users-list li {
  min-height: 60px;
  padding: 5px 10px;
  list-style: none;
  border-bottom: 1px solid #d1d4d7;
  font-size: 12px;
}
ul.users-list li a img.avatar {
  height: 40px;
  width: 40px;
  float: left;
  margin-top: 3px;
  margin-right: 15px;
  border-radius: 50em;
}
ul.users-list li .name {
  margin: 5px 0 0px 0;
  font-size: 14px;
  font-weight: bold;
}
ul.users-list li .name .dropdown {
  float: right;
  margin: -1px 0;
}
ul.users-list li .name .dropdown a {
  color: #3d3f42;
  font-size: 11px;
  text-decoration: none;
}
ul.users-list li .name .dropdown ul li {
  padding: 0;
  min-height: 10px;
}
ul.users-list li .name .dropdown ul li i {
  display: inline-block;
  width: 20px;
}
ul.users-list li span {
  display: inline-block;
  margin-right: 5px;
  font-size: 11px;
  color: #3d3f42;
}
ul.users-list li .place {
  width: 35%;
}
ul.users-list li i {
  color: #3d3f42;
  margin-right: 2px;
  font-size: 11px;
}
ul.users-list.no-padding li {
  padding: 5px 0;
}
/* Comments Lists ex.
=================================================================== */
ul.comments-list {
  padding: 0;
}
ul.comments-list a:hover {
  text-decoration: none;
}
ul.comments-list li:last-child {
  border-bottom: none;
}
ul.comments-list li:first-child {
  border-top: none;
  border-bottom: 1px solid #d1d4d7;
}
ul.comments-list li {
  padding: 5px 10px;
  list-style: none;
  border-bottom: 1px solid #d1d4d7;
  font-size: 12px;
}
ul.comments-list li a img.avatar {
  height: 50px;
  width: 50px;
  float: left;
  margin-top: 3px;
  margin-right: 15px;
  border-radius: 50em;
}
ul.comments-list li div {
  margin-left: 65px;
}
ul.comments-list li div.date {
  margin-top: 5px;
  font-size: 10px;
  font-weight: bold;
  color: #d1d4d7;
}
ul.comments-list.no-padding li {
  padding: 5px 0;
}
/* ToDo List
=================================================================== */
.todo-list {
  border-top: 1px solid #d1d4d7;
}
.todo-list ul {
  margin: 0;
  padding: 0 10px;
  list-style: none;
  min-height: 40px;
}
.todo-list ul:empty {
  padding: 0 !important;
  text-align: center;
  height: 40px;
  line-height: 40px;
}
.todo-list ul:empty:before {
  content: "You're awesome! Everything is done";
}
.todo-list ul li {
  position: relative;
  line-height: 40px;
  border-bottom: 1px solid #e4e5e6;
  overflow: hidden;
  padding: 0 15px 0 55px;
  background: white;
}
.todo-list ul li:before,
.todo-list ul li:after {
  position: absolute;
  content: '';
  height: 25px;
  width: 3px;
  border-left: 1px dotted #d1d4d7;
  border-right: 1px dotted #d1d4d7;
  top: 10px;
}
.todo-list ul li:before {
  left: 8px;
}
.todo-list ul li:after {
  left: 10px;
}
.todo-list ul li:last-child {
  border-bottom: none;
}
.todo-list ul li .desc {
  display: inline-block;
  margin-top: 3px;
}
.todo-list ul li .custom-checkbox-item {
  position: absolute;
  top: 1px;
  left: 24px;
}
.todo-list ul.completed {
  color: #8d949c;
  border-bottom: 1px solid #d1d4d7;
  min-height: 0px !important;
}
.todo-list ul.completed:empty {
  border-bottom: 1px solid #d1d4d7;
  height: 0px !important;
}
.todo-list ul.completed:empty:before {
  display: none;
}
.todo-list ul.completed li:first-child {
  border-top: 3px double #e4e5e6;
}
.todo-list ul.completed li span {
  text-decoration: line-through;
}
.todo-list ul:empty {
  padding: 5px;
}
/* UI - Sliders
=================================================================== */
.slider {
  background: #e4e5e6;
  border: none;
  position: relative;
  z-index: 10;
  margin: 5px 0px !important;
  border-radius: 2px;
}
.slider .ui-slider-range {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  background: #20a8d8;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  border-radius: 2px;
}
.slider .ui-slider-handle {
  border-radius: 2px;
  background: white;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  border: 1px solid #d1d4d7;
}
.slider.slider-success .ui-slider-range {
  background: #4dbd74;
}
.slider.slider-info .ui-slider-range {
  background: #63c2de;
}
.slider.slider-warning .ui-slider-range {
  background: #f8cb00;
}
.slider.slider-danger .ui-slider-range {
  background: #f86c6b;
}
.slider.slim {
  height: 6px;
}
.slider.slim .ui-slider-handle {
  margin-top: -1px;
  height: 14px;
  width: 14px;
}
.slider.vertical {
  float: left;
  height: 100px;
  margin: 10px 20px !important;
}
.slider.vertical .ui-slider-handle {
  margin-left: -3px;
}
.slider.vertical.slim {
  width: 6px;
}
.slider.vertical.slim .ui-slider-handle {
  margin-left: -4px;
}
/* UI - Progress Bars
=================================================================== */
.progressbar {
  background: #e4e5e6;
  color: #d1d4d7;
  border: none;
  height: 12px;
  position: relative;
  border-radius: 2px;
}
.progressbar .ui-progressbar-value {
  background: #20a8d8;
  border: none;
  height: 100%;
  top: 1px;
  position: absolute;
  left: 1px;
  border-radius: 1px;
}
.progressbar.progress-success .ui-progressbar-value {
  background: #4dbd74;
}
.progressbar.progress-info .ui-progressbar-value {
  background: #63c2de;
}
.progressbar.progress-warning .ui-progressbar-value {
  background: #f8cb00;
}
.progressbar.progress-danger .ui-progressbar-value {
  background: #f86c6b;
}
.progressbar.slim {
  height: 6px;
}
/*
 * Copyright (c) 2013 Thibaut Courouble
 * http://www.cssflow.com
 *
 * Licensed under the MIT License:
 * http://www.opensource.org/licenses/mit-license.php
 */
.switch {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 56px;
  height: 20px;
  background-color: transparent;
  cursor: pointer;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  overflow: hidden;
}
.switch-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.switch-label {
  border: 1px solid #d1d4d7;
  border-radius: 2px;
  position: relative;
  display: block;
  height: inherit;
  font-size: 10px;
  text-transform: uppercase;
  background: white;
  -webkit-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
  -webkit-transition-property: opacity background;
  -o-transition-property: opacity background;
  transition-property: opacity background;
}
.switch-label:before,
.switch-label:after {
  position: absolute;
  top: 50%;
  margin-top: -0.5em;
  line-height: 1;
  -webkit-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
}
.switch-label:before {
  content: attr(data-off);
  right: 11px;
  color: #d1d4d7;
}
.switch-label:after {
  content: attr(data-on);
  left: 11px;
  color: white;
  opacity: 0;
}
.switch-input:checked ~ .switch-label {
  background: #f8f9fa;
}
.switch-input:checked ~ .switch-label:before {
  opacity: 0;
}
.switch-input:checked ~ .switch-label:after {
  opacity: 1;
}
.switch-handle {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  border: 1px solid #d1d4d7;
  border-radius: 1px;
  background: white;
  -webkit-transition: left 0.15s ease-out;
  -o-transition: left 0.15s ease-out;
  transition: left 0.15s ease-out;
}
.switch-input:checked ~ .switch-handle {
  left: 38px;
}
.switch-default > .switch-input:checked ~ .switch-label {
  background: #d1d4d7;
}
.switch-primary > .switch-input:checked ~ .switch-label {
  background: #20a8d8;
  border-color: #1985ac;
}
.switch-primary > .switch-input:checked ~ .switch-handle {
  border-color: #1985ac;
}
.switch-success > .switch-input:checked ~ .switch-label {
  background: #4dbd74;
  border-color: #3a9d5d;
}
.switch-success > .switch-input:checked ~ .switch-handle {
  border-color: #3a9d5d;
}
.switch-warning > .switch-input:checked ~ .switch-label {
  background: #f8cb00;
  border-color: #c5a100;
}
.switch-warning > .switch-input:checked ~ .switch-handle {
  border-color: #c5a100;
}
.switch-info > .switch-input:checked ~ .switch-label {
  background: #63c2de;
  border-color: #39b2d5;
}
.switch-info > .switch-input:checked ~ .switch-handle {
  border-color: #39b2d5;
}
.switch-danger > .switch-input:checked ~ .switch-label {
  background: #f86c6b;
  border-color: #f63c3a;
}
.switch-danger > .switch-input:checked ~ .switch-handle {
  border-color: #f63c3a;
}
table tr td.left,
table tr th.left {
  text-align: left;
}
table tr td.center,
table tr th.center {
  text-align: center;
}
table tr td.right,
table tr th.right {
  text-align: right;
}
table tr td .progress {
  margin: 3px 0 0 0;
}
table.table-clear tr,
table.table-clear td {
  border: none !important;
}
table.small-font {
  font-size: 12px;
}
.table thead > tr > th,
.table tbody > tr > th,
.table tfoot > tr > th,
.table thead > tr > td,
.table tbody > tr > td,
.table tfoot > tr > td {
  padding: 8px;
  line-height: 1.428571429;
  vertical-align: top;
  border-top: 1px solid #d1d4d7;
}
.table thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #d1d4d7;
}
.table-bordered {
  border: 1px solid #d1d4d7;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #d1d4d7;
}
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #f8f9fa;
}
.weather.widget .today {
  margin: -15px -15px 1px -15px;
  background: #20a8d8;
  padding-bottom: 20px;
  color: white;
}
.weather.widget .today i.climacon {
  font-size: 198px !important;
  margin: 0;
  padding: 0;
}
.weather.widget ul.forecast {
  display: table;
  table-layout: fixed;
  width: 100%;
  margin: 0 ;
  padding: 0;
  text-align: center;
  padding-top: 15px;
}
.weather.widget ul.forecast li {
  display: table-cell;
}
.weather.widget ul.forecast i {
  display: block;
  width: 100%;
  color: #d1d4d7;
  font-size: 38px;
}
.weather.widget ul.forecast .label {
  display: inline-block;
  margin-bottom: 5px;
}
/* .info-box
=================================================================== */
.info-box {
  min-height: 140px;
  margin-bottom: 30px;
  padding: 20px;
  color: white;
}
.info-box i {
  display: block;
  height: 100px;
  font-size: 60px;
  line-height: 100px;
  width: 100px;
  float: left;
  text-align: center;
  border-right: 2px solid rgba(255, 255, 255, 0.5);
  margin-right: 20px;
  padding-right: 20px;
  color: rgba(255, 255, 255, 0.75);
}
.info-box .count {
  margin-top: -10px;
  font-size: 34px;
  font-weight: 700;
}
.info-box .title {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
}
.info-box .desc {
  margin-top: 10px;
  font-size: 12px;
}
.info-box.danger {
  background: #f86c6b;
}
.info-box.warning {
  background: #f8cb00;
}
.info-box.primary {
  background: #20a8d8;
}
.info-box.info {
  background: #63c2de;
}
.info-box.success {
  background: #4dbd74;
}
/* .social-box
=================================================================== */
.social-box {
  min-height: 160px;
  background: white;
  margin-bottom: 30px;
  text-align: center;
}
.social-box i {
  display: block;
  font-size: 40px;
  line-height: 90px;
  background: #f8f9fa;
}
.social-box ul {
  list-style: none;
  padding: 10px 0;
}
.social-box ul li {
  display: block;
  width: 50%;
  float: left;
}
.social-box ul li:first-child {
  border-right: 1px solid #e4e5e6;
}
.social-box ul li strong {
  display: block;
  font-size: 20px;
}
.social-box ul li span {
  color: #d1d4d7;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 10px;
}
.social-box.facebook i {
  background: #3b5998;
  color: white;
}
.social-box.twitter i {
  background: #00aced;
  color: white;
}
.social-box.linkedin i {
  background: #4875b4;
  color: white;
}
.social-box.google-plus i {
  background: #bb4b39;
  color: white;
}
ul.statistics {
  padding: 0;
  margin-bottom: 30px;
  list-style: none;
  background: white;
  display: table;
  table-layout: fixed;
  width: 100%;
}
ul.statistics li {
  height: 150px;
  text-align: right;
  padding: 15px;
  border-right: 1px solid #d1d4d7;
  margin-right: -1px;
  font-size: 14px;
  position: relative;
  display: table-cell;
}
ul.statistics li:last-child {
  border-right: none;
}
ul.statistics li i {
  font-size: 44px;
  color: #d1d4d7;
  top: 10px;
  right: 10px;
  position: absolute;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
ul.statistics li div {
  text-align: left;
}
ul.statistics li div.number {
  margin-top: 60px;
  font-size: 24px;
}
ul.statistics li div.title {
  color: #727b83;
  margin-top: -2px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 11px;
}
ul.statistics li div.progress {
  margin-bottom: 0;
  height: 4px;
}
ul.statistics li:hover i {
  font-size: 60px;
  opacity: .5;
  -ms-transform: rotate(-5deg);
  /* IE 9 */
  -webkit-transform: rotate(-5deg);
  /* Chrome, Safari, Opera */
  -o-transform: rotate(-5deg);
     transform: rotate(-5deg);
}
@media (max-width: 479px) {
  ul.statistics {
    margin-bottom: 10px;
  }
  ul.statistics li {
    border-top: 1px solid #d1d4d7;
    border-right: 1px solid #d1d4d7;
    display: block !important;
    width: 50% !important;
    float: left;
  }
  ul.statistics li:nth-child(1),
  ul.statistics li:nth-child(2) {
    border-top: none;
  }
  ul.statistics li:nth-child(2n) {
    border-right: none;
  }
}
div.dataTables_length label {
  font-weight: normal;
  float: left;
  text-align: left;
}
div.dataTables_length select {
  width: 75px;
}
div.dataTables_filter label {
  font-weight: normal;
  float: right;
}
div.dataTables_info {
  padding-top: 8px;
}
div.dataTables_paginate {
  float: right;
  margin: 0;
}
div.dataTables_paginate ul.pagination {
  margin: 2px;
}
table.table {
  clear: both;
  margin-top: 6px !important;
  margin-bottom: 6px !important;
  max-width: none !important;
}
table.table .btn {
  margin: 1px 0;
}
table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
  cursor: pointer;
}
table.table thead .sorting {
  background: url('../plugins/datatables/images/sort_both.png') no-repeat center right;
}
table.table thead .sorting_asc {
  background: url('../plugins/datatables/images/sort_asc.png') no-repeat center right;
}
table.table thead .sorting_desc {
  background: url('../plugins/datatables/images/sort_desc.png') no-repeat center right;
}
table.table thead .sorting_asc_disabled {
  background: url('../plugins/datatables/images/sort_asc_disabled.png') no-repeat center right;
}
table.table thead .sorting_desc_disabled {
  background: url('../plugins/datatables/images/sort_desc_disabled.png') no-repeat center right;
}
table.dataTable th:active {
  outline: none;
}
/* Scrolling */
div.dataTables_scrollHead table {
  margin-bottom: 0 !important;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
div.dataTables_scrollHead table thead tr:last-child th:first-child,
div.dataTables_scrollHead table thead tr:last-child td:first-child {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
div.dataTables_scrollBody table {
  border-top: none;
  margin-bottom: 0 !important;
}
div.dataTables_scrollBody tbody tr:first-child th,
div.dataTables_scrollBody tbody tr:first-child td {
  border-top: none;
}
div.dataTables_scrollFoot table {
  border-top: none;
}
/*
 * TableTools styles
 */
.table tbody tr.active td,
.table tbody tr.active th {
  background-color: #08C;
  color: white;
}
.table tbody tr.active:hover td,
.table tbody tr.active:hover th {
  background-color: #0075b0 !important;
}
.table-striped tbody tr.active:nth-child(odd) td,
.table-striped tbody tr.active:nth-child(odd) th {
  background-color: #017ebc;
}
table.DTTT_selectable tbody tr {
  cursor: pointer;
}
div.DTTT .btn {
  color: #333 !important;
  font-size: 12px;
}
div.DTTT .btn:hover {
  text-decoration: none !important;
}
ul.DTTT_dropdown.dropdown-menu {
  z-index: 2003;
}
ul.DTTT_dropdown.dropdown-menu a {
  color: #333 !important;
  /* needed only when demo_page.css is included */
}
ul.DTTT_dropdown.dropdown-menu li {
  position: relative;
}
ul.DTTT_dropdown.dropdown-menu li:hover a {
  background-color: #0088cc;
  color: white !important;
}
/* TableTools information display */
div.DTTT_print_info.modal {
  height: 150px;
  margin-top: -75px;
  text-align: center;
}
div.DTTT_print_info h6 {
  font-weight: normal;
  font-size: 28px;
  line-height: 28px;
  margin: 1em;
}
div.DTTT_print_info p {
  font-size: 14px;
  line-height: 20px;
}
/*
 * FixedColumns styles
 */
div.DTFC_LeftHeadWrapper table,
div.DTFC_LeftFootWrapper table,
div.DTFC_RightHeadWrapper table,
div.DTFC_RightFootWrapper table,
table.DTFC_Cloned tr.even {
  background-color: white;
}
div.DTFC_RightHeadWrapper table,
div.DTFC_LeftHeadWrapper table {
  margin-bottom: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
div.DTFC_RightHeadWrapper table thead tr:last-child th:first-child,
div.DTFC_RightHeadWrapper table thead tr:last-child td:first-child,
div.DTFC_LeftHeadWrapper table thead tr:last-child th:first-child,
div.DTFC_LeftHeadWrapper table thead tr:last-child td:first-child {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
div.DTFC_RightBodyWrapper table,
div.DTFC_LeftBodyWrapper table {
  border-top: none;
  margin-bottom: 0 !important;
}
div.DTFC_RightBodyWrapper tbody tr:first-child th,
div.DTFC_RightBodyWrapper tbody tr:first-child td,
div.DTFC_LeftBodyWrapper tbody tr:first-child th,
div.DTFC_LeftBodyWrapper tbody tr:first-child td {
  border-top: none;
}
div.DTFC_RightFootWrapper table,
div.DTFC_LeftFootWrapper table {
  border-top: none;
}
/* Retina Display Hack
=================================================================== */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  table.table thead .sorting {
    background: url('../plugins/datatables/images/sort_both@2x.png') no-repeat center right;
    -webkit-background-size: 19px 19px;
            background-size: 19px 19px;
  }
  table.table thead .sorting_asc {
    background: url('../plugins/datatables/images/sort_asc@2x.png') no-repeat center right;
    -webkit-background-size: 19px 19px;
            background-size: 19px 19px;
  }
  table.table thead .sorting_desc {
    background: url('../plugins/datatables/images/sort_desc@2x.png') no-repeat center right;
    -webkit-background-size: 19px 19px;
            background-size: 19px 19px;
  }
  table.table thead .sorting_asc_disabled {
    background: url('../plugins/datatables/images/sort_asc_disabled@2x.png') no-repeat center right;
    -webkit-background-size: 19px 19px;
            background-size: 19px 19px;
  }
  table.table thead .sorting_desc_disabled {
    background: url('../plugins/datatables/images/sort_desc_disabled@2x.png') no-repeat center right;
    -webkit-background-size: 19px 19px;
            background-size: 19px 19px;
  }
}
/* Just Gage - Demo Charts
=================================================================== */
.sz1 {
  width: 200px;
  height: 160px;
}
.sz0 {
  margin: 2em 0 0 0;
}
.sz0 {
  width: 100px;
  height: 80px;
}
/**
 * Nestable
 */
.dd {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 13px;
  line-height: 20px;
}
.dd-list {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}
.dd-list .dd-list {
  padding-left: 30px;
}
.dd-collapsed .dd-list {
  display: none;
}
.dd-item,
.dd-empty,
.dd-placeholder {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 20px;
  font-size: 13px;
  line-height: 20px;
}
.dd-handle {
  display: block;
  height: 30px;
  margin: 5px 0;
  padding: 4px 10px;
  text-decoration: none;
  border: 1px solid #d1d4d7;
  background: #e4e5e6;
  border-radius: 1px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.dd-handle:hover {
  color: #20a8d8;
  background: white;
}
.dd-handle .icon {
  float: right;
  font-size: 16px;
  margin-left: 10px;
}
.dd-handle .icon:hover {
  text-decoration: none;
}
.dd-item > button {
  display: block;
  position: relative;
  cursor: pointer;
  float: left;
  width: 25px;
  height: 20px;
  margin: 5px 0;
  padding: 0;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  border: 0;
  background: transparent;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  font-weight: bold;
}
.dd-item > button:before {
  content: '+';
  display: block;
  position: absolute;
  width: 100%;
  text-align: center;
  text-indent: 0;
}
.dd-item > button[data-action="collapse"]:before {
  content: '-';
}
.dd-placeholder,
.dd-empty {
  margin: 5px 0;
  padding: 0;
  min-height: 30px;
  background: #f2fbff;
  border: 1px dashed #b6bcbf;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.dd-empty {
  border: 1px dashed #bbb;
  min-height: 100px;
  background-color: #e5e5e5;
  -webkit-background-size: 60px 60px;
          background-size: 60px 60px;
  background-position: 0 0, 30px 30px;
}
.dd-dragel {
  position: absolute;
  pointer-events: none;
  z-index: 9999;
}
.dd-dragel > .dd-item .dd-handle {
  margin-top: 0;
}
.dd-dragel .dd-handle {
  -webkit-box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.1);
}
/**
 * Nestable Extras
 */
.nestable-lists {
  display: block;
  clear: both;
  padding: 30px 0;
  width: 100%;
  border: 0;
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
}
#nestable-menu {
  padding: 0;
  margin: 20px 0;
}
#nestable-output,
#nestable2-output {
  width: 100%;
  height: 7em;
  font-size: 0.75em;
  line-height: 1.333333em;
  font-family: Consolas, monospace;
  padding: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#nestable2 .dd-handle {
  color: white;
  border: 1px solid #d1d4d7;
  background: #d1d4d7;
}
#nestable2 .dd-handle:hover {
  border: 1px solid #d1d4d7;
  background: #d1d4d7;
}
#nestable2 .dd-item > button:before {
  color: #fff;
}
@media only screen and (min-width: 700px) {
  .dd {
    float: left;
    width: 48%;
  }
  .dd + .dd {
    margin-left: 2%;
  }
}
.dd-hover > .dd-handle {
  background: #2ea8e5 !important;
}
/**
 * Nestable Draggable Handles
 */
.dd3-content {
  display: block;
  height: 30px;
  margin: 5px 0;
  padding: 5px 10px 5px 40px;
  text-decoration: none;
  font-weight: bold;
  border: 1px solid #d1d4d7;
  background: #e4e5e6;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.dd3-content:hover {
  color: #20a8d8;
  background: #fff;
}
.dd-dragel > .dd3-item > .dd3-content {
  margin: 0;
}
.dd3-item > button {
  margin-left: 30px;
}
.dd3-handle {
  position: absolute;
  margin: 0;
  left: 0;
  top: 0;
  cursor: pointer;
  width: 30px;
  white-space: nowrap;
  overflow: hidden;
  border: 1px solid #d1d4d7;
  background: #d1d4d7;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  color: white;
}
.dd3-handle:hover {
  background: #d1d4d7;
  color: white;
}
/* Wizard
=================================================================== */
.wizard-type1 {
  margin-top: -15px;
}
.wizard-type1 .progress {
  height: 4px;
  margin: 1px -15px 0 -15px;
  border-radius: 0px;
}
.wizard-type1 ul.steps {
  margin: 0 -15px;
  line-height: 39px;
  height: 39px;
  background: #e4e5e6;
  overflow: hidden;
}
.wizard-type1 ul.steps li {
  margin: 0;
}
.wizard-type1 ul.steps li a {
  padding: 0 10px;
  height: 39px;
  border-radius: 0px;
  color: #3d3f42;
  margin: 0;
  font-size: 12px;
}
.wizard-type1 ul.steps li a .badge {
  background-color: #d1d4d7;
  color: #3d3f42;
  margin-right: 5px;
}
.wizard-type1 ul.steps li.active a {
  background: white;
  border-left: 1px solid #d1d4d7;
  border-right: 1px solid #d1d4d7;
  margin: 0 -1px;
  color: #3d3f42;
}
.wizard-type1 ul.steps li.active a .badge {
  background-color: #20a8d8;
  color: white;
}
.wizard-type1 ul.steps li.complete a {
  background: white;
}
.wizard-type1 ul.steps li.complete a .badge {
  background-color: #4dbd74;
  color: white;
}
.wizard-type1 .tab-pane {
  padding: 15px 0;
}
.wizard-type1 .actions {
  border-top: 1px solid #d1d4d7;
  background: #e4e5e6;
  margin: 0 -15px -15px -15px;
  padding: 15px;
}
.wizard-type2 {
  margin-top: -55px;
}
.wizard-type2 .progress {
  height: 4px;
  margin: 10px -5px 0 -5px;
}
.wizard-type2 ul.steps {
  margin: 0 -15px;
  line-height: 40px;
  height: 40px;
  overflow: hidden;
}
.wizard-type2 ul.steps li {
  margin: 0;
}
.wizard-type2 ul.steps li a {
  padding: 0 20px;
  height: 40px;
  border-radius: 0px;
  color: #d1d4d7;
  margin: 0;
  font-size: 12px;
  font-weight: 300;
}
.wizard-type2 ul.steps li.active a {
  background: transparent;
  color: #7a7f84;
  border-bottom: 1px solid #7a7f84;
}
.wizard-type2 ul.steps li.complete a {
  background: transparent;
  color: #4dbd74;
  border-bottom: 1px solid #4dbd74;
}
.wizard-type2 .tab-pane {
  padding: 15px 0;
}
/*
 * Datepicker for Bootstrap
 *
 * Copyright 2012 Stefan Petre
 * Improvements by Andrew Rowls
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 */
.datepicker {
  padding: 4px;
  border-radius: 4px;
  direction: ltr;
  /*.dow {
		border-top: 1px solid #ddd !important;
	}*/
}
.datepicker-inline {
  width: 220px;
}
.datepicker.datepicker-rtl {
  direction: rtl;
}
.datepicker.datepicker-rtl table tr td span {
  float: right;
}
.datepicker-dropdown {
  top: 0;
  left: 0;
}
.datepicker-dropdown:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-top: 0;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: absolute;
}
.datepicker-dropdown:after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid white;
  border-top: 0;
  position: absolute;
}
.datepicker-dropdown.datepicker-orient-left:before {
  left: 6px;
}
.datepicker-dropdown.datepicker-orient-left:after {
  left: 7px;
}
.datepicker-dropdown.datepicker-orient-right:before {
  right: 6px;
}
.datepicker-dropdown.datepicker-orient-right:after {
  right: 7px;
}
.datepicker-dropdown.datepicker-orient-top:before {
  top: -7px;
}
.datepicker-dropdown.datepicker-orient-top:after {
  top: -6px;
}
.datepicker-dropdown.datepicker-orient-bottom:before {
  bottom: -7px;
  border-bottom: 0;
  border-top: 7px solid #999;
}
.datepicker-dropdown.datepicker-orient-bottom:after {
  bottom: -6px;
  border-bottom: 0;
  border-top: 6px solid white;
}
.datepicker > div {
  display: none;
}
.datepicker.days div.datepicker-days {
  display: block;
}
.datepicker.months div.datepicker-months {
  display: block;
}
.datepicker.years div.datepicker-years {
  display: block;
}
.datepicker table {
  margin: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.datepicker td,
.datepicker th {
  text-align: center;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  border: none;
}
.table-striped .datepicker table tr td,
.table-striped .datepicker table tr th {
  background-color: transparent;
}
.datepicker table tr td.day:hover {
  background: #eee;
  cursor: pointer;
}
.datepicker table tr td.old,
.datepicker table tr td.new {
  color: #2a2c36;
}
.datepicker table tr td.disabled,
.datepicker table tr td.disabled:hover {
  background: none;
  color: #e4e5e6;
  cursor: default;
}
.datepicker table tr td.today,
.datepicker table tr td.today:hover,
.datepicker table tr td.today.disabled,
.datepicker table tr td.today.disabled:hover {
  background: #20a8d8;
  color: #000;
}
.datepicker table tr td.today:hover:hover {
  color: #000;
}
.datepicker table tr td.today.active:hover {
  color: #fff;
}
.datepicker table tr td.range,
.datepicker table tr td.range:hover,
.datepicker table tr td.range.disabled,
.datepicker table tr td.range.disabled:hover {
  background: #eee;
  border-radius: 0;
}
.datepicker table tr td.range.today,
.datepicker table tr td.range.today:hover,
.datepicker table tr td.range.today.disabled,
.datepicker table tr td.range.today.disabled:hover {
  background: #f3c17a;
  border-radius: 0;
}
.datepicker table tr td.selected,
.datepicker table tr td.selected:hover,
.datepicker table tr td.selected.disabled,
.datepicker table tr td.selected.disabled:hover {
  background: #e4e5e6;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.datepicker table tr td.active,
.datepicker table tr td.active:hover,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled:hover {
  background: #20a8d8;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.datepicker table tr td span {
  display: block;
  width: 23%;
  height: 54px;
  line-height: 54px;
  float: left;
  margin: 1%;
  cursor: pointer;
  border-radius: 4px;
}
.datepicker table tr td span:hover {
  background: #eee;
}
.datepicker table tr td span.disabled,
.datepicker table tr td span.disabled:hover {
  background: none;
  color: #e4e5e6;
  cursor: default;
}
.datepicker table tr td span.active,
.datepicker table tr td span.active:hover,
.datepicker table tr td span.active.disabled,
.datepicker table tr td span.active.disabled:hover {
  background: #20a8d8;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.datepicker table tr td span.old,
.datepicker table tr td span.new {
  color: #e4e5e6;
}
.datepicker th.datepicker-switch {
  width: 145px;
}
.datepicker thead tr:first-child th,
.datepicker tfoot tr th {
  cursor: pointer;
}
.datepicker thead tr:first-child th:hover,
.datepicker tfoot tr th:hover {
  background: #eee;
}
.datepicker .cw {
  font-size: 10px;
  width: 12px;
  padding: 0 2px 0 5px;
  vertical-align: middle;
}
.datepicker thead tr:first-child th.cw {
  cursor: default;
  background-color: transparent;
}
.input-append.date .add-on i,
.input-prepend.date .add-on i {
  display: block;
  cursor: pointer;
  width: 16px;
  height: 16px;
}
.input-daterange input {
  text-align: center;
}
.input-daterange input:first-child {
  border-radius: 3px 0 0 3px;
}
.input-daterange input:last-child {
  border-radius: 0 3px 3px 0;
}
.input-daterange .add-on {
  display: inline-block;
  width: auto;
  min-width: 16px;
  height: 18px;
  padding: 4px 5px;
  font-weight: normal;
  line-height: 18px;
  text-align: center;
  text-shadow: 0 1px 0 white;
  vertical-align: middle;
  background-color: #eee;
  border: 1px solid #ccc;
  margin-left: -5px;
  margin-right: -5px;
}
/*
 * Timepicker Component for Twitter Bootstrap
 *
 * Copyright 2013 Joris de Wit
 *
 * Contributors https://github.com/jdewit/bootstrap-timepicker/graphs/contributors
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
.bootstrap-timepicker {
  position: relative;
}
.bootstrap-timepicker.pull-right .bootstrap-timepicker-widget.dropdown-menu {
  left: auto;
  right: 0;
}
.bootstrap-timepicker.pull-right .bootstrap-timepicker-widget.dropdown-menu:before {
  left: auto;
  right: 12px;
}
.bootstrap-timepicker.pull-right .bootstrap-timepicker-widget.dropdown-menu:after {
  left: auto;
  right: 13px;
}
.bootstrap-timepicker .input-group-addon {
  cursor: pointer;
  border-radius: 2px 0px 0px 2px !important;
  border-right: 0px;
}
.bootstrap-timepicker-widget.dropdown-menu {
  padding: 2px 3px 2px 2px;
  margin-left: 0px;
}
.bootstrap-timepicker-widget.dropdown-menu.open {
  display: inline-block;
}
.bootstrap-timepicker-widget.dropdown-menu:before {
  border-bottom: 7px solid rgba(0, 0, 0, 0.2);
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  content: "";
  display: inline-block;
  left: 9px;
  position: absolute;
  top: -7px;
}
.bootstrap-timepicker-widget.dropdown-menu:after {
  border-bottom: 6px solid #FFFFFF;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  content: "";
  display: inline-block;
  left: 10px;
  position: absolute;
  top: -6px;
}
.bootstrap-timepicker-widget a.btn,
.bootstrap-timepicker-widget input {
  border-radius: 4px;
}
.bootstrap-timepicker-widget table {
  width: 100%;
  margin: 0;
}
.bootstrap-timepicker-widget table td {
  text-align: center;
  height: 30px;
  margin: 0;
  padding: 2px;
}
.bootstrap-timepicker-widget table td:not(.separator) {
  min-width: 30px;
}
.bootstrap-timepicker-widget table td span {
  width: 100%;
}
.bootstrap-timepicker-widget table td a {
  border: 1px transparent solid;
  width: 100%;
  display: inline-block;
  margin: 0;
  padding: 8px 0;
  outline: 0;
  color: #333;
}
.bootstrap-timepicker-widget table td a:hover {
  text-decoration: none;
  background-color: #eee;
  border-radius: 4px;
  border-color: #ddd;
}
.bootstrap-timepicker-widget table td a i {
  margin-top: 2px;
}
.bootstrap-timepicker-widget table td input {
  width: 25px;
  margin: 0;
  text-align: center;
  border: 1px solid #d1d4d7;
}
.bootstrap-timepicker-widget .modal-content {
  padding: 4px;
}
@media (min-width: 767px) {
  .bootstrap-timepicker-widget.modal {
    width: 200px;
    margin-left: -100px;
  }
}
@media (max-width: 767px) {
  .bootstrap-timepicker {
    width: 100%;
  }
  .bootstrap-timepicker .dropdown-menu {
    width: 100%;
  }
}
.daterangepicker .ranges .input-mini {
  background-color: #f8f9fa;
  border: 1px solid #d1d4d7;
  border-radius: 0px;
  color: #3d3f42;
}
.daterangepicker .ranges ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.daterangepicker .ranges li {
  background: #f8f9fa;
  border: 1px solid #d1d4d7;
  color: #3d3f42;
  border-radius: 0px;
  padding: 4px 10px;
  margin-bottom: 9px;
}
.daterangepicker .ranges li.active,
.daterangepicker .ranges li:hover {
  background: #20a8d8;
  border: 1px solid #20a8d8;
}
.daterangepicker .calendar-date {
  border: 1px solid #d1d4d7;
  border-radius: 0px;
  margin-top: -1px;
}
.daterangepicker {
  padding: 5px 4px 4px 4px;
  border-radius: 0px;
  border: 1px solid #d1d4d7;
}
.daterangepicker td.available:hover,
.daterangepicker th.available:hover {
  background: #f8f9fa;
}
.daterangepicker td.in-range {
  background: #e3f5fb;
}
.daterangepicker td.active,
.daterangepicker td.active:hover {
  background-color: #20a8d8;
  border-color: #20a8d8;
}
/*
 * Colorpicker for Bootstrap
 *
 * Copyright 2012 Stefan Petre
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 */
.colorpicker-saturation {
  width: 100px;
  height: 100px;
  background-image: url(../img/saturation.png);
  cursor: crosshair;
  float: left;
}
.colorpicker-saturation i {
  display: block;
  height: 5px;
  width: 5px;
  border: 1px solid #000;
  border-radius: 0px;
  position: absolute;
  top: 0;
  left: 0;
  margin: -4px 0 0 -4px;
}
.colorpicker-saturation i b {
  display: block;
  height: 5px;
  width: 5px;
  border: 1px solid #fff;
  border-radius: 0px;
}
.colorpicker-hue,
.colorpicker-alpha {
  width: 15px;
  height: 100px;
  float: left;
  cursor: row-resize;
  margin-left: 4px;
  margin-bottom: 4px;
}
.colorpicker-hue i,
.colorpicker-alpha i {
  display: block;
  height: 1px;
  background: #000;
  border-top: 1px solid #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: -1px;
}
.colorpicker-hue {
  background-image: url(../img/hue.png);
}
.colorpicker-alpha {
  background-image: url(../img/alpha.png);
  display: none;
}
.colorpicker {
  *zoom: 1;
  top: 0;
  left: 0;
  padding: 4px;
  min-width: 120px;
  margin-top: 1px;
  border-radius: 4px;
}
.colorpicker:before,
.colorpicker:after {
  display: table;
  content: "";
  line-height: 0;
}
.colorpicker:after {
  clear: both;
}
.colorpicker:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -7px;
  left: 6px;
}
.colorpicker:after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid white;
  position: absolute;
  top: -6px;
  left: 7px;
}
.colorpicker div {
  position: relative;
}
.colorpicker.alpha {
  min-width: 140px;
}
.colorpicker.alpha .colorpicker-alpha {
  display: block;
}
.colorpicker-color {
  height: 10px;
  margin-top: 5px;
  clear: both;
  background-image: url(../img/alpha.png);
  background-position: 0 100%;
}
.colorpicker-color div {
  height: 10px;
}
.input-append.color .add-on i,
.input-prepend.color .add-on i {
  display: block;
  cursor: pointer;
  width: 16px;
  height: 16px;
}
.input-group.color .input-group-addon i {
  display: block;
  cursor: pointer;
  width: 13px;
}
/* the norm */
#gritter-notice-wrapper {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 301px;
  z-index: 9999;
}
.gritter-item-wrapper {
  position: relative;
  margin: 0 0 10px 0;
  padding: 0;
  background: none;
}
.gritter-top,
.gritter-bottom {
  display: none;
}
.gritter-item {
  background: rgba(0, 0, 0, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px 15px;
  font-size: 12px;
  font-family: inherit;
  -webkit-box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.1);
}
.gritter-item p {
  padding: 0 20px 0 0;
}
.gritter-close {
  display: inline !important;
  top: 6px;
  left: auto;
  right: 5px;
  background: none;
  filter: alpha(opacity=20);
  opacity: .2;
}
.gritter-close:after {
  width: 100%;
  height: 100%;
  color: white;
  content: '×';
  position: absolute;
  top: 0;
  left: 0;
  text-indent: 0;
  line-height: 26px;
  text-align: center;
  font-size: 21px;
  font-weight: 800;
  text-shadow: 0 1px 0 black;
}
.gritter-close:hover {
  filter: alpha(opacity=50);
  opacity: .5;
}
.gritter-title {
  text-shadow: none;
}
.gritter-image {
  margin-left: -5px;
}
.gritter-icon .gritter-title {
  padding: 0 20px 0 40px;
}
.gritter-icon .gritter-title i {
  position: absolute;
  left: 10px;
  top: 15px;
  font-size: 40px;
  width: 40px;
  text-align: center;
  display: block;
}
.gritter-icon .gritter-item p {
  padding: 0 20px 0 40px;
}
.gritter-light .gritter-item {
  background: white;
  color: #3d3f42;
  border: 1px solid #d1d4d7;
}
.gritter-light .gritter-close {
  background: white;
}
.gritter-light .gritter-close:after {
  color: #000;
  text-shadow: 0 1px 0 #fff;
}
.gritter-default .gritter-item {
  background: #f8f9fa;
  color: #3d3f42;
  border: 1px solid #d1d4d7;
  -webkit-box-shadow: inset 0 0 1px 1px #ffffff, 0 2px 1px -1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 1px 1px #ffffff, 0 2px 1px -1px rgba(0, 0, 0, 0.1);
}
.gritter-default .gritter-close:after {
  color: #3d3f42;
  text-shadow: none;
}
.gritter-primary .gritter-item {
  background: #20a8d8;
  color: white;
  border: 1px solid #20a8d8;
}
.gritter-success .gritter-item {
  background: #4dbd74;
  color: white;
  border: 1px solid #4dbd74;
}
.gritter-info .gritter-item {
  background: #63c2de;
  color: white;
  border: 1px solid #63c2de;
}
.gritter-danger .gritter-item {
  background: #f86c6b;
  color: white;
  border: 1px solid #f86c6b;
}
.gritter-warning .gritter-item {
  background: #f8cb00;
  color: white;
  border: 1px solid #f8cb00;
}
.gritter-primary .gritter-close,
.gritter-success .gritter-close,
.gritter-info .gritter-close,
.gritter-danger .gritter-close,
.gritter-warning .gritter-close {
  opacity: 1;
}
.gritter-primary .gritter-close:after,
.gritter-success .gritter-close:after,
.gritter-info .gritter-close:after,
.gritter-danger .gritter-close:after,
.gritter-warning .gritter-close:after {
  color: white;
  text-shadow: none;
}
.gritter-facebook .gritter-item {
  background: #3b5998;
  color: white;
  border: 1px solid #3b5998;
}
.gritter-twitter .gritter-item {
  background: #00aced;
  color: white;
  border: 1px solid #00aced;
}
.gritter-linkedin .gritter-item {
  background: #4875b4;
  color: white;
  border: 1px solid #4875b4;
}
.gritter-tumblr .gritter-item {
  background: #32506d;
  color: white;
  border: 1px solid #32506d;
}
.gritter-google-plus .gritter-item {
  background: #bb4b39;
  color: white;
  border: 1px solid #bb4b39;
}
.gritter-instagram .gritter-item {
  background: #517fa4;
  color: white;
  border: 1px solid #517fa4;
}
.gritter-pinterest .gritter-item {
  background: #cb2027;
  color: white;
  border: 1px solid #cb2027;
}
.gritter-facebook .gritter-close,
.gritter-twitter .gritter-close,
.gritter-linkedin .gritter-close,
.gritter-tumblr .gritter-close,
.gritter-google-plus .gritter-close,
.gritter-instagram .gritter-close,
.gritter-pinterest .gritter-close {
  opacity: 1;
}
.gritter-facebook .gritter-close:after,
.gritter-twitter .gritter-close:after,
.gritter-linkedin .gritter-close:after,
.gritter-tumblr .gritter-close:after,
.gritter-google-plus .gritter-close:after,
.gritter-instagram .gritter-close:after,
.gritter-pinterest .gritter-close:after {
  color: white;
  text-shadow: none;
}
/*# sourceMappingURL=add-ons.css.map */