/* Basic
=================================================================== */
body {
  color: #3d3f42;
  background: #e4e5e6;
  font-family: 'Droid Sans' 'sans-serif';
}
a {
  color: #1985ac;
}
a:hover,
a a:focus {
  color: #167495;
}
h1 {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
}
h2 {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
}
h3 {
  font-size: 15px;
  line-height: 15px;
  font-weight: 400;
}
h4 {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
}
h5 {
  font-size: 13px;
  line-height: 13px;
  font-weight: 400;
}
h6 {
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
}
hr {
  border-top: 1px solid #e4e5e6;
}
.logo {
  font-family: 'Bad Script';
}
.tagline {
  font-family: 'Droid Sans';
}
.main {
  background: #e4e5e6;
  padding: 80px 30px 0 280px;
}
.breadcrumb {
  border-radius: 0px;
  height: 50px;
  line-height: 50px;
  padding: 0 15px;
  position: relative;
  margin: -30px -15px 0 -15px;
  background: none;
}
.breadcrumb li {
  position: relative;
}
.breadcrumb li a {
  color: #9aa1a8;
}
.breadcrumb > li + li:before {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f105";
}
.breadcrumb > .active {
  color: #3d3f42;
}
h1 {
  margin: 0px 0 20px 0;
}
.small,
small {
  color: #9aa1a8 !important;
}
.well {
  border: 1px solid #d1d4d7;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #f8f9fa;
  border-radius: 2px;
}
blockquote {
  font-size: 14px;
  border-left: 5px solid #e4e5e6;
  color: #d1d4d7;
}
blockquote.pull-right {
  border-right: 5px solid #e4e5e6;
}
.img-thumbnail {
  border-radius: 0px;
  border-color: #d1d4d7;
}
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
}
.pace-inactive {
  display: none;
}
.pace .pace-progress {
  background: #20a8d8;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  height: 2px;
  -webkit-transition: width 1s;
  -o-transition: width 1s;
  transition: width 1s;
}
.pace .pace-progress-inner {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  -webkit-box-shadow: 0 0 10px #20a8d8, 0 0 5px #20a8d8;
          box-shadow: 0 0 10px #20a8d8, 0 0 5px #20a8d8;
  opacity: 1.0;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  -o-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}
.pace .pace-activity {
  display: block;
  position: fixed;
  z-index: 2000;
  top: 62px;
  right: 15px;
  width: 14px;
  height: 14px;
  border: solid 2px transparent;
  border-top-color: #20a8d8;
  border-left-color: #20a8d8;
  border-radius: 10px;
  -webkit-animation: pace-spinner 400ms linear infinite;
  -ms-animation: pace-spinner 400ms linear infinite;
  -o-animation: pace-spinner 400ms linear infinite;
  animation: pace-spinner 400ms linear infinite;
}
@-webkit-keyframes pace-spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes pace-spinner {
  0% {
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-ms-keyframes pace-spinner {
  0% {
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes pace-spinner {
  0% {
    -webkit-transform: rotate(0deg);
         -o-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/* Text
=================================================================== */
.text-primary {
  color: #20a8d8;
}
.text-success {
  color: #4dbd74;
}
.text-info {
  color: #63c2de;
}
.text-warning {
  color: #f8cb00;
}
.text-danger {
  color: #f86c6b;
}
/* Main Colors
=================================================================== */
.backgroundColor.primary {
  background: #20a8d8;
}
.backgroundColor.success {
  background: #4dbd74;
}
.backgroundColor.info {
  background: #63c2de;
}
.backgroundColor.warning {
  background: #f8cb00;
}
.backgroundColor.danger {
  background: #f86c6b;
}
.backgroundColorTitle.primary .title {
  background: #20a8d8;
}
.backgroundColorTitle.success .title {
  background: #4dbd74;
}
.backgroundColorTitle.info .title {
  background: #63c2de;
}
.backgroundColorTitle.warning .title {
  background: #f8cb00;
}
.backgroundColorTitle.danger .title {
  background: #f86c6b;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
/* Header Section
=================================================================== */
.navbar {
  margin: 0;
  padding: 0;
  height: 50px;
  border: none;
  border-bottom: 1px solid #d1d4d7;
  border-radius: 0px;
  color: #2a2c36;
  line-height: 50px;
  background: white;
  position: fixed;
  width: 100%;
  z-index: 11;
}
.navbar .timer {
  color: #bcbfc1;
  border: 1px solid #d1d4d7;
  padding: 5px 10px;
  margin-right: 15px;
}
.navbar .timer i {
  font-size: 12px;
  margin-right: 5px;
}
.navbar .navbar-header {
  width: 200px;
}
.navbar .navbar-header .navbar-brand {
  color: #2a2c36;
  padding-left: 0;
}
.navbar .navbar-header .navbar-brand i {
  display: inline-block;
  width: 50px;
  float: left;
  text-align: center;
}
.navbar .navbar-header .navbar-brand .logo {
  font-family: 'Bad Script';
  font-size: 28px;
  line-height: 28px;
}
.navbar .navbar-actions {
  font-size: 20px;
}
.navbar .navbar-actions a {
  color: #bcbfc1;
  border-right: 1px solid #d1d4d7;
  padding: 0;
  line-height: 49px;
}
.navbar .navbar-form i {
  color: #bcbfc1;
  font-size: 16px;
}
.navbar .navbar-form input[type=text] {
  border: none;
  border-radius: 0px;
  margin-top: -5px;
  margin-left: -20px;
  padding-left: 30px;
  background: transparent;
  width: 300px;
  color: #bcbfc1;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.navbar .navbar-nav.navbar-right:last-child {
  margin-right: 15px;
}
.navbar .navbar-nav li a {
  width: 50px;
  position: relative;
  height: 49px;
  text-align: center;
}
.navbar .navbar-nav li a:hover {
  background: #f8f9fa;
}
.navbar .navbar-nav li a i {
  margin: 0;
  text-align: center;
  color: #bcbfc1;
  font-size: 18px;
}
.navbar .navbar-nav li a .badge {
  background: #f86c6b;
  position: absolute;
  top: 8px;
  right: 4px;
  font-size: 8px;
  line-height: 8px;
  padding: 4px 6px;
  border-radius: 50em;
}
.navbar .navbar-nav li .dropdown-toggle:active,
.navbar .navbar-nav li .open .dropdown-toggle:active {
  background-color: #f8f9fa !important;
}
.navbar .navbar-nav li .dropdown-menu {
  margin-top: 3px;
  border: none;
  border-radius: 0px;
  border: 1px solid #d1d4d7;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.125);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.125);
  padding: 0;
}
.navbar .navbar-nav li .dropdown-menu:active {
  background: transparent;
  border: 1px solid #d1d4d7 !important;
}
.navbar .navbar-nav li .dropdown-menu:active a {
  border: none !important;
}
.navbar .navbar-nav li .dropdown-menu:after {
  position: absolute;
  top: -7px;
  right: 12px;
  display: inline-block;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #f8f9fa;
  border-left: 8px solid transparent;
  content: '';
}
.navbar .navbar-nav li .dropdown-menu:before {
  position: absolute;
  top: -9.5px;
  right: 12px;
  display: inline-block;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #d1d4d7;
  border-left: 8px solid transparent;
  content: '';
}
.navbar .navbar-nav li .dropdown-menu li {
  padding: 0;
  position: relative;
  min-width: 250px;
  border-bottom: 1px solid #d1d4d7;
  line-height: 40px;
  padding: 0 15px;
}
.navbar .navbar-nav li .dropdown-menu li i {
  font-size: 14px;
}
.navbar .navbar-nav li .dropdown-menu li:last-child {
  border: none;
}
.navbar .navbar-nav li .dropdown-menu li.dropdown-menu-header,
.navbar .navbar-nav li .dropdown-menu li.dropdown-menu-footer {
  background: #f8f9fa;
}
.navbar .navbar-nav li .dropdown-menu li.dropdown-menu-header .progress,
.navbar .navbar-nav li .dropdown-menu li.dropdown-menu-footer .progress {
  border: 1px solid #d1d4d7;
  background: white;
}
.navbar .navbar-nav li .dropdown-menu li.dropdown-menu-header {
  border-bottom: 1px solid #d1d4d7;
}
.navbar .navbar-nav li .dropdown-menu li.divider {
  height: 5px;
  margin: 0;
  background-color: #f8f9fa;
}
.navbar .navbar-nav li .dropdown-menu li a {
  border-radius: 0px;
  line-height: 40px;
  height: 40px;
  margin: 0 -15px;
  padding: 0 15px;
  border-left: 0 !important;
  background-color: white !important;
  text-align: left;
  width: auto;
}
.navbar .navbar-nav li .dropdown-menu li a:hover {
  background-color: #f8f9fa !important;
}
.navbar .navbar-nav li .dropdown-menu li a img.avatar {
  height: 40px;
  border-radius: 50em;
  border: 1px solid #d1d4d7;
  margin: 0px 10px 0 -5px;
  float: left;
}
.navbar .navbar-nav li .dropdown-menu li a div {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
}
.navbar .navbar-nav li .dropdown-menu li a small {
  display: block;
  line-height: 12px;
  font-size: 10px;
  margin-top: -3px;
  font-style: italic;
}
.navbar .navbar-nav li .dropdown-menu li a .label {
  position: absolute;
  right: 10px;
  top: 11px;
}
.navbar .navbar-nav li .dropdown-menu li a i {
  margin: 0 10px 0 -5px;
  border: none;
}
.navbar .navbar-nav li .dropdown-menu li.avatar {
  min-width: 300px;
  height: 60px;
  padding: 0px 15px;
}
.navbar .navbar-nav li .dropdown-menu li.avatar a {
  line-height: 59px;
  height: 59px;
  padding: 9px 15px;
}
.navbar .navbar-nav li .dropdown-menu li.avatar a .label {
  top: 20px;
}
.navbar .navbar-nav .btn {
  margin: -4px 10px 0 0;
  height: 28px;
  line-height: 28px;
  font-size: 12px;
  padding-top: 0;
  border-radius: 0px;
}
.navbar .navbar-nav .btn.btn-default {
  background: transparent !important;
}
.navbar .navbar-nav .open a:focus {
  background-color: #e4e5e6;
}
.navbar .navbar-form {
  margin: 0;
}
/* Sidebar
=================================================================== */
.sidebar {
  background: #2a2c36;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  z-index: 10;
  overflow: hidden;
  padding-top: 50px;
}
.sidebar a {
  color: white;
}
.sidebar .sidebar-header {
  padding: 20px;
  height: 100px;
  position: relative;
  background: #1f2028;
}
.sidebar .sidebar-header.drop-shadow {
  -webkit-box-shadow: 0 3px 1px -1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 3px 1px -1px rgba(0, 0, 0, 0.05);
}
.sidebar .sidebar-header img {
  width: 60px;
  border-radius: 50em;
  float: left;
  margin: 0 10px 0 0;
}
.sidebar .sidebar-header h2,
.sidebar .sidebar-header h3 {
  line-height: 0px;
}
.sidebar .sidebar-header h2 {
  margin-top: 18px;
  font-size: 14px;
  font-weight: 600;
  color: white;
}
.sidebar .sidebar-header h3 {
  font-size: 12px;
}
.sidebar .sidebar-menu {
  overflow-x: hidden;
  overflow-y: scroll;
  width: 270px;
}
.sidebar ul.nav.nav-sidebar {
  margin: 0;
  width: 250px;
  padding: 0;
}
.sidebar ul.nav.nav-sidebar li {
  border-left: 3px solid transparent;
  position: relative;
}
.sidebar ul.nav.nav-sidebar li.active,
.sidebar ul.nav.nav-sidebar li:hover,
.sidebar ul.nav.nav-sidebar li.opened {
  background: #353844;
  color: white;
  border-left: 3px solid #20a8d8;
}
.sidebar ul.nav.nav-sidebar li a {
  line-height: 20px;
  font-size: 14px;
  font-weight: 400;
  /*text-transform: uppercase;*/
  border: 1px solid transparent;
  border-radius: 2px;
  text-decoration: none;
}
.sidebar ul.nav.nav-sidebar li a.active,
.sidebar ul.nav.nav-sidebar li a:hover,
.sidebar ul.nav.nav-sidebar li a:focus {
  background: transparent;
  color: white;
}
.sidebar ul.nav.nav-sidebar li a i {
  width: 30px;
  text-align: center;
  margin: 0 20px 0 0;
  font-size: 14px;
  color: white;
}
.sidebar ul.nav.nav-sidebar li a .indicator {
  position: absolute;
  top: 14px;
  right: 20px;
}
.sidebar ul.nav.nav-sidebar li a .indicator:before {
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  position: absolute;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '\f104';
}
.sidebar ul.nav.nav-sidebar li a .label {
  position: absolute;
  top: 12px;
  right: 10px;
  font-size: 8px !important;
}
.sidebar ul.nav.nav-sidebar li ul {
  display: none;
  background: #1f2028;
  list-style: none;
  padding: 5px;
}
.sidebar ul.nav.nav-sidebar li ul li {
  margin: 5px;
}
.sidebar ul.nav.nav-sidebar li ul li a {
  display: block;
  line-height: 40px;
  padding-left: 5px;
}
.sidebar ul.nav.nav-sidebar li.opened > a .indicator:before {
  content: '\f104';
  filter: progid:DXImageTransform.Microsoft.BasicImage(-1);
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.sidebar .sidebar-footer {
  color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 250px;
  padding: 10px 20px 10px 20px;
  background: #2a2c36;
  height: 89px;
  border-top: 1px solid transparent;
  overflow: visible;
}
.sidebar .sidebar-footer.drop-shadow {
  border-top: 1px solid #373737;
  -webkit-box-shadow: 0 -3px 1px -1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 -3px 1px -1px rgba(0, 0, 0, 0.05);
}
.sidebar .sidebar-footer a {
  color: #575b6f;
}
.sidebar .sidebar-footer ul.sidebar-actions {
  margin: 0 -20px;
  padding: 0;
  position: relative;
}
.sidebar .sidebar-footer ul.sidebar-actions li.action {
  display: inline-block;
  width: 33%;
  margin: 0 -2px;
  text-align: center;
}
.sidebar .sidebar-footer ul.sidebar-actions li.action button {
  background: none;
  border: none;
}
.sidebar .sidebar-footer ul.sidebar-actions li.action button i {
  display: block;
  font-size: 22px;
}
.sidebar .sidebar-footer ul.sidebar-actions li.action button span {
  font-size: 10px;
}
.sidebar .sidebar-footer ul.sidebar-actions .dropdown-menu {
  width: 230px;
  position: fixed;
  left: 10px;
  bottom: 85px;
  background: white;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 2px;
  overflow: hidden;
  color: #3d3f42;
}
.sidebar .sidebar-footer ul.sidebar-actions .dropdown-menu li.header {
  background: #f8f9fa;
  padding: 5px 15px;
  margin-top: -5px;
  font-weight: 500;
}
.sidebar .sidebar-footer ul.sidebar-actions .dropdown-menu li.header i {
  float: right;
  margin-top: 3px;
  margin-right: -5px;
  cursor: pointer;
}
.sidebar .sidebar-footer ul.sidebar-actions .dropdown-menu li .status {
  border-radius: 50em;
  height: 8px;
  width: 8px;
  display: inline-block;
  margin-right: 10px;
}
.sidebar .sidebar-footer ul.sidebar-actions .dropdown-menu li .status.status-success {
  background: #4dbd74;
}
.sidebar .sidebar-footer ul.sidebar-actions .dropdown-menu li .status.status-primary {
  background: #20a8d8;
}
.sidebar .sidebar-footer ul.sidebar-actions .dropdown-menu li .status.status-info {
  background: #63c2de;
}
.sidebar .sidebar-footer ul.sidebar-actions .dropdown-menu li .status.status-warning {
  background: #f8cb00;
}
.sidebar .sidebar-footer ul.sidebar-actions .dropdown-menu li .status.status-danger {
  background: #f86c6b;
}
.sidebar .sidebar-footer ul.sidebar-actions .dropdown-menu li .title {
  margin: 10px 10px 0 10px;
  font-size: 12px;
}
.sidebar .sidebar-footer ul.sidebar-actions .dropdown-menu li .title span {
  float: right;
  font-weight: 600;
}
.sidebar .sidebar-footer ul.sidebar-actions .dropdown-menu li .progress {
  height: 4px;
  margin: 0 10px 10px 10px;
}
.sidebar .sidebar-footer ul.sidebar-actions .btn-group .dropdown-toggle:active:before,
.sidebar .sidebar-footer ul.sidebar-actions .btn-group.open .dropdown-toggle:before {
  position: absolute;
  content: '';
  border-right: 8px solid transparent;
  border-top: 8px solid white;
  border-left: 8px solid transparent;
  top: -8px;
  margin-left: -8px;
}
.sidebar .sidebar-footer ul.sidebar-terms {
  background: #1f2028;
  margin: 0 -20px;
  padding: 0 20px;
  line-height: 30px;
}
.sidebar .sidebar-footer ul.sidebar-terms li {
  display: inline-block;
  width: 25%;
  margin: 0 -2px;
  padding: 0;
  text-align: center;
  font-size: 12px;
}
.sidebar #main-menu-min {
  display: block;
  position: relative;
  color: #404353;
  font-size: 14px;
  line-height: 26px;
  width: 30px;
  height: 30px;
  margin: 20px auto;
  z-index: 2;
  border: 1px solid #404353;
  border-radius: 50em;
  text-align: center;
}
body.sidebar-minified .main {
  width: 100%;
  padding-left: 80px;
}
body.sidebar-minified footer {
  padding: 0 20px 40px 80px;
}
body.sidebar-minified #usage {
  padding: 0 0 0 60px;
}
body.sidebar-minified .sidebar {
  width: 50px;
  overflow: visible;
}
body.sidebar-minified .sidebar .sidebar-header {
  padding: 5px;
  height: 50px;
}
body.sidebar-minified .sidebar .sidebar-header img {
  width: 40px;
}
body.sidebar-minified .sidebar .sidebar-header h2,
body.sidebar-minified .sidebar .sidebar-header h3 {
  display: none;
}
body.sidebar-minified .sidebar .sidebar-header .user-menu #sidebar-minify {
  position: fixed;
  bottom: 0 !important;
  left: 0;
  display: visible;
  width: 60px;
  text-align: center;
}
body.sidebar-minified .sidebar .sidebar-menu {
  overflow: visible;
  width: auto;
}
body.sidebar-minified .sidebar ul.nav.nav-sidebar {
  width: auto;
}
body.sidebar-minified .sidebar ul.nav.nav-sidebar > li {
  position: relative;
}
body.sidebar-minified .sidebar ul.nav.nav-sidebar > li > a {
  width: 50px;
  position: relative;
  padding: 0 0 0 5px;
  line-height: 40px;
  text-align: center;
}
body.sidebar-minified .sidebar ul.nav.nav-sidebar > li > a .indicator {
  display: none;
}
body.sidebar-minified .sidebar ul.nav.nav-sidebar > li > a.open {
  cursor: default;
}
body.sidebar-minified .sidebar ul.nav.nav-sidebar > li > a .text {
  position: absolute;
  z-index: 1000;
  background: #353844;
  min-height: 40px;
  width: 200px;
  padding-left: 15px;
  top: 0px;
  left: 60px;
  display: none !important;
  text-align: left;
}
body.sidebar-minified .sidebar ul.nav.nav-sidebar > li > ul {
  display: none !important;
}
body.sidebar-minified .sidebar ul.nav.nav-sidebar > li:hover > a {
  position: relative;
  cursor: pointer;
}
body.sidebar-minified .sidebar ul.nav.nav-sidebar > li:hover > a .text {
  width: 200px;
  display: block !important;
  margin-top: -1px;
  margin-left: -23px;
  border-left: 0;
  height: 42px;
}
body.sidebar-minified .sidebar ul.nav.nav-sidebar > li:hover > ul {
  display: block !important;
  position: absolute;
  top: 41px;
  left: 38px;
  z-index: 999;
  width: 200px;
  border-top: 0;
  background: #2a2c36;
  padding: 0;
  margin: 0;
  -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
}
body.sidebar-minified .sidebar ul.nav.nav-sidebar > li:hover > ul > li {
  padding: 0;
  margin: 0;
}
body.sidebar-minified .sidebar ul.nav.nav-sidebar > li:hover > ul > li > a {
  display: block;
  width: 100%;
  line-height: 40px;
}
body.sidebar-minified .sidebar .sidebar-footer {
  display: none;
}
body.sidebar-hidden .main {
  width: 100%;
  padding: 80px 30px 0 30px;
  margin: 0;
}
body.sidebar-hidden footer {
  padding: 0 20px 40px 20px;
}
body.sidebar-hidden #usage {
  padding: 0;
}
body.sidebar-hidden .sidebar {
  display: none !important;
}
/* Buttons
=================================================================== */
.btn {
  border: none;
  border-radius: 2px;
  text-shadow: none;
  color: #3d3f42;
}
.btn i {
  margin-top: 2px;
}
.btn-default {
  color: #a6a6a6;
  background: #f1f1f1;
  border: 1px solid #d4d4d4;
}
.btn-default:hover,
.btn-default.disabled,
.btn-default[disabled] {
  background-color: #d8d8d8;
  border-color: #8d8d8d;
}
.btn-default:active,
.btn-default.active {
  background-color: #d2d2d2;
  border-color: #878787;
}
.btn-primary {
  color: white;
  background: #20a8d8;
  border: 1px solid #20a8d8;
}
.btn-primary:hover,
.btn-primary.disabled,
.btn-primary[disabled] {
  background-color: #1985ac;
  border-color: #1985ac;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #187fa3;
  border-color: #187fa3;
}
.btn-warning {
  color: white;
  background: #f8cb00;
  border: 1px solid #f8cb00;
}
.btn-warning:hover,
.btn-warning.disabled,
.btn-warning[disabled] {
  background-color: #c5a100;
  border-color: #c5a100;
}
.btn-warning:active,
.btn-warning.active {
  background-color: #bb9900;
  border-color: #bb9900;
}
.btn-danger {
  color: white;
  background: #f86c6b;
  border: 1px solid #f86c6b;
}
.btn-danger:hover,
.btn-danger.disabled,
.btn-danger[disabled] {
  background-color: #f63c3a;
  border-color: #f63c3a;
}
.btn-danger:active,
.btn-danger.active {
  background-color: #f53231;
  border-color: #f53231;
}
.btn-success {
  color: white;
  background: #4dbd74;
  border: 1px solid #4dbd74;
}
.btn-success:hover,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #3a9d5d;
  border-color: #3a9d5d;
}
.btn-success:active,
.btn-success.active {
  background-color: #379558;
  border-color: #379558;
}
.btn-info {
  color: white;
  background: #63c2de;
  border: 1px solid #63c2de;
}
.btn-info:hover,
.btn-info.disabled,
.btn-info[disabled] {
  background-color: #39b2d5;
  border-color: #39b2d5;
}
.btn-info:active,
.btn-info.active {
  background-color: #30aed3;
  border-color: #30aed3;
}
.btn-inverse {
  color: white;
  background: #444444;
  border: 1px solid #444444;
}
.btn-inverse:hover,
.btn-inverse.disabled,
.btn-inverse[disabled] {
  background-color: #2b2b2b;
  border-color: #2b2b2b;
  color: white;
}
.btn-inverse:active,
.btn-inverse.active {
  background-color: #252525;
  border-color: #252525;
}
.btn-facebook,
.btn-twitter,
.btn-linkedin,
.btn-flickr,
.btn-tumblr,
.btn-xing,
.btn-github,
.btn-html5,
.btn-openid,
.btn-stack-overflow,
.btn-youtube,
.btn-css3,
.btn-dribbble,
.btn-google-plus,
.btn-instagram,
.btn-pinterest,
.btn-vk,
.btn-yahoo,
.btn-behance,
.btn-dropbox,
.btn-reddit,
.btn-spotify,
.btn-vine,
.btn-foursquare,
.btn-vimeo {
  color: white !important;
  position: relative;
  text-align: center;
  height: 34px;
}
.btn-facebook:before,
.btn-twitter:before,
.btn-linkedin:before,
.btn-flickr:before,
.btn-tumblr:before,
.btn-xing:before,
.btn-github:before,
.btn-html5:before,
.btn-openid:before,
.btn-stack-overflow:before,
.btn-youtube:before,
.btn-css3:before,
.btn-dribbble:before,
.btn-google-plus:before,
.btn-instagram:before,
.btn-pinterest:before,
.btn-vk:before,
.btn-yahoo:before,
.btn-behance:before,
.btn-dropbox:before,
.btn-reddit:before,
.btn-spotify:before,
.btn-vine:before,
.btn-foursquare:before,
.btn-vimeo:before {
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  display: block;
  height: 34px;
  width: 34px;
  top: 0;
  left: 0;
  border-radius: 2px;
  font-size: 1.33333333em;
  line-height: 36px;
}
.btn-facebook span,
.btn-twitter span,
.btn-linkedin span,
.btn-flickr span,
.btn-tumblr span,
.btn-xing span,
.btn-github span,
.btn-html5 span,
.btn-openid span,
.btn-stack-overflow span,
.btn-youtube span,
.btn-css3 span,
.btn-dribbble span,
.btn-google-plus span,
.btn-instagram span,
.btn-pinterest span,
.btn-vk span,
.btn-yahoo span,
.btn-behance span,
.btn-dropbox span,
.btn-reddit span,
.btn-spotify span,
.btn-vine span,
.btn-foursquare span,
.btn-vimeo span {
  margin-left: 40px;
}
.btn-facebook:hover,
.btn-twitter:hover,
.btn-linkedin:hover,
.btn-flickr:hover,
.btn-tumblr:hover,
.btn-xing:hover,
.btn-github:hover,
.btn-html5:hover,
.btn-openid:hover,
.btn-stack-overflow:hover,
.btn-youtube:hover,
.btn-css3:hover,
.btn-dribbble:hover,
.btn-google-plus:hover,
.btn-instagram:hover,
.btn-pinterest:hover,
.btn-vk:hover,
.btn-yahoo:hover,
.btn-behance:hover,
.btn-dropbox:hover,
.btn-reddit:hover,
.btn-spotify:hover,
.btn-vine:hover,
.btn-foursquare:hover,
.btn-vimeo:hover {
  color: white;
}
.btn-facebook.icon,
.btn-twitter.icon,
.btn-linkedin.icon,
.btn-flickr.icon,
.btn-tumblr.icon,
.btn-xing.icon,
.btn-github.icon,
.btn-html5.icon,
.btn-openid.icon,
.btn-stack-overflow.icon,
.btn-youtube.icon,
.btn-css3.icon,
.btn-dribbble.icon,
.btn-google-plus.icon,
.btn-instagram.icon,
.btn-pinterest.icon,
.btn-vk.icon,
.btn-yahoo.icon,
.btn-behance.icon,
.btn-dropbox.icon,
.btn-reddit.icon,
.btn-spotify.icon,
.btn-vine.icon,
.btn-foursquare.icon,
.btn-vimeo.icon {
  width: 34px;
}
.btn-facebook.icon span,
.btn-twitter.icon span,
.btn-linkedin.icon span,
.btn-flickr.icon span,
.btn-tumblr.icon span,
.btn-xing.icon span,
.btn-github.icon span,
.btn-html5.icon span,
.btn-openid.icon span,
.btn-stack-overflow.icon span,
.btn-youtube.icon span,
.btn-css3.icon span,
.btn-dribbble.icon span,
.btn-google-plus.icon span,
.btn-instagram.icon span,
.btn-pinterest.icon span,
.btn-vk.icon span,
.btn-yahoo.icon span,
.btn-behance.icon span,
.btn-dropbox.icon span,
.btn-reddit.icon span,
.btn-spotify.icon span,
.btn-vine.icon span,
.btn-foursquare.icon span,
.btn-vimeo.icon span {
  display: none;
}
.btn-facebook.text:before,
.btn-twitter.text:before,
.btn-linkedin.text:before,
.btn-flickr.text:before,
.btn-tumblr.text:before,
.btn-xing.text:before,
.btn-github.text:before,
.btn-html5.text:before,
.btn-openid.text:before,
.btn-stack-overflow.text:before,
.btn-youtube.text:before,
.btn-css3.text:before,
.btn-dribbble.text:before,
.btn-google-plus.text:before,
.btn-instagram.text:before,
.btn-pinterest.text:before,
.btn-vk.text:before,
.btn-yahoo.text:before,
.btn-behance.text:before,
.btn-dropbox.text:before,
.btn-reddit.text:before,
.btn-spotify.text:before,
.btn-vine.text:before,
.btn-foursquare.text:before,
.btn-vimeo.text:before {
  display: none;
}
.btn-facebook.text span,
.btn-twitter.text span,
.btn-linkedin.text span,
.btn-flickr.text span,
.btn-tumblr.text span,
.btn-xing.text span,
.btn-github.text span,
.btn-html5.text span,
.btn-openid.text span,
.btn-stack-overflow.text span,
.btn-youtube.text span,
.btn-css3.text span,
.btn-dribbble.text span,
.btn-google-plus.text span,
.btn-instagram.text span,
.btn-pinterest.text span,
.btn-vk.text span,
.btn-yahoo.text span,
.btn-behance.text span,
.btn-dropbox.text span,
.btn-reddit.text span,
.btn-spotify.text span,
.btn-vine.text span,
.btn-foursquare.text span,
.btn-vimeo.text span {
  margin-left: 0 !important;
}
.btn-facebook.btn-xs,
.btn-twitter.btn-xs,
.btn-linkedin.btn-xs,
.btn-flickr.btn-xs,
.btn-tumblr.btn-xs,
.btn-xing.btn-xs,
.btn-github.btn-xs,
.btn-html5.btn-xs,
.btn-openid.btn-xs,
.btn-stack-overflow.btn-xs,
.btn-youtube.btn-xs,
.btn-css3.btn-xs,
.btn-dribbble.btn-xs,
.btn-google-plus.btn-xs,
.btn-instagram.btn-xs,
.btn-pinterest.btn-xs,
.btn-vk.btn-xs,
.btn-yahoo.btn-xs,
.btn-behance.btn-xs,
.btn-dropbox.btn-xs,
.btn-reddit.btn-xs,
.btn-spotify.btn-xs,
.btn-vine.btn-xs,
.btn-foursquare.btn-xs,
.btn-vimeo.btn-xs {
  height: 22px;
  font-size: 12px;
}
.btn-facebook.btn-xs:before,
.btn-twitter.btn-xs:before,
.btn-linkedin.btn-xs:before,
.btn-flickr.btn-xs:before,
.btn-tumblr.btn-xs:before,
.btn-xing.btn-xs:before,
.btn-github.btn-xs:before,
.btn-html5.btn-xs:before,
.btn-openid.btn-xs:before,
.btn-stack-overflow.btn-xs:before,
.btn-youtube.btn-xs:before,
.btn-css3.btn-xs:before,
.btn-dribbble.btn-xs:before,
.btn-google-plus.btn-xs:before,
.btn-instagram.btn-xs:before,
.btn-pinterest.btn-xs:before,
.btn-vk.btn-xs:before,
.btn-yahoo.btn-xs:before,
.btn-behance.btn-xs:before,
.btn-dropbox.btn-xs:before,
.btn-reddit.btn-xs:before,
.btn-spotify.btn-xs:before,
.btn-vine.btn-xs:before,
.btn-foursquare.btn-xs:before,
.btn-vimeo.btn-xs:before {
  height: 22px;
  width: 22px;
  line-height: 22px;
  font-size: 12px;
}
.btn-facebook.btn-xs span,
.btn-twitter.btn-xs span,
.btn-linkedin.btn-xs span,
.btn-flickr.btn-xs span,
.btn-tumblr.btn-xs span,
.btn-xing.btn-xs span,
.btn-github.btn-xs span,
.btn-html5.btn-xs span,
.btn-openid.btn-xs span,
.btn-stack-overflow.btn-xs span,
.btn-youtube.btn-xs span,
.btn-css3.btn-xs span,
.btn-dribbble.btn-xs span,
.btn-google-plus.btn-xs span,
.btn-instagram.btn-xs span,
.btn-pinterest.btn-xs span,
.btn-vk.btn-xs span,
.btn-yahoo.btn-xs span,
.btn-behance.btn-xs span,
.btn-dropbox.btn-xs span,
.btn-reddit.btn-xs span,
.btn-spotify.btn-xs span,
.btn-vine.btn-xs span,
.btn-foursquare.btn-xs span,
.btn-vimeo.btn-xs span {
  margin-left: 22px;
}
.btn-facebook.btn-xs.icon,
.btn-twitter.btn-xs.icon,
.btn-linkedin.btn-xs.icon,
.btn-flickr.btn-xs.icon,
.btn-tumblr.btn-xs.icon,
.btn-xing.btn-xs.icon,
.btn-github.btn-xs.icon,
.btn-html5.btn-xs.icon,
.btn-openid.btn-xs.icon,
.btn-stack-overflow.btn-xs.icon,
.btn-youtube.btn-xs.icon,
.btn-css3.btn-xs.icon,
.btn-dribbble.btn-xs.icon,
.btn-google-plus.btn-xs.icon,
.btn-instagram.btn-xs.icon,
.btn-pinterest.btn-xs.icon,
.btn-vk.btn-xs.icon,
.btn-yahoo.btn-xs.icon,
.btn-behance.btn-xs.icon,
.btn-dropbox.btn-xs.icon,
.btn-reddit.btn-xs.icon,
.btn-spotify.btn-xs.icon,
.btn-vine.btn-xs.icon,
.btn-foursquare.btn-xs.icon,
.btn-vimeo.btn-xs.icon {
  width: 22px;
}
.btn-facebook.btn-sm,
.btn-twitter.btn-sm,
.btn-linkedin.btn-sm,
.btn-flickr.btn-sm,
.btn-tumblr.btn-sm,
.btn-xing.btn-sm,
.btn-github.btn-sm,
.btn-html5.btn-sm,
.btn-openid.btn-sm,
.btn-stack-overflow.btn-sm,
.btn-youtube.btn-sm,
.btn-css3.btn-sm,
.btn-dribbble.btn-sm,
.btn-google-plus.btn-sm,
.btn-instagram.btn-sm,
.btn-pinterest.btn-sm,
.btn-vk.btn-sm,
.btn-yahoo.btn-sm,
.btn-behance.btn-sm,
.btn-dropbox.btn-sm,
.btn-reddit.btn-sm,
.btn-spotify.btn-sm,
.btn-vine.btn-sm,
.btn-foursquare.btn-sm,
.btn-vimeo.btn-sm {
  height: 30px;
  font-size: 12px;
}
.btn-facebook.btn-sm:before,
.btn-twitter.btn-sm:before,
.btn-linkedin.btn-sm:before,
.btn-flickr.btn-sm:before,
.btn-tumblr.btn-sm:before,
.btn-xing.btn-sm:before,
.btn-github.btn-sm:before,
.btn-html5.btn-sm:before,
.btn-openid.btn-sm:before,
.btn-stack-overflow.btn-sm:before,
.btn-youtube.btn-sm:before,
.btn-css3.btn-sm:before,
.btn-dribbble.btn-sm:before,
.btn-google-plus.btn-sm:before,
.btn-instagram.btn-sm:before,
.btn-pinterest.btn-sm:before,
.btn-vk.btn-sm:before,
.btn-yahoo.btn-sm:before,
.btn-behance.btn-sm:before,
.btn-dropbox.btn-sm:before,
.btn-reddit.btn-sm:before,
.btn-spotify.btn-sm:before,
.btn-vine.btn-sm:before,
.btn-foursquare.btn-sm:before,
.btn-vimeo.btn-sm:before {
  height: 30px;
  width: 30px;
  line-height: 30px;
  font-size: 12px;
}
.btn-facebook.btn-sm span,
.btn-twitter.btn-sm span,
.btn-linkedin.btn-sm span,
.btn-flickr.btn-sm span,
.btn-tumblr.btn-sm span,
.btn-xing.btn-sm span,
.btn-github.btn-sm span,
.btn-html5.btn-sm span,
.btn-openid.btn-sm span,
.btn-stack-overflow.btn-sm span,
.btn-youtube.btn-sm span,
.btn-css3.btn-sm span,
.btn-dribbble.btn-sm span,
.btn-google-plus.btn-sm span,
.btn-instagram.btn-sm span,
.btn-pinterest.btn-sm span,
.btn-vk.btn-sm span,
.btn-yahoo.btn-sm span,
.btn-behance.btn-sm span,
.btn-dropbox.btn-sm span,
.btn-reddit.btn-sm span,
.btn-spotify.btn-sm span,
.btn-vine.btn-sm span,
.btn-foursquare.btn-sm span,
.btn-vimeo.btn-sm span {
  margin-left: 0;
}
.btn-facebook.btn-sm.icon,
.btn-twitter.btn-sm.icon,
.btn-linkedin.btn-sm.icon,
.btn-flickr.btn-sm.icon,
.btn-tumblr.btn-sm.icon,
.btn-xing.btn-sm.icon,
.btn-github.btn-sm.icon,
.btn-html5.btn-sm.icon,
.btn-openid.btn-sm.icon,
.btn-stack-overflow.btn-sm.icon,
.btn-youtube.btn-sm.icon,
.btn-css3.btn-sm.icon,
.btn-dribbble.btn-sm.icon,
.btn-google-plus.btn-sm.icon,
.btn-instagram.btn-sm.icon,
.btn-pinterest.btn-sm.icon,
.btn-vk.btn-sm.icon,
.btn-yahoo.btn-sm.icon,
.btn-behance.btn-sm.icon,
.btn-dropbox.btn-sm.icon,
.btn-reddit.btn-sm.icon,
.btn-spotify.btn-sm.icon,
.btn-vine.btn-sm.icon,
.btn-foursquare.btn-sm.icon,
.btn-vimeo.btn-sm.icon {
  width: 30px;
}
.btn-facebook.btn-lg,
.btn-twitter.btn-lg,
.btn-linkedin.btn-lg,
.btn-flickr.btn-lg,
.btn-tumblr.btn-lg,
.btn-xing.btn-lg,
.btn-github.btn-lg,
.btn-html5.btn-lg,
.btn-openid.btn-lg,
.btn-stack-overflow.btn-lg,
.btn-youtube.btn-lg,
.btn-css3.btn-lg,
.btn-dribbble.btn-lg,
.btn-google-plus.btn-lg,
.btn-instagram.btn-lg,
.btn-pinterest.btn-lg,
.btn-vk.btn-lg,
.btn-yahoo.btn-lg,
.btn-behance.btn-lg,
.btn-dropbox.btn-lg,
.btn-reddit.btn-lg,
.btn-spotify.btn-lg,
.btn-vine.btn-lg,
.btn-foursquare.btn-lg,
.btn-vimeo.btn-lg {
  height: 45px;
  font-size: 18px;
}
.btn-facebook.btn-lg:before,
.btn-twitter.btn-lg:before,
.btn-linkedin.btn-lg:before,
.btn-flickr.btn-lg:before,
.btn-tumblr.btn-lg:before,
.btn-xing.btn-lg:before,
.btn-github.btn-lg:before,
.btn-html5.btn-lg:before,
.btn-openid.btn-lg:before,
.btn-stack-overflow.btn-lg:before,
.btn-youtube.btn-lg:before,
.btn-css3.btn-lg:before,
.btn-dribbble.btn-lg:before,
.btn-google-plus.btn-lg:before,
.btn-instagram.btn-lg:before,
.btn-pinterest.btn-lg:before,
.btn-vk.btn-lg:before,
.btn-yahoo.btn-lg:before,
.btn-behance.btn-lg:before,
.btn-dropbox.btn-lg:before,
.btn-reddit.btn-lg:before,
.btn-spotify.btn-lg:before,
.btn-vine.btn-lg:before,
.btn-foursquare.btn-lg:before,
.btn-vimeo.btn-lg:before {
  height: 45px;
  width: 45px;
  line-height: 45px;
  font-size: 18px;
}
.btn-facebook.btn-lg span,
.btn-twitter.btn-lg span,
.btn-linkedin.btn-lg span,
.btn-flickr.btn-lg span,
.btn-tumblr.btn-lg span,
.btn-xing.btn-lg span,
.btn-github.btn-lg span,
.btn-html5.btn-lg span,
.btn-openid.btn-lg span,
.btn-stack-overflow.btn-lg span,
.btn-youtube.btn-lg span,
.btn-css3.btn-lg span,
.btn-dribbble.btn-lg span,
.btn-google-plus.btn-lg span,
.btn-instagram.btn-lg span,
.btn-pinterest.btn-lg span,
.btn-vk.btn-lg span,
.btn-yahoo.btn-lg span,
.btn-behance.btn-lg span,
.btn-dropbox.btn-lg span,
.btn-reddit.btn-lg span,
.btn-spotify.btn-lg span,
.btn-vine.btn-lg span,
.btn-foursquare.btn-lg span,
.btn-vimeo.btn-lg span {
  margin-left: 45px;
}
.btn-facebook.btn-lg.icon,
.btn-twitter.btn-lg.icon,
.btn-linkedin.btn-lg.icon,
.btn-flickr.btn-lg.icon,
.btn-tumblr.btn-lg.icon,
.btn-xing.btn-lg.icon,
.btn-github.btn-lg.icon,
.btn-html5.btn-lg.icon,
.btn-openid.btn-lg.icon,
.btn-stack-overflow.btn-lg.icon,
.btn-youtube.btn-lg.icon,
.btn-css3.btn-lg.icon,
.btn-dribbble.btn-lg.icon,
.btn-google-plus.btn-lg.icon,
.btn-instagram.btn-lg.icon,
.btn-pinterest.btn-lg.icon,
.btn-vk.btn-lg.icon,
.btn-yahoo.btn-lg.icon,
.btn-behance.btn-lg.icon,
.btn-dropbox.btn-lg.icon,
.btn-reddit.btn-lg.icon,
.btn-spotify.btn-lg.icon,
.btn-vine.btn-lg.icon,
.btn-foursquare.btn-lg.icon,
.btn-vimeo.btn-lg.icon {
  width: 45px;
}
.btn-facebook {
  background: #3b5998;
  border: 1px solid #3b5998;
}
.btn-facebook:before {
  content: "\f09a";
  background: #344e86;
  margin: -1px;
}
.btn-facebook:hover {
  background: #344e86;
}
.btn-facebook:hover:before {
  background: #2d4373;
}
.btn-twitter {
  background: #00aced;
  border: 1px solid #00aced;
}
.btn-twitter:before {
  content: "\f099";
  background: #0099d4;
  margin: -1px;
}
.btn-twitter:hover {
  background: #0099d4;
}
.btn-twitter:hover:before {
  background: #0087ba;
}
.btn-linkedin {
  background: #4875b4;
  border: 1px solid #4875b4;
}
.btn-linkedin:before {
  content: "\f0e1";
  background: #4169a2;
  margin: -1px;
}
.btn-linkedin:hover {
  background: #4169a2;
}
.btn-linkedin:hover:before {
  background: #395d90;
}
.btn-flickr {
  background: #ff0084;
  border: 1px solid #ff0084;
}
.btn-flickr:before {
  content: "\f16e";
  background: #e60077;
  margin: -1px;
}
.btn-flickr:hover {
  background: #e60077;
}
.btn-flickr:hover:before {
  background: #cc006a;
}
.btn-tumblr {
  background: #32506d;
  border: 1px solid #32506d;
}
.btn-tumblr:before {
  content: "\f173";
  background: #2a435c;
  margin: -1px;
}
.btn-tumblr:hover {
  background: #2a435c;
}
.btn-tumblr:hover:before {
  background: #22364a;
}
.btn-xing {
  background: #026466;
  border: 1px solid #026466;
}
.btn-xing:before {
  content: "\f168";
  background: #024b4d;
  margin: -1px;
}
.btn-xing:hover {
  background: #024b4d;
}
.btn-xing:hover:before {
  background: #013334;
}
.btn-github {
  background: #4183c4;
  border: 1px solid #4183c4;
}
.btn-github:before {
  content: "\f09b";
  background: #3876b4;
  margin: -1px;
}
.btn-github:hover {
  background: #3876b4;
}
.btn-github:hover:before {
  background: #3269a0;
}
.btn-html5 {
  background: #e34f26;
  border: 1px solid #e34f26;
}
.btn-html5:before {
  content: "\f13b";
  background: #d4431b;
  margin: -1px;
}
.btn-html5:hover {
  background: #d4431b;
}
.btn-html5:hover:before {
  background: #be3c18;
}
.btn-openid {
  background: #f78c40;
  border: 1px solid #f78c40;
}
.btn-openid:before {
  content: "\f19b";
  background: #f67d28;
  margin: -1px;
}
.btn-openid:hover {
  background: #f67d28;
}
.btn-openid:hover:before {
  background: #f56f0f;
}
.btn-stack-overflow {
  background: #fe7a15;
  border: 1px solid #fe7a15;
}
.btn-stack-overflow:before {
  content: "\f16c";
  background: #f86c01;
  margin: -1px;
}
.btn-stack-overflow:hover {
  background: #f86c01;
}
.btn-stack-overflow:hover:before {
  background: #df6101;
}
.btn-css3 {
  background: #0170ba;
  border: 1px solid #0170ba;
}
.btn-css3:before {
  content: "\f13c";
  background: #0161a1;
  margin: -1px;
}
.btn-css3:hover {
  background: #0161a1;
}
.btn-css3:hover:before {
  background: #015187;
}
.btn-youtube {
  background: #bb0000;
  border: 1px solid #bb0000;
}
.btn-youtube:before {
  content: "\f167";
  background: #a20000;
  margin: -1px;
}
.btn-youtube:hover {
  background: #a20000;
}
.btn-youtube:hover:before {
  background: #880000;
}
.btn-dribbble {
  background: #ea4c89;
  border: 1px solid #ea4c89;
}
.btn-dribbble:before {
  content: "\f17d";
  background: #e7357a;
  margin: -1px;
}
.btn-dribbble:hover {
  background: #e7357a;
}
.btn-dribbble:hover:before {
  background: #e51e6b;
}
.btn-google-plus {
  background: #bb4b39;
  border: 1px solid #bb4b39;
}
.btn-google-plus:before {
  content: "\f0d5";
  background: #a74333;
  margin: -1px;
}
.btn-google-plus:hover {
  background: #a74333;
}
.btn-google-plus:hover:before {
  background: #943b2d;
}
.btn-instagram {
  background: #517fa4;
  border: 1px solid #517fa4;
}
.btn-instagram:before {
  content: "\f16d";
  background: #497293;
  margin: -1px;
}
.btn-instagram:hover {
  background: #497293;
}
.btn-instagram:hover:before {
  background: #406582;
}
.btn-pinterest {
  background: #cb2027;
  border: 1px solid #cb2027;
}
.btn-pinterest:before {
  content: "\f0d2";
  background: #b51d23;
  margin: -1px;
}
.btn-pinterest:hover {
  background: #b51d23;
}
.btn-pinterest:hover:before {
  background: #9f191f;
}
.btn-vk {
  background: #45668e;
  border: 1px solid #45668e;
}
.btn-vk:before {
  content: "\f189";
  background: #3d5a7d;
  margin: -1px;
}
.btn-vk:hover {
  background: #3d5a7d;
}
.btn-vk:hover:before {
  background: #344d6c;
}
.btn-yahoo {
  background: #400191;
  border: 1px solid #400191;
}
.btn-yahoo:before {
  content: "\f19e";
  background: #350178;
  margin: -1px;
}
.btn-yahoo:hover {
  background: #350178;
}
.btn-yahoo:hover:before {
  background: #2a015e;
}
.btn-behance {
  background: #1769ff;
  border: 1px solid #1769ff;
}
.btn-behance:before {
  content: "\f1b4";
  background: #0059fc;
  margin: -1px;
}
.btn-behance:hover {
  background: #0059fc;
}
.btn-behance:hover:before {
  background: #0050e3;
}
.btn-dropbox {
  background: #007ee5;
  border: 1px solid #007ee5;
}
.btn-dropbox:before {
  content: "\f16b";
  background: #0070cc;
  margin: -1px;
}
.btn-dropbox:hover {
  background: #0070cc;
}
.btn-dropbox:hover:before {
  background: #0062b2;
}
.btn-reddit {
  background: #ff4500;
  border: 1px solid #ff4500;
}
.btn-reddit:before {
  content: "\f1a1";
  background: #e63e00;
  margin: -1px;
}
.btn-reddit:hover {
  background: #e63e00;
}
.btn-reddit:hover:before {
  background: #cc3700;
}
.btn-spotify {
  background: #7ab800;
  border: 1px solid #7ab800;
}
.btn-spotify:before {
  content: "\f1bc";
  background: #699f00;
  margin: -1px;
}
.btn-spotify:hover {
  background: #699f00;
}
.btn-spotify:hover:before {
  background: #588500;
}
.btn-vine {
  background: #00bf8f;
  border: 1px solid #00bf8f;
}
.btn-vine:before {
  content: "\f1ca";
  background: #00a67c;
  margin: -1px;
}
.btn-vine:hover {
  background: #00a67c;
}
.btn-vine:hover:before {
  background: #008c69;
}
.btn-foursquare {
  background: #1073af;
  border: 1px solid #1073af;
}
.btn-foursquare:before {
  content: "\f180";
  background: #0e6498;
  margin: -1px;
}
.btn-foursquare:hover {
  background: #0e6498;
}
.btn-foursquare:hover:before {
  background: #0c5480;
}
.btn-vimeo {
  background: #aad450;
  border: 1px solid #aad450;
}
.btn-vimeo:before {
  content: "\f194";
  background: #a0cf3c;
  margin: -1px;
}
.btn-vimeo:hover {
  background: #a0cf3c;
}
.btn-vimeo:hover:before {
  background: #93c130;
}
.dropdown-menu {
  border-radius: 2px;
  border: 1px solid #d1d4d7;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.125);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.125);
}
.dropdown-menu li a:hover {
  background-color: #e4e5e6;
}
.dropdown-menu li.divider {
  background-color: #e4e5e6;
}
/* Tabs
=================================================================== */
.panel-heading .nav-tabs {
  float: right;
  border: none;
}
.panel-heading .nav-tabs li {
  border: none;
  border-radius: 0px;
}
.panel-heading .nav-tabs li a {
  background: transparent;
  border: none;
  border-radius: 0px;
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  height: 40px;
  color: #3d3f42;
}
.panel-heading .nav-tabs li.active > a {
  background: white;
  border: none;
}
.panel-heading .nav-tabs li:hover {
  border: none;
}
.panel-body .nav-tabs {
  position: relative;
  border: none;
  height: 40px;
  z-index: 2;
}
.panel-body .nav-tabs li {
  float: right;
  border: none;
  border-radius: 0px;
}
.panel-body .nav-tabs li a {
  background: transparent;
  border: none;
  border-radius: 0px;
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  height: 40px;
  color: #d1d4d7;
}
.panel-body .nav-tabs li.active > a {
  background: white;
  border: none;
  color: #3d3f42;
}
.panel-body .nav-tabs li:hover {
  border: none;
}
.panel-body .tab-content {
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
}
.panel-body .tab-content .tab-pane {
  padding: 0;
  margin: 0;
}
/* Forms
=================================================================== */
.form-horizontal .form-group {
  margin-right: 0px;
  margin-left: 0px;
}
.form-control {
  border: 1px solid #d1d4d7;
  border-radius: 2px;
  color: #3d3f42;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.form-control-feedback {
  color: #d1d4d7;
}
.form-control-feedback.fa {
  line-height: 34px;
}
.form-control:focus {
  border-color: #bcbfc1;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.form-control::-moz-placeholder {
  color: #bcbfc1;
}
.form-control:-ms-input-placeholder {
  color: #bcbfc1;
}
.form-control::-webkit-input-placeholder {
  color: #bcbfc1;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: #e4e5e6;
}
.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline {
  color: #4dbd74;
}
.has-success .form-control {
  border-color: #4dbd74;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.has-success .form-control:focus {
  border-color: #3a9d5d;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.has-success .input-group-addon {
  color: #4dbd74;
  background-color: #97d9ae;
  border-color: #4dbd74;
}
.has-success .form-control-feedback {
  color: #4dbd74;
}
.has-warning .help-block,
.has-warning .control-label,
.has-warning .radio,
.has-warning .checkbox,
.has-warning .radio-inline,
.has-warning .checkbox-inline {
  color: #f8cb00;
}
.has-warning .form-control {
  border-color: #f8cb00;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.has-warning .form-control:focus {
  border-color: #c5a100;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.has-warning .input-group-addon {
  color: #f8cb00;
  background-color: #ffe25f;
  border-color: #f8cb00;
}
.has-warning .form-control-feedback {
  color: #f8cb00;
}
.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline {
  color: #f86c6b;
}
.has-error .form-control {
  border-color: #f86c6b;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.has-error .form-control:focus {
  border-color: #f63c3a;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.has-error .input-group-addon {
  color: #f86c6b;
  background-color: #fdcdcc;
  border-color: #f86c6b;
}
.has-error .form-control-feedback {
  color: #f86c6b;
}
.help-block {
  color: #afb2b5;
}
.input-group-addon {
  color: #afb2b5;
  background-color: #f8f9fa;
  border: 1px solid #d1d4d7;
  border-radius: 2px;
}
.input-group-addon i {
  width: 14px;
  text-align: center;
}
select {
  background: #f8f9fa url("../img/select.png") no-repeat !important;
  -webkit-background-size: 24px 20px !important;
          background-size: 24px 20px !important;
  background-position: right center !important;
  border-radius: 2px !important;
  border: 1px solid #d1d4d7 !important;
  color: #888;
  border: none;
  outline: none;
  display: inline-block;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  cursor: pointer;
}
select[disabled] {
  background-color: #e4e5e6 !important;
  color: #bcbfc1;
}
select[multiple] {
  background: none !important;
}
select.input-lg {
  padding: 0 11px;
}
select.input-sm {
  padding: 0 12px;
}
.select2-container .select2-choice {
  height: 32px;
  padding: 3px 0 0 12px;
  border: none;
  background: #f8f9fa;
}
.select2-container .select2-choice .select2-arrow {
  right: 5px;
  top: 4px;
  background: #f8f9fa;
  border: none;
}
.select2-container-active .select2-choice,
.select2-container-active .select2-choices {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.select2-drop {
  color: #3d3f42;
  border: 1px solid #d1d4d7;
  border-radius: 0 0 2px 2px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.select2-container.select2-dropdown-open {
  border-color: #d1d4d7 !important;
  border-radius: 2px 2px 0 0 !important;
}
.select2-container-multi .select2-choices {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border-radius: 2px !important;
  border: 1px solid #d1d4d7 !important;
  background: white;
}
.select2-default {
  color: #bcbfc1 !important;
  padding-left: 12px !important;
}
.select2-container-multi .select2-choices .select2-search-choice {
  padding: 3px 5px 4px 18px;
  margin: 5px 0 3px 5px;
  border: 1px solid #d1d4d7;
  border-radius: 1px;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #f8f9fa;
  -webkit-filter: none;
          filter: none;
  background-image: none;
  font-size: 11px;
}
.select2-container-multi .select2-choices .select2-search-field input {
  color: #3d3f42;
}
@-moz-document url-prefix() {
  select {
    text-indent: 0.01px;
    text-overflow: '';
    -moz-appearance: none;
  }
  select.input-lg {
    padding: 10px 11px;
  }
  select.input-sm {
    padding: 6px 12px;
  }
}
select::-ms-expand {
  display: none;
}
.limiterBox {
  border: 1px solid #d1d4d7;
  border-top: none;
  background-color: #d1d4d7;
  padding: 3px 6px;
  font-size: 10px;
  color: white;
  opacity: .9;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
.editor {
  max-height: 250px;
  height: 250px;
  background-color: white;
  border-collapse: separate;
  border: 1px solid #d1d4d7;
  padding: 4px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  border-radius: 2px;
  overflow: scroll;
  outline: none;
  margin-top: 20px;
}
div[data-role="editor-toolbar"] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.dropdown-menu a {
  cursor: pointer;
}
.custom-checkbox-item {
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.custom-checkbox-item + .custom-checkbox-item {
  border-top: 1px solid #f0f2f3;
}
.custom-checkbox {
  display: none;
}
.custom-checkbox-mark {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-right: 16px;
  width: 20px;
  height: 20px;
  border: 1px dotted #d1d4d7;
  border-radius: 2px;
}
.custom-checkbox-mark:before {
  content: '';
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -5px 0 0 -6px;
  height: 7px;
  width: 12px;
  border: solid #4dbd74;
  border-width: 0 0 3px 3px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.custom-checkbox-desc {
  font-weight: 400;
}
.custom-checkbox:checked ~ .custom-checkbox-mark {
  border: 1px solid #4dbd74;
}
.custom-checkbox:checked ~ .custom-checkbox-mark:before {
  display: block;
}
.custom-checkbox:disabled ~ .custom-checkbox-mark {
  border: 1px solid #f8f9fa;
}
.custom-checkbox:disabled ~ .custom-checkbox-mark:before {
  border-color: #f8f9fa;
}
.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
  margin-bottom: 0;
}
.tt-dropdown-menu {
  min-width: 160px;
  margin-top: 2px;
  padding: 5px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.tt-suggestion {
  display: block;
  padding: 3px 20px;
}
.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #0081c2;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0088cc), to(#0077b3));
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}
.tt-suggestion.tt-is-under-cursor a {
  color: #fff;
}
.tt-suggestion p {
  margin: 0;
}
.modal-content {
  border-radius: 2px;
}
.modal-primary .modal-content {
  border: 1px solid #20a8d8;
}
.modal-primary .modal-content .modal-header {
  background: #20a8d8;
  color: white;
}
.modal-success .modal-content {
  border: 1px solid #4dbd74;
}
.modal-success .modal-content .modal-header {
  background: #4dbd74;
  color: white;
}
.modal-info .modal-content {
  border: 1px solid #63c2de;
}
.modal-info .modal-content .modal-header {
  background: #63c2de;
  color: white;
}
.modal-warning .modal-content {
  border: 1px solid #f8cb00;
}
.modal-warning .modal-content .modal-header {
  background: #f8cb00;
  color: white;
}
.modal-danger .modal-content {
  border: 1px solid #f86c6b;
}
.modal-danger .modal-content .modal-header {
  background: #f86c6b;
  color: white;
}
/* Collapse
=================================================================== */
.panel-group .panel {
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #d1d4d7;
}
.panel-group .panel .panel-heading {
  background: #e4e5e6;
}
.panel-group .panel .panel-body {
  border: none !important;
}
/* UI - Progress
=================================================================== */
.progress {
  background: #e4e5e6;
  border-radius: 2px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.progress .progress-bar {
  background-color: #20a8d8;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.progress .progress-bar.progress-bar-success {
  background-color: #4dbd74;
}
.progress .progress-bar.progress-bar-info {
  background-color: #63c2de;
}
.progress .progress-bar.progress-bar-warning {
  background-color: #f8cb00;
}
.progress .progress-bar.progress-bar-danger {
  background-color: #f86c6b;
}
.progress.thin {
  height: 10px;
}
.progress.thin .progress-bar {
  font-size: 6px;
  line-height: 10px;
}
/* Pagination
=================================================================== */
.pagination li a,
.pagination li span {
  border: 1px solid #d1d4d7;
  color: #20a8d8;
}
.pagination li a:hover,
.pagination li span:hover,
.pagination li a:focus,
.pagination li span:focus {
  color: #167495;
  background-color: #e9eaeb;
  border-color: #d1d4d7;
}
.pagination li:fist-child a,
.pagination li:fist-child span {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.pagination li:last-child a,
.pagination li:last-child span {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.pagination li.active a,
.pagination li.active span,
.pagination li.active a:hover,
.pagination li.active span:hover,
.pagination li.active a:focus,
.pagination li.active span:focus {
  background-color: #20a8d8;
  border-color: #20a8d8;
}
.panel {
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-bottom: 30px;
}
.panel .panel-heading {
  line-height: 40px;
  padding: 0 15px;
  min-height: 40px;
  border-radius: 0px;
  border-bottom: none;
  position: relative;
}
.panel .panel-heading i {
  color: #d1d4d7;
  width: 30px;
  display: inline-block;
  font-size: 14px;
}
.panel .panel-heading h2,
.panel .panel-heading h3 {
  display: inline-block;
  margin: 0;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
}
.panel .panel-heading .panel-title {
  display: inline-block;
}
.panel .panel-heading .panel-actions {
  float: right;
  margin-left: 10px;
  margin-right: -5px;
  height: 40px;
  font-size: 0;
}
.panel .panel-heading .panel-actions a {
  display: inline-block;
  height: 40px;
  width: 30px;
  text-align: center;
}
.panel .panel-heading .panel-actions a i {
  display: inline-block;
  color: #d1d4d7;
  text-align: center;
  width: 30px;
  -webkit-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  text-decoration: none;
  font-size: 16px;
  line-height: 40px;
}
.panel .panel-heading .panel-actions a i.fa {
  font-size: 14px;
}
.panel .panel-heading .switch {
  margin: 11px 0 11px 15px;
}
.panel .panel-heading .label.pull-right,
.panel .panel-heading .badge.pull-right {
  margin: 11px 0;
}
.panel .panel-heading .selectbox {
  border: 1px solid #d1d4d7;
  border-radius: 2px;
  background: white;
  margin-top: 5px;
  margin-left: 15px;
  padding: 0 5px;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
}
.panel .panel-body.no-padding {
  padding: 0;
}
.panel .panel-body.padding-horizontal {
  padding: 0 15px;
}
.panel .panel-body.no-padding-bottom {
  padding-bottom: 0;
}
.panel .panel-footer {
  background: white;
  border-radius: 0px;
  border-top: none;
  position: relative;
}
.panel .panel-footer ul.panel-footer-stats {
  display: table;
  table-layout: fixed;
  width: 100%;
  margin: 0 ;
  padding: 0;
}
.panel .panel-footer ul.panel-footer-stats li {
  display: table-cell;
  border-right: 1px solid #e4e5e6;
  margin-right: -1px;
  padding: 0 15px;
  position: relative;
}
.panel .panel-footer ul.panel-footer-stats li:last-child {
  border-right: 0;
}
.panel .panel-footer ul.panel-footer-stats li span.number {
  font-size: 18px;
  position: absolute;
  top: 4px;
  right: 15px;
}
.panel .panel-footer ul.panel-footer-stats li span.title {
  color: #d1d4d7;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 11px;
  position: absolute;
  top: 28px;
  right: 15px;
}
.panel.panel-default {
  border: none;
}
.panel.panel-default .panel-heading {
  background: #f8f9fa;
}
.panel.panel-default .panel-footer {
  background: #f8f9fa;
}
.panel.panel-primary {
  border-color: #20a8d8;
}
.panel.panel-primary .panel-heading,
.panel.panel-primary .panel-footer {
  background: #5dc3e7;
  color: #092f3d;
  border-color: #20a8d8;
}
.panel.panel-success {
  border-color: #4dbd74;
}
.panel.panel-success .panel-heading,
.panel.panel-success .panel-footer {
  background: #85d2a0;
  color: #184026;
  border-color: #4dbd74;
}
.panel.panel-info {
  border-color: #63c2de;
}
.panel.panel-info .panel-heading,
.panel.panel-info .panel-footer {
  background: #a2dbeb;
  color: #196176;
  border-color: #63c2de;
}
.panel.panel-warning {
  border-color: #f8cb00;
}
.panel.panel-warning .panel-heading,
.panel.panel-warning .panel-footer {
  background: #ffdd45;
  color: #463900;
  border-color: #f8cb00;
}
.panel.panel-danger {
  border-color: #f86c6b;
}
.panel.panel-danger .panel-heading,
.panel.panel-danger .panel-footer {
  background: #fbb5b4;
  color: #a90908;
  border-color: #f86c6b;
}
.panel.panel-minimized .panel-body {
  display: none;
}
/* Alerts
=================================================================== */
.alert {
  border-radius: 2px;
  border-color: transparent !important;
}
.alert-success {
  background: #cfedda;
  border-color: #4dbd74;
  color: #2c7847;
}
.alert-success hr {
  border-top-color: #72cb91;
}
.alert-info {
  background: #ccebf4;
  border-color: #63c2de;
  color: #196176;
}
.alert-info hr {
  border-top-color: #8dd2e7;
}
.alert-warning {
  background: #ffeb92;
  border-color: #f8cb00;
  color: #796300;
}
.alert-warning hr {
  border-top-color: #ffe25f;
}
.alert-danger {
  background: #fee5e5;
  border-color: #f86c6b;
  color: #c10a09;
}
.alert-danger hr {
  border-top-color: #fbb5b4;
}
/* Labels
=================================================================== */
.label {
  font-size: 10px;
  padding: 4px 6px;
  border: none;
  text-shadow: none;
}
.label.label-default {
  background-color: #d1d4d7;
  color: #3d3f42;
}
.label.label-primary {
  background-color: #20a8d8;
}
.label.label-success {
  background-color: #4dbd74;
}
.label.label-info {
  background-color: #63c2de;
}
.label.label-warning {
  background-color: #f8cb00;
}
.label.label-danger {
  background-color: #f86c6b;
}
/* Footer
=================================================================== */
footer {
  border-top: 1px solid #d1d4d7;
  color: #d1d4d7;
  min-height: 30px;
  line-height: 30px;
  padding: 0 20px 0 270px;
  margin: 0;
  position: relative;
  z-index: 1;
  font-size: 10px;
}
footer a {
  color: #d1d4d7;
  font-weight: bold;
}
#usage {
  background: #eeeeee;
  background: -webkit-linear-gradient(#f8f8f8, #eeeeee);
  background: -o-linear-gradient(#f8f8f8, #eeeeee);
  background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#eeeeee));
  background: linear-gradient(#f8f8f8, #eeeeee);
  position: fixed;
  z-index: 2;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  border-top: 1px solid #afafaf;
  -webkit-box-shadow: 0 -2px 1px -1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 -2px 1px -1px rgba(0, 0, 0, 0.05);
  padding-left: 250px;
}
#usage ul {
  padding: 0;
  margin: 0;
  font-size: 0;
  line-height: 40px;
}
#usage ul li {
  display: inline-block;
  height: 40px;
  width: 20%;
  font-size: 10px;
  border-right: 1px solid #afafaf;
}
#usage ul li:last-child {
  border-right: none !important;
}
#usage ul li .title,
#usage ul li .bar,
#usage ul li .desc {
  display: inline-block;
  width: 30%;
  float: left;
  padding: 0 5px;
}
#usage ul li .title {
  font-weight: 700;
  text-align: right;
  width: 20%;
}
#usage ul li .text {
  width: 100%;
  padding: 0 15px;
  float: left;
}
#usage ul li .text b {
  font-weight: 700;
}
#usage ul li .bar {
  width: 50%;
}
#usage ul li .bar .progress {
  height: 10px;
  margin-top: 15px;
  border-radius: 2px;
}
body.hidden-usage footer {
  padding-bottom: 0;
}
body.hidden-usage #usage {
  display: none;
}
body.static-header .navbar {
  position: relative;
  width: 100%;
}
body.static-header .main {
  padding-top: 30px;
}
body.static-sidebar {
  position: relative;
}
body.static-sidebar .sidebar {
  position: absolute;
}
body.static-sidebar .sidebar .sidebar-menu {
  overflow-x: auto !important;
  overflow-y: auto !important;
}
body.static-sidebar .sidebar .sidebar-footer {
  position: absolute;
}
body.static-sidebar.sidebar-minified .sidebar .sidebar-menu {
  overflow-x: visible !important;
  overflow-y: visible !important;
}
body.container {
  position: relative;
  -webkit-box-shadow: 0 2px 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 1px 2px rgba(0, 0, 0, 0.1);
  padding: 0;
}
body.container .navbar {
  position: relative;
  width: 100%;
}
body.container .sidebar {
  position: absolute;
}
body.container .sidebar .sidebar-footer {
  position: absolute;
}
body.container .main {
  padding-top: 30px;
}
body.container footer {
  margin: 0;
  position: relative;
  z-index: 1;
  font-size: 10px;
}
body.container footer a {
  color: #d1d4d7;
  font-weight: bold;
}
body.container #usage {
  display: none;
}
/* Masonry Gallery
=================================================================== */
.masonry-thumb {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 6px;
}
/* Star Rating
=================================================================== */
.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  font-size: 30px;
}
.rating span.star,
.rating span.star {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
}
.rating span.star:hover,
.rating span.star:hover {
  cursor: pointer;
}
.rating span.star:before,
.rating span.star:before {
  content: "\f006";
  padding-right: 5px;
  color: #999999;
}
.rating span.star:hover:before,
.rating span.star:hover:before,
.rating span.star:hover ~ span.star:before,
.rating span.star:hover ~ span.star:before {
  content: "\f005";
  color: #e3cf7a;
}
/* Icons
=================================================================== */
.glyphicons-icon-list div {
  margin: 10px 0;
}
.glyphicons-icon-list div span,
.glyphicons-icon-list div strong {
  font-size: 10px;
}
.glyphicons-icon-list div strong {
  margin-top: -5px;
  display: block;
}
.fontawesome-icon-list div {
  margin: 5px 0;
}
.fontawesome-icon-list .fa {
  width: 20px;
  text-align: center;
  margin-right: 10px;
}
/* File manager
=================================================================== */
.elfinder .elfinder-button {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
/* Text with HR Line
=================================================================== */
.text-with-hr {
  text-align: center;
  position: relative;
  z-index: 2;
}
.text-with-hr:before {
  position: absolute;
  content: '';
  top: 20px;
  left: 0px;
  width: 100%;
  border-bottom: 1px solid #d1d4d7;
  z-index: -1;
}
.text-with-hr span {
  display: inline-block;
  background: white;
  padding: 10px;
}
/* Text with HR Line
=================================================================== */
.google-maps {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#theme-settings {
  position: fixed;
  z-index: 90;
  top: 100px;
  right: -200px;
  border: 1px solid #63c2de;
  background: white;
  width: 200px;
  padding: 0 15px 15px 15px;
  -webkit-box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.15);
}
#theme-settings #open-close {
  position: absolute;
  top: -1px;
  left: -40px;
  height: 40px;
  width: 40px;
  background: #63c2de;
  text-align: center;
  line-height: 40px;
  color: white;
  font-size: 18px;
  cursor: pointer;
  -webkit-box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.15);
}
#theme-settings h4 {
  font-weight: 600;
}
#theme-settings ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#theme-settings ul li {
  height: 30px;
}
/* Page: Activity
=================================================================== */
.activity .panel .panel-heading {
  line-height: 20px;
  height: 70px;
  padding-top: 15px;
}
.activity .panel .panel-heading img {
  height: 40px;
  margin: 0 15px 15px 0;
  float: left;
}
.activity .panel .panel-heading .small {
  color: #d1d4d7;
}
.activity .panel .panel-heading .pull-right {
  font-size: 12px;
  color: #d1d4d7;
}
.activity .panel .panel-heading .pull-right i {
  font-size: 14px;
}
.activity .panel .panel-body .video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.activity .panel .panel-body .video-container iframe,
.activity .panel .panel-body .video-container object,
.activity .panel .panel-body .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.activity .panel .panel-body .actions {
  background: #f8f9fa;
  margin: 15px -15px 0 -15px;
  padding: 0 20px 0 10px;
  line-height: 50px;
  font-size: 12px;
}
.activity .panel .panel-body .actions .btn {
  font-size: 12px;
  text-decoration: none;
}
.activity .panel .panel-body .media-object {
  width: 30px;
}
.activity .panel .panel-body .media .media-body .media-heading {
  font-weight: 500;
}
.activity .panel .panel-body .media .media-body .small {
  color: #d1d4d7;
}
.activity .panel .panel-body .media .media-body p {
  margin-top: 10px;
  font-size: 12px;
}
/* Page: Inbox
=================================================================== */
.inbox .inbox-menu ul {
  margin-top: 30px;
  padding: 0;
  list-style: none;
}
.inbox .inbox-menu ul li {
  height: 30px;
  padding: 5px 15px;
  position: relative;
}
.inbox .inbox-menu ul li:hover,
.inbox .inbox-menu ul li.active {
  background: #e4e5e6;
}
.inbox .inbox-menu ul li.title {
  margin: 20px 0px -5px 0px;
  text-transform: uppercase;
  font-size: 10px;
  color: #d1d4d7;
}
.inbox .inbox-menu ul li.title:hover {
  background: transparent;
}
.inbox .inbox-menu ul li a {
  display: block;
  width: 100%;
  text-decoration: none;
  color: #3d3f42;
}
.inbox .inbox-menu ul li a i {
  margin-right: 10px;
}
.inbox .inbox-menu ul li a .label {
  position: absolute;
  top: 10px;
  right: 15px;
  display: block;
  min-width: 14px;
  height: 14px;
  padding: 2px;
}
.inbox ul.messages-list {
  list-style: none;
  margin: 15px -15px 0 -15px;
  padding: 15px 15px 0 15px;
  border-top: 1px solid #d1d4d7;
}
.inbox ul.messages-list li {
  border-radius: 2px;
  cursor: pointer;
  margin-bottom: 10px;
  padding: 10px;
}
.inbox ul.messages-list li a {
  color: #3d3f42;
}
.inbox ul.messages-list li a:hover {
  text-decoration: none;
}
.inbox ul.messages-list li.unread .header,
.inbox ul.messages-list li.unread .title {
  font-weight: bold;
}
.inbox ul.messages-list li:hover {
  background: #e4e5e6;
  border: 1px solid #d1d4d7;
  padding: 9px;
}
.inbox ul.messages-list li:hover .action {
  color: #d1d4d7;
}
.inbox ul.messages-list li .header {
  margin: 0 0 5px 0;
}
.inbox ul.messages-list li .header .from {
  width: 49.9%;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}
.inbox ul.messages-list li .header .date {
  width: 50%;
  text-align: right;
  float: right;
}
.inbox ul.messages-list li .title {
  margin: 0 0 5px 0;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}
.inbox ul.messages-list li .description {
  font-size: 12px;
  padding-left: 29px;
}
.inbox ul.messages-list li .action {
  display: inline-block;
  width: 16px;
  text-align: center;
  margin-right: 10px;
  color: #d1d4d7;
}
.inbox ul.messages-list li .action .fa-check-square-o {
  margin: 0 -1px 0 1px;
}
.inbox ul.messages-list li .action .fa-square {
  float: left;
  margin-top: -16px;
  margin-left: 4px;
  font-size: 11px;
  color: white;
}
.inbox ul.messages-list li .action .fa-star.bg {
  float: left;
  margin-top: -16px;
  margin-left: 3px;
  font-size: 12px;
  color: white;
}
.inbox .message .message-title {
  margin-top: 30px;
  padding-top: 10px;
  font-weight: bold;
  font-size: 14px;
}
.inbox .message .header {
  margin: 20px 0 30px 0;
  padding: 10px 0 10px 0;
  border-top: 1px solid #d1d4d7;
  border-bottom: 1px solid #d1d4d7;
}
.inbox .message .header .avatar {
  border-radius: 2px;
  height: 34px;
  width: 34px;
  float: left;
  margin-right: 10px;
}
.inbox .message .header i {
  margin-top: 1px;
}
.inbox .message .header .from {
  display: inline-block;
  width: 50%;
  font-size: 12px;
  margin-top: -2px;
  color: #d1d4d7;
}
.inbox .message .header .from span {
  display: block;
  font-size: 14px;
  font-weight: bold;
  color: #3d3f42;
}
.inbox .message .header .date {
  display: inline-block;
  width: 29%;
  text-align: right;
  float: right;
  font-size: 12px;
  margin-top: 18px;
}
.inbox .message .attachments {
  border-top: 3px solid #e4e5e6;
  border-bottom: 3px solid #e4e5e6;
  padding: 10px 0px;
  margin-bottom: 20px;
  font-size: 12px;
}
.inbox .message .attachments ul {
  list-style: none;
  margin: 0 0 0 -40px;
}
.inbox .message .attachments ul li {
  margin: 10px 0;
}
.inbox .message .attachments ul li .label {
  padding: 2px 4px;
}
.inbox .message .attachments ul li span.quickMenu {
  float: right;
  text-align: right;
}
.inbox .message .attachments ul li span.quickMenu .fa {
  padding: 5px 0 5px 25px;
  font-size: 14px;
  margin: -2px 0px 0px 5px;
  color: #d1d4d7;
}
.inbox .contacts ul {
  margin-top: 30px;
  padding: 0;
  list-style: none;
}
.inbox .contacts ul li {
  height: 30px;
  padding: 5px 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis !important;
  position: relative;
  cursor: pointer;
}
.inbox .contacts ul li .label {
  display: inline-block;
  width: 6px;
  height: 6px;
  padding: 0;
  margin: 0 5px 2px 0px;
}
.inbox .contacts ul li:hover {
  background: #e4e5e6;
}
/* Page: Invoice
=================================================================== */
.invoice .header .well p {
  padding: 0;
  margin: 0px 0;
}
.invoice table {
  margin-bottom: 20px !important;
}
/* Page: Tasks
=================================================================== */
.page-todo .tasks {
  background: white;
  padding: 0;
  border-right: 1px solid #d1d4d7;
  margin: -30px 15px -30px -15px;
}
.page-todo .task-list {
  padding: 30px 15px;
  height: 100%;
}
.page-todo .graph {
  height: 100%;
}
.page-todo .priority.high {
  background: #fffdfd;
  margin-bottom: 1px;
}
.page-todo .priority.high span {
  background: #f86c6b;
  padding: 2px 10px;
  color: white;
  display: inline-block;
  font-size: 12px;
}
.page-todo .priority.medium {
  background: #fff0ab;
  margin-bottom: 1px;
}
.page-todo .priority.medium span {
  background: #f8cb00;
  padding: 2px 10px;
  color: white;
  display: inline-block;
  font-size: 12px;
}
.page-todo .priority.low {
  background: #cfedda;
  margin-bottom: 1px;
}
.page-todo .priority.low span {
  background: #4dbd74;
  padding: 2px 10px;
  color: white;
  display: inline-block;
  font-size: 12px;
}
.page-todo .task {
  border-bottom: 1px solid #e4e5e6;
  margin-bottom: 1px;
  position: relative;
}
.page-todo .task .desc {
  display: inline-block;
  width: 75%;
  padding: 10px 10px;
  font-size: 12px;
}
.page-todo .task .desc .title {
  font-size: 18px;
  margin-bottom: 5px;
}
.page-todo .task .time {
  display: inline-block;
  width: 15%;
  padding: 10px 10px 10px 0px;
  font-size: 12px;
  text-align: right;
  position: absolute;
  top: 0px;
  right: 0px;
}
.page-todo .task .time .date {
  font-size: 18px;
  margin-bottom: 5px;
}
.page-todo .task.last {
  border-bottom: 1px solid transparent;
}
.page-todo .task.high {
  border-left: 2px solid #f86c6b;
}
.page-todo .task.medium {
  border-left: 2px solid #f8cb00;
}
.page-todo .task.low {
  border-left: 2px solid #4dbd74;
}
.page-todo .timeline {
  width: auto;
  height: 100%;
  margin: 20px auto;
  position: relative;
}
.page-todo .timeline:before {
  position: absolute;
  content: '';
  height: 100%;
  width: 4px;
  background: #d1d4d7;
  left: 50%;
  margin-left: -2px;
}
.page-todo .timeslot {
  display: inline-block;
  position: relative;
  width: 100%;
  margin: 5px 0px;
}
.page-todo .timeslot .task {
  position: relative;
  width: 44%;
  display: block;
  border: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
.page-todo .timeslot .task span {
  border: 2px solid #63c2de;
  background: #e1f3f9;
  padding: 5px;
  display: block;
  font-size: 11px;
}
.page-todo .timeslot .task span span.details {
  font-size: 16px;
  margin-bottom: 10px;
}
.page-todo .timeslot .task span span.remaining {
  font-size: 14px;
}
.page-todo .timeslot .task span span {
  border: 0px;
  background: transparent;
  padding: 0px;
}
.page-todo .timeslot .task .arrow {
  position: absolute;
  top: 6px;
  right: 0px;
  height: 20px;
  width: 20px;
  border-left: 12px solid #63c2de;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  margin-right: -18px;
}
.page-todo .timeslot .task .arrow:after {
  position: absolute;
  content: '';
  top: -12px;
  right: 3px;
  height: 20px;
  width: 20px;
  border-left: 12px solid #e1f3f9;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
}
.page-todo .timeslot .icon {
  position: absolute;
  border: 2px solid #d1d4d7;
  background: #2a2c36;
  border-radius: 50em;
  height: 30px;
  width: 30px;
  top: 0;
  left: 50%;
  margin-left: -17px;
  color: white;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  text-shadow: none;
  z-index: 2;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
.page-todo .timeslot .time {
  background: #d1d4d7;
  position: absolute;
  border-radius: 4px;
  top: 1px;
  left: 50%;
  padding: 5px 10px 5px 40px;
  z-index: 1;
  margin-top: 1px;
}
.page-todo .timeslot.alt .task {
  margin-left: 56%;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
.page-todo .timeslot.alt .task .arrow {
  position: absolute;
  top: 6px;
  left: 0px;
  height: 20px;
  width: 20px;
  border-left: none;
  border-right: 12px solid #63c2de;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  margin-left: -18px;
}
.page-todo .timeslot.alt .task .arrow:after {
  top: -12px;
  left: 3px;
  height: 20px;
  width: 20px;
  border-left: none;
  border-right: 12px solid #e1f3f9;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
}
.page-todo .timeslot.alt .time {
  top: 1px;
  left: auto;
  right: 50%;
  padding: 5px 40px 5px 10px;
}
/* Higher than 992 (desktop devices)
====================================================================== */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .page-todo task .desc {
    display: inline-block;
    width: 70%;
    padding: 10px 10px;
    font-size: 12px;
  }
  .page-todo task .desc .title {
    font-size: 16px;
    margin-bottom: 5px;
  }
  .page-todo task .time {
    display: inline-block;
    float: right;
    width: 20%;
    padding: 10px 10px;
    font-size: 12px;
    text-align: right;
  }
  .page-todo task .time .date {
    font-size: 16px;
    margin-bottom: 5px;
  }
}
/* Tablet Portrait (devices and browsers)
====================================================================== */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .page-todo .task {
    margin-bottom: 1px;
  }
  .page-todo .task .desc {
    display: inline-block;
    width: 65%;
    padding: 10px 10px;
    font-size: 10px;
    margin-right: -20px;
  }
  .page-todo .task .desc .title {
    font-size: 14px;
    margin-bottom: 5px;
  }
  .page-todo .task .time {
    display: inline-block;
    float: right;
    width: 25%;
    padding: 10px 10px;
    font-size: 10px;
    text-align: right;
  }
  .page-todo .task .time .date {
    font-size: 14px;
    margin-bottom: 5px;
  }
  .page-todo .timeslot .task span {
    padding: 5px;
    display: block;
    font-size: 10px;
  }
  .page-todo .timeslot .task span span {
    border: 0px;
    background: transparent;
    padding: 0px;
  }
  .page-todo .timeslot .task span span.details {
    font-size: 14px;
    margin-bottom: 0px;
  }
  .page-todo .timeslot .task span span.remaining {
    font-size: 12px;
  }
}
/* All Mobile Sizes (devices and browser)
====================================================================== */
@media only screen and (max-width: 767px) {
  .page-todo .tasks {
    position: relative;
    margin: 0px !important;
  }
  .page-todo .graph {
    position: relative;
    margin: 0px !important;
  }
  .page-todo .task {
    margin-bottom: 1px;
  }
  .page-todo .task .desc {
    display: inline-block;
    width: 65%;
    padding: 10px 10px;
    font-size: 10px;
    margin-right: -20px;
  }
  .page-todo .task .desc .title {
    font-size: 14px;
    margin-bottom: 5px;
  }
  .page-todo .task .time {
    display: inline-block;
    float: right;
    width: 25%;
    padding: 10px 10px;
    font-size: 10px;
    text-align: right;
  }
  .page-todo .task .time .date {
    font-size: 14px;
    margin-bottom: 5px;
  }
  .page-todo .timeslot .task span {
    padding: 5px;
    display: block;
    font-size: 10px;
  }
  .page-todo .timeslot .task span span {
    border: 0px;
    background: transparent;
    padding: 0px;
  }
  .page-todo .timeslot .task span span.details {
    font-size: 14px;
    margin-bottom: 0px;
  }
  .page-todo .timeslot .task span span.remaining {
    font-size: 12px;
  }
}
/* Page: Invoice
=================================================================== */
.profile h3 {
  padding: 0 5px;
}
ul.profile-details {
  margin-top: 10px;
  padding: 0 5px;
  list-style: none;
  color: #3d3f42;
}
ul.profile-details li {
  position: relative;
  margin: 0 0 20px 0;
  padding-left: 22px;
}
ul.profile-details li div {
  color: #d1d4d7;
}
ul.profile-details li div i {
  position: absolute;
  top: 4px;
  left: -5px;
  color: #d1d4d7;
  width: 20px;
  text-align: center;
}
/* Login Box & Register Box
=================================================================== */
body.login {
  background: #2a2c36;
}
.login-box,
.register-box {
  padding: 40px 10px;
  /*margin-top: 200px;*/
}
.login-box .header,
.register-box .header {
  color: white;
  text-align: center;
  margin: -20px -20px 20px -20px;
  padding: 15px;
}
.login-box .header .logo,
.register-box .header .logo {
  font-family: 'Bad Script';
  font-size: 48px;
  line-height: 54px;
  margin: 20px 0 0 0;
}
.login-box .header .tagline,
.register-box .header .tagline {
  font-family: 'Droid Sans';
}
.login-box .input-group-addon,
.register-box .input-group-addon {
  background: white !important;
  border-right: none;
  position: relative;
}
.login-box .input-group-addon:after,
.register-box .input-group-addon:after {
  position: absolute;
  content: '';
  border-right: 1px solid #d1d4d7;
  height: 60%;
  width: 1px;
  top: 20%;
  right: 0;
}
.login-box .form-control,
.register-box .form-control {
  font-size: 14px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border-left: none;
}
.login-box .form-group,
.register-box .form-group {
  margin-bottom: -1px;
}
.login-box .form-group.first .input-group-addon,
.register-box .form-group.first .input-group-addon {
  border-radius: 2px 0 0 0;
}
.login-box .form-group.first .form-control,
.register-box .form-group.first .form-control {
  border-radius: 0 2px 0 0;
}
.login-box .form-group.middle .input-group-addon,
.register-box .form-group.middle .input-group-addon {
  border-radius: 0px;
}
.login-box .form-group.middle .form-control,
.register-box .form-group.middle .form-control {
  border-radius: 0px;
}
.login-box .form-group.last .input-group-addon,
.register-box .form-group.last .input-group-addon {
  border-radius: 0 0 0 2px;
}
.login-box .form-group.last .form-control,
.register-box .form-group.last .form-control {
  border-radius: 0 0 2px 0;
}
.login-box button,
.register-box button {
  margin: 20px 0 10px 0;
}
.login-box p,
.register-box p {
  /*margin: -10px 0;*/
  color: white;
}
.login-box .social,
.register-box .social {
  margin-left: -5px;
  margin-right: -5px;
}
.login-box .social .col-xs-4,
.register-box .social .col-xs-4 {
  padding-left: 5px;
  padding-right: 5px;
}
.login-box .social .col-xs-6,
.register-box .social .col-xs-6 {
  padding-left: 5px;
  padding-right: 5px;
}
.login-box a,
.register-box a {
  color: #d1d4d7;
  font-size: 12px;
}
/* Price Tables
=================================================================== */
.price-table-overlay {
  overflow: scroll;
}
.price-table {
  margin-top: 22px;
  padding-left: 1px;
  min-width: 1000px;
}
.price-table .plan {
  padding: 0 10px;
  float: left;
}
.price-table ul {
  position: relative;
  z-index: 1;
  list-style: none;
  float: left;
  padding: 20px 0;
  text-align: center;
  background: white;
  border: 1px solid #d1d4d7;
  -webkit-box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.1);
  width: 100%;
}
.price-table ul li {
  font-size: 12px;
  line-height: 20px;
  text-shadow: none;
  padding: 10px 15px;
}
.price-table ul li span {
  font-weight: bold;
}
.price-table ul li.header {
  font-size: 24px;
  padding: 25px 0;
}
.price-table ul li.price {
  font-size: 24px;
  padding: 15px 0 40px 0;
  height: 58px;
  font-weight: 700;
}
.price-table ul li.strike {
  text-decoration: line-through;
}
.price-table ul.popular {
  overflow: hidden;
}
.price-table ul.popular .label {
  font-size: 12px;
  line-height: 16px;
  line-height: -50px;
  width: 200px;
  position: absolute;
  top: 20px;
  right: -70px;
  color: white;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2);
}
.price-table ul:hover {
  background: #63c2de;
  color: white;
}
.price-table ul:hover .btn {
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 2px solid white;
}
.price-table.five .plan {
  width: 20%;
}
.price-table.four .plan {
  width: 25%;
}
.price-table.three .plan {
  width: 33.333%;
}
.price-table.two .plan {
  width: 50%;
}
.price-table.one .plan {
  width: 100%;
}
/* Page 404 & Page 500
=================================================================== */
.box-error {
  margin-top: 200px;
}
.box-error h1 {
  float: left;
  font-size: 48px;
  margin-right: 20px;
}
.box-error p {
  margin-top: -8px;
  font-weight: 300;
}
.welcome .header {
  border-bottom: 2px solid #CDCDCD;
  margin: 20px auto 60px;
  padding-bottom: 30px;
  text-align: center;
  width: 50%;
}
.welcome .header .logo {
  margin: 0;
  font-size: 58px;
  line-height: 64px;
}
.welcome .header .tagline {
  font-size: 17px;
}
@media (max-width: 479px) {
  .col-xxs-12 {
    width: 100%;
  }
  .panel {
    overflow: hidden;
  }
  .panel-footer ul.panel-footer-stats li {
    float: left;
    display: block !important;
    width: 100% !important;
    border-right: none !important;
    border-bottom: 1px solid #e4e5e6;
    margin-right: 0 !important;
    padding: 10px 5px !important;
  }
  .panel-footer ul.panel-footer-stats li:last-child {
    border-bottom: none;
  }
}
@media screen and (min-width: 768px) {
  .container-fluid.content {
    overflow: hidden;
  }
  .sidebar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
}
@media (max-width: 767px) {
  .container-fluid.content {
    overflow: hidden;
  }
  .main {
    overflow: hidden;
    padding: 60px 10px 0 10px !important;
  }
  .breadcrumb {
    margin: -15px -15px 0 -15px;
  }
  .navbar .navbar-actions {
    left: 15px !important;
  }
  .navbar .navbar-form {
    display: none;
  }
  .navbar .navbar-nav {
    margin-top: 0px;
  }
  .navbar .navbar-nav li {
    float: left;
  }
  .navbar .navbar-left {
    float: left;
  }
  .navbar .navbar-right {
    float: right;
  }
  .panel-footer ul.panel-footer-stats li {
    float: left;
    display: block;
    width: 50%;
    border-right: none !important;
    border-bottom: none;
    margin-right: 0;
    padding: 10px 15px !important;
  }
  .panel-footer ul.panel-footer-stats li span.number {
    top: 14px !important;
  }
  .panel-footer ul.panel-footer-stats li span.title {
    top: 38px !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .navbar-form input[type=text] {
    width: 250px !important;
  }
}
@media (max-width: 991px) {
  .sidebar {
    z-index: 1;
    padding-top: 0;
  }
  .sidebar .sidebar-header {
    padding: 5px;
    height: 50px;
    position: relative;
  }
  .sidebar .sidebar-header img {
    width: 40px;
    margin: 0 10px 0 0;
  }
  .sidebar .sidebar-header h2 {
    margin-top: 12px;
  }
  .sidebar .sidebar-header h3 {
    margin-top: 0px;
  }
  #sidebar-minify {
    display: none;
  }
  .navbar {
    padding: 0;
  }
  .navbar .navbar-header {
    width: 250px;
  }
  .navbar .navbar-header .navbar-brand {
    margin-left: 50px;
  }
  .navbar .navbar-actions {
    position: absolute;
    left: 0px;
    top: 0px;
  }
  .navbar .navbar-form {
    border-left: 1px solid #d1d4d7;
  }
  .main {
    padding: 90px 30px 0 30px;
    z-index: 10;
    position: relative;
  }
  footer {
    padding: 0 20px;
    margin-bottom: 0;
    text-align: center;
  }
  #usage {
    display: none;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .navbar-form input[type=text] {
    width: 240px !important;
  }
}
@media (min-width: 992px) {
  .hidden-xs,
  .hidden-sm,
  .hidden-md,
  .hidden-lg {
    display: inline-block !important;
  }
}
/*# sourceMappingURL=style.css.map */