.welcome {
	.header {
		border-bottom: 2px solid #CDCDCD;
		margin: 20px auto 60px;
		padding-bottom: 30px;
		text-align: center;
		width: 50%;

		.logo {
			margin: 0;
			font-size: 58px;
			line-height: 64px;
		}

		.tagline {
			font-size: 17px;
		}
	}
}