<script>
	loadCSS("assets/plugins/jquery-ui/css/jquery-ui-1.10.4.min.css");
	loadCSS("assets/plugins/select2/css/select2.css");
	loadCSS("assets/plugins/select2/css/select2-bootstrap.css");
	loadCSS("assets/plugins/daterangepicker/css/daterangepicker-bs3.css");
	
	var requireJS = [
		"assets/plugins/jquery-ui/js/jquery-ui-1.10.4.min.js",
		"assets/plugins/select2/js/select2.min.js",
		"assets/plugins/autosize/jquery.autosize.min.js",
		"assets/plugins/placeholder/jquery.placeholder.min.js",
		"assets/plugins/maskedinput/jquery.maskedinput.min.js",
		"assets/plugins/inputlimiter/js/jquery.inputlimiter.1.3.1.min.js",
		"assets/plugins/datepicker/js/bootstrap-datepicker.min.js",
		"assets/plugins/timepicker/js/bootstrap-timepicker.min.js",
		"assets/plugins/moment/moment.min.js",
		"assets/plugins/daterangepicker/js/daterangepicker.min.js",
		"assets/plugins/hotkeys/jquery.hotkeys.min.js",
		"assets/plugins/wysiwyg/bootstrap-wysiwyg.min.js",
		"assets/plugins/colorpicker/js/bootstrap-colorpicker.min.js"
	]; 
	
	loadJS(requireJS, "assets/js/pages/form-elements.js");	
</script>

			<div class="row">
			    <div class="col-md-6">
			        <div class="panel panel-default">
			            <div class="panel-heading">
			                <h2><strong>Basic Form</strong> Elements</h2>
			            </div>
			            <div class="panel-body">
			                <form action="" method="post" enctype="multipart/form-data" class="form-horizontal ">
			                    <div class="form-group">
			                        <label class="col-md-3 control-label">Static</label>
			                        <div class="col-md-9">
			                            <p class="form-control-static">Username</p>
			                        </div>
			                    </div>
			                    <div class="form-group">
			                        <label class="col-md-3 control-label" for="text-input">Text Input</label>
			                        <div class="col-md-9">
			                            <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Text">
			                            <span class="help-block">This is a help text</span>
			                        </div>
			                    </div>
			                    <div class="form-group">
			                        <label class="col-md-3 control-label" for="email-input">Email Input</label>
			                        <div class="col-md-9">
			                            <input type="email" id="email-input" name="email-input" class="form-control" placeholder="Enter Email">
			                            <span class="help-block">Please enter your email</span>
			                        </div>
			                    </div>
			                    <div class="form-group">
			                        <label class="col-md-3 control-label" for="password-input">Password</label>
			                        <div class="col-md-9">
			                            <input type="password" id="password-input" name="password-input" class="form-control" placeholder="Password">
			                            <span class="help-block">Please enter a complex password</span>
			                        </div>
			                    </div>
			                    <div class="form-group">
			                        <label class="col-md-3 control-label" for="disabled-input">Disabled Input</label>
			                        <div class="col-md-9">
			                            <input type="text" id="disabled-input" name="disabled-input" class="form-control" placeholder="Disabled" disabled>
			                        </div>
			                    </div>
			                    <div class="form-group">
			                        <label class="col-md-3 control-label" for="textarea-input">Textarea</label>
			                        <div class="col-md-9">
			                            <textarea id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Content.."></textarea>
			                        </div>
			                    </div>
			                    <div class="form-group">
			                        <label class="col-md-3 control-label" for="select">Select</label>
			                        <div class="col-md-9">
			                            <select id="select" name="select" class="form-control" size="1">
			                                <option value="0">Please select</option>
			                                <option value="1">Option #1</option>
			                                <option value="2">Option #2</option>
			                                <option value="3">Option #3</option>
			                            </select>
			                        </div>
			                    </div>
			                    <div class="form-group">
			                        <label class="col-md-3 control-label" for="select">Select Large</label>
			                        <div class="col-md-9">
			                            <select id="select" name="select" class="form-control input-lg" size="1">
			                                <option value="0">Please select</option>
			                                <option value="1">Option #1</option>
			                                <option value="2">Option #2</option>
			                                <option value="3">Option #3</option>
			                            </select>
			                        </div>
			                    </div>
			                    <div class="form-group">
			                        <label class="col-md-3 control-label" for="select">Select Small</label>
			                        <div class="col-md-9">
			                            <select id="select" name="select" class="form-control input-sm" size="1">
			                                <option value="0">Please select</option>
			                                <option value="1">Option #1</option>
			                                <option value="2">Option #2</option>
			                                <option value="3">Option #3</option>
			                            </select>
			                        </div>
			                    </div>
			                    <div class="form-group">
			                        <label class="col-md-3 control-label" for="select">Disabled Select</label>
			                        <div class="col-md-9">
			                            <select id="disabledSelect" class="form-control" disabled>
			                                <option value="0">Please select</option>
			                                <option value="1">Option #1</option>
			                                <option value="2">Option #2</option>
			                                <option value="3">Option #3</option>
			                            </select>
			                        </div>
			                    </div>
			                    <div class="form-group">
			                        <label class="col-md-3 control-label" for="multiple-select">Multiple select</label>
			                        <div class="col-md-9">
			                            <select id="multiple-select" name="multiple-select" class="form-control" size="5" multiple>
			                                <option value="1">Option #1</option>
			                                <option value="2">Option #2</option>
			                                <option value="3">Option #3</option>
			                                <option value="4">Option #4</option>
			                                <option value="5">Option #5</option>
			                                <option value="6">Option #6</option>
			                                <option value="7">Option #7</option>
			                                <option value="8">Option #8</option>
			                                <option value="9">Option #9</option>
			                                <option value="10">Option #10</option>
			                            </select>
			                        </div>
			                    </div>
			                    <div class="form-group">
			                        <label class="col-md-3 control-label">Radios</label>
			                        <div class="col-md-9">
			                            <div class="radio">
			                                <label for="radio1">
			                                    <input type="radio" id="radio1" name="radios" value="option1">Option 1
			                                </label>
			                            </div>
			                            <div class="radio">
			                                <label for="radio2">
			                                    <input type="radio" id="radio2" name="radios" value="option2">Option 2
			                                </label>
			                            </div>
			                            <div class="radio">
			                                <label for="radio3">
			                                    <input type="radio" id="radio3" name="radios" value="option3">Option 3
			                                </label>
			                            </div>
			                        </div>
			                    </div>
			                    <div class="form-group">
			                        <label class="col-md-3 control-label">Inline Radios</label>
			                        <div class="col-md-9">
			                            <label class="radio-inline" for="inline-radio1">
			                                <input type="radio" id="inline-radio1" name="inline-radios" value="option1">One
			                            </label>
			                            <label class="radio-inline" for="inline-radio2">
			                                <input type="radio" id="inline-radio2" name="inline-radios" value="option2">Two
			                            </label>
			                            <label class="radio-inline" for="inline-radio3">
			                                <input type="radio" id="inline-radio3" name="inline-radios" value="option3">Three
			                            </label>
			                        </div>
			                    </div>
			                    <div class="form-group">
			                        <label class="col-md-3 control-label">Checkboxes</label>
			                        <div class="col-md-9">
			                            <div class="checkbox">
			                                <label for="checkbox1">
			                                    <input type="checkbox" id="checkbox1" name="checkbox1" value="option1">Option 1
			                                </label>
			                            </div>
			                            <div class="checkbox">
			                                <label for="checkbox2">
			                                    <input type="checkbox" id="checkbox2" name="checkbox2" value="option2">Option 2
			                                </label>
			                            </div>
			                            <div class="checkbox">
			                                <label for="checkbox3">
			                                    <input type="checkbox" id="checkbox3" name="checkbox3" value="option3">Option 3
			                                </label>
			                            </div>
			                        </div>
			                    </div>
			                    <div class="form-group">
			                        <label class="col-md-3 control-label">Inline Checkboxes</label>
			                        <div class="col-md-9">
			                            <label class="checkbox-inline" for="inline-checkbox1">
			                                <input type="checkbox" id="inline-checkbox1" name="inline-checkbox1" value="option1">One
			                            </label>
			                            <label class="checkbox-inline" for="inline-checkbox2">
			                                <input type="checkbox" id="inline-checkbox2" name="inline-checkbox2" value="option2">Two
			                            </label>
			                            <label class="checkbox-inline" for="inline-checkbox3">
			                                <input type="checkbox" id="inline-checkbox3" name="inline-checkbox3" value="option3">Three
			                            </label>
			                        </div>
			                    </div>
			                    <div class="form-group">
			                        <label class="col-md-3 control-label" for="file-input">File input</label>
			                        <div class="col-md-9">
			                            <input type="file" id="file-input" name="file-input">
			                        </div>
			                    </div>
			                    <div class="form-group">
			                        <label class="col-md-3 control-label" for="file-multiple-input">Multiple File input</label>
			                        <div class="col-md-9">
			                            <input type="file" id="file-multiple-input" name="file-multiple-input" multiple>
			                        </div>
			                    </div>
			                </form>
			            </div>
			            <div class="panel-footer">
			                <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
			                <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
			            </div>
			        </div>

			        <div class="panel panel-default">
			            <div class="panel-heading">
			                <h2><strong>Inline</strong> Form</h2>
			            </div>
			            <div class="panel-body">
			                <form action="" method="post" class="form-inline">
			                    <div class="form-group">
			                        <label class="sr-only" for="if-email">Email</label>
			                        <input type="email" id="if-email" name="if-email" class="form-control" placeholder="Enter Email..">
			                    </div>
			                    <div class="form-group">
			                        <label class="sr-only" for="if-password">Password</label>
			                        <input type="password" id="if-password" name="if-password" class="form-control" placeholder="Enter Password..">
			                    </div>
			                </form>
			            </div>
			            <div class="panel-footer">
			                <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
			                <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
			            </div>
			        </div>


			    </div>
			    <div class="col-md-6">
			        <div class="panel panel-default">
			            <div class="panel-heading">
			                <h2><strong>Horizontal</strong> Form</h2>
			            </div>
			            <div class="panel-body">
			                <form action="" method="post" class="form-horizontal ">
			                    <div class="form-group">
			                        <label class="col-md-3 control-label" for="hf-email">Email</label>
			                        <div class="col-md-9">
			                            <input type="email" id="hf-email" name="hf-email" class="form-control" placeholder="Enter Email..">
			                            <span class="help-block">Please enter your email</span>
			                        </div>
			                    </div>
			                    <div class="form-group">
			                        <label class="col-md-3 control-label" for="hf-password">Password</label>
			                        <div class="col-md-9">
			                            <input type="password" id="hf-password" name="hf-password" class="form-control" placeholder="Enter Password..">
			                            <span class="help-block">Please enter your password</span>
			                        </div>
			                    </div>
			                </form>
			            </div>
			            <div class="panel-footer">
			                <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
			                <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
			            </div>
			        </div>
			        <div class="panel panel-default">
			            <div class="panel-heading">
			                <h2><strong>Normal</strong> Form</h2>
			            </div>
			            <div class="panel-body">
			                <form action="" method="post">
			                    <div class="form-group">
			                        <label for="nf-email">Email</label>
			                        <input type="email" id="nf-email" name="nf-email" class="form-control" placeholder="Enter Email..">
			                        <span class="help-block">Please enter your email</span>
			                    </div>
			                    <div class="form-group">
			                        <label for="nf-password">Password</label>
			                        <input type="password" id="nf-password" name="nf-password" class="form-control" placeholder="Enter Password..">
			                        <span class="help-block">Please enter your password</span>
			                    </div>
			                </form>
			            </div>
			            <div class="panel-footer">
			                <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
			                <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
			            </div>
			        </div>


			        <div class="panel panel-default">
			            <div class="panel-heading">
			                <h2>Input <strong>Grid</strong></h2>
			            </div>
			            <div class="panel-body">
			                <form action="" method="post" class="form-horizontal ">

			                    <div class="form-group">
			                        <div class="col-sm-3">
			                            <input type="text" class="form-control" placeholder=".col-sm-3">
			                        </div>
			                    </div>
			                    <div class="form-group">
			                        <div class="col-sm-4">
			                            <input type="text" class="form-control" placeholder=".col-sm-4">
			                        </div>
			                    </div>
			                    <div class="form-group">
			                        <div class="col-sm-5">
			                            <input type="text" class="form-control" placeholder=".col-sm-5">
			                        </div>
			                    </div>
			                    <div class="form-group">
			                        <div class="col-sm-6">
			                            <input type="text" class="form-control" placeholder=".col-sm-6">
			                        </div>
			                    </div>
			                    <div class="form-group">
			                        <div class="col-sm-7">
			                            <input type="text" class="form-control" placeholder=".col-sm-7">
			                        </div>
			                    </div>
			                    <div class="form-group">
			                        <div class="col-sm-8">
			                            <input type="text" class="form-control" placeholder=".col-sm-8">
			                        </div>
			                    </div>
			                    <div class="form-group">
			                        <div class="col-sm-9">
			                            <input type="text" class="form-control" placeholder=".col-sm-9">
			                        </div>
			                    </div>
			                    <div class="form-group">
			                        <div class="col-sm-10">
			                            <input type="text" class="form-control" placeholder=".col-sm-10">
			                        </div>
			                    </div>
			                    <div class="form-group">
			                        <div class="col-sm-11">
			                            <input type="text" class="form-control" placeholder=".col-sm-11">
			                        </div>
			                    </div>
			                    <div class="form-group">
			                        <div class="col-sm-12">
			                            <input type="text" class="form-control" placeholder=".col-sm-12">
			                        </div>
			                    </div>
			                </form>
			            </div>
			            <div class="panel-footer">
			                <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-user"></i> Login</button>
			                <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
			            </div>
			        </div>

			        <div class="panel panel-default">
			            <div class="panel-heading">
			                <h2>Input <strong>Sizes</strong></h2>
			            </div>
			            <div class="panel-body">
			                <form action="" method="post" class="form-horizontal ">
			                    <div class="form-group">
			                        <label class="col-sm-3 control-label" for="input-small">Small Input</label>
			                        <div class="col-sm-6">
			                            <input type="text" id="input-small" name="input-small" class="form-control input-sm" placeholder=".input-sm">
			                        </div>
			                    </div>
			                    <div class="form-group">
			                        <label class="col-sm-3 control-label" for="input-normal">Normal Input</label>
			                        <div class="col-sm-6">
			                            <input type="text" id="input-normal" name="input-normal" class="form-control" placeholder="Normal">
			                        </div>
			                    </div>
			                    <div class="form-group">
			                        <label class="col-sm-3 control-label" for="input-large">Large Input</label>
			                        <div class="col-sm-6">
			                            <input type="text" id="input-large" name="input-large" class="form-control input-lg" placeholder=".input-lg">
			                        </div>
			                    </div>
			                </form>
			            </div>
			            <div class="panel-footer">
			                <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
			                <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
			            </div>
			        </div>
			    </div><!--/col-->
			</div>
			<!--/.row-->

			<div class="row">
			    <div class="col-sm-6">
			        <div class="panel panel-default">
			            <div class="panel-heading">
			                <h2><strong>Validation states</strong> Form</h2>
			            </div>
			            <div class="panel-body">
			                <div class="form-group has-success">
			                    <label class="control-label" for="inputSuccess1">Input with success</label>
			                    <input type="text" class="form-control" id="inputSuccess1">
			                </div>
			                <div class="form-group has-warning">
			                    <label class="control-label" for="inputWarning1">Input with warning</label>
			                    <input type="text" class="form-control" id="inputWarning1">
			                </div>
			                <div class="form-group has-error">
			                    <label class="control-label" for="inputError1">Input with error</label>
			                    <input type="text" class="form-control" id="inputError1">
			                </div>
			            </div>
			        </div>
			    </div><!--/col-->
			    <div class="col-sm-6">
			        <div class="panel panel-default">
			            <div class="panel-heading">
			                <h2><strong>Validation states</strong> with optional icons</h2>
			            </div>
			            <div class="panel-body">
			                <div class="form-group has-success has-feedback">
			                    <label class="control-label" for="inputSuccess2">Input with success</label>
			                    <input type="text" class="form-control" id="inputSuccess2">
			                    <span class="glyphicon glyphicon-ok form-control-feedback"></span>
			                </div>
			                <div class="form-group has-warning has-feedback">
			                    <label class="control-label" for="inputWarning2">Input with warning</label>
			                    <input type="text" class="form-control" id="inputWarning2">
			                    <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
			                </div>
			                <div class="form-group has-error has-feedback">
			                    <label class="control-label" for="inputError2">Input with error</label>
			                    <input type="text" class="form-control" id="inputError2">
			                    <span class="glyphicon glyphicon-remove form-control-feedback"></span>
			                </div>
			            </div>
			        </div>
			    </div><!--/col-->
			</div>
			<div class="row">
			    <div class="col-sm-4">
			        <div class="panel panel-default">
			            <div class="panel-heading">
			                <h2><strong>Icon/Text</strong> Groups</h2>
			            </div>
			            <div class="panel-body">
			                <form action="" method="post" class="form-horizontal ">
			                    <div class="form-group">
			                        <div class="col-md-12">
			                            <div class="input-group">
			                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
			                                <input type="text" id="input1-group1" name="input1-group1" class="form-control" placeholder="Username">
			                            </div>
			                        </div>
			                    </div>
			                    <div class="form-group">
			                        <div class="col-md-12">
			                            <div class="input-group">
			                                <input type="email" id="input2-group1" name="input2-group1" class="form-control" placeholder="Email">
			                                <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
			                            </div>
			                        </div>
			                    </div>
			                    <div class="form-group">
			                        <div class="col-md-12">
			                            <div class="input-group">
			                                <span class="input-group-addon"><i class="fa fa-euro"></i></span>
			                                <input type="text" id="input3-group1" name="input3-group1" class="form-control" placeholder="..">
			                                <span class="input-group-addon">.00</span>
			                            </div>
			                        </div>
			                    </div>
			                </form>
			            </div>
			            <div class="panel-footer">
			                <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-dot-circle-o"></i> Submit</button>
			                <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
			            </div>
			        </div>
			    </div>
			    <div class="col-sm-4">
			        <div class="panel panel-default">
			            <div class="panel-heading">
			                <h2><strong>Buttons</strong> Groups</h2>
			            </div>
			            <div class="panel-body">
			                <form action="" method="post" class="form-horizontal ">
			                    <div class="form-group">
			                        <div class="col-md-12">
			                            <div class="input-group">
			                                <span class="input-group-btn">
							                            <button type="button" class="btn btn-primary"><i class="fa fa-search"></i> Search</button>
							                            </span>
			                                <input type="text" id="input1-group2" name="input1-group2" class="form-control" placeholder="Username">
			                            </div>
			                        </div>
			                    </div>
			                    <div class="form-group">
			                        <div class="col-md-12">
			                            <div class="input-group">
			                                <input type="email" id="input2-group2" name="input2-group2" class="form-control" placeholder="Email">
			                                <span class="input-group-btn">
							                            <button type="button" class="btn btn-primary">Submit</button>
							                            </span>
			                            </div>
			                        </div>
			                    </div>
			                    <div class="form-group">
			                        <div class="col-md-12">
			                            <div class="input-group">
			                                <span class="input-group-btn">
							                            <button type="button" class="btn btn-primary"><i class="fa fa-facebook"></i></button>
							                            </span>
			                                <input type="text" id="input3-group2" name="input3-group2" class="form-control" placeholder="Search">
			                                <span class="input-group-btn">
							                            <button type="button" class="btn btn-primary"><i class="fa fa-twitter"></i></button>
							                            </span>
			                            </div>
			                        </div>
			                    </div>
			                </form>
			            </div>
			            <div class="panel-footer">
			                <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-dot-circle-o"></i> Submit</button>
			                <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
			            </div>
			        </div>
			    </div>
			    <div class="col-sm-4">
			        <div class="panel panel-default">
			            <div class="panel-heading">
			                <h2><strong>Dropdowns</strong> Groups</h2>
			            </div>
			            <div class="panel-body">
			                <form action="" method="post" class="form-horizontal ">
			                    <div class="form-group">
			                        <div class="col-md-12">
			                            <div class="input-group">
			                                <div class="input-group-btn">
			                                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Action <span class="caret"></span>
			                                    </button>
			                                    <ul class="dropdown-menu">
			                                        <li><a href="javascript:void(0)">Action</a>
			                                        </li>
			                                        <li><a href="javascript:void(0)">Another action</a>
			                                        </li>
			                                        <li><a href="javascript:void(0)">Something else here</a>
			                                        </li>
			                                        <li class="divider"></li>
			                                        <li><a href="javascript:void(0)">Separated link</a>
			                                        </li>
			                                    </ul>
			                                </div>
			                                <input type="text" id="input1-group3" name="input1-group3" class="form-control" placeholder="Username">
			                            </div>
			                        </div>
			                    </div>
			                    <div class="form-group">
			                        <div class="col-md-12">
			                            <div class="input-group">
			                                <input type="email" id="input2-group3" name="input2-group3" class="form-control" placeholder="Email">
			                                <div class="input-group-btn">
			                                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Action <span class="caret"></span>
			                                    </button>
			                                    <ul class="dropdown-menu dropdown-menu-right">
			                                        <li><a href="javascript:void(0)">Action</a>
			                                        </li>
			                                        <li><a href="javascript:void(0)">Another action</a>
			                                        </li>
			                                        <li><a href="javascript:void(0)">Something else here</a>
			                                        </li>
			                                        <li class="divider"></li>
			                                        <li><a href="javascript:void(0)">Separated link</a>
			                                        </li>
			                                    </ul>
			                                </div>
			                            </div>
			                        </div>
			                    </div>
			                    <div class="form-group">
			                        <div class="col-md-12">
			                            <div class="input-group">
			                                <div class="input-group-btn">
			                                    <button type="button" class="btn btn-primary">Action</button>
			                                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span>
			                                    </button>
			                                    <ul class="dropdown-menu">
			                                        <li><a href="javascript:void(0)">Action</a>
			                                        </li>
			                                        <li><a href="javascript:void(0)">Another action</a>
			                                        </li>
			                                        <li><a href="javascript:void(0)">Something else here</a>
			                                        </li>
			                                        <li class="divider"></li>
			                                        <li><a href="javascript:void(0)">Separated link</a>
			                                        </li>
			                                    </ul>
			                                </div>
			                                <input type="text" id="input3-group3" name="input3-group3" class="form-control" placeholder="..">
			                                <div class="input-group-btn">
			                                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span>
			                                    </button>
			                                    <ul class="dropdown-menu dropdown-menu-right">
			                                        <li><a href="javascript:void(0)">Action</a>
			                                        </li>
			                                        <li><a href="javascript:void(0)">Another action</a>
			                                        </li>
			                                        <li><a href="javascript:void(0)">Something else here</a>
			                                        </li>
			                                        <li class="divider"></li>
			                                        <li><a href="javascript:void(0)">Separated link</a>
			                                        </li>
			                                    </ul>
			                                </div>
			                            </div>
			                        </div>
			                    </div>
			                </form>
			            </div>
			            <div class="panel-footer">
			                <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-dot-circle-o"></i> Submit</button>
			                <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
			            </div>
			        </div>
			    </div>
			</div>
			<div class="row">
			    <div class="col-md-6">
			        <div class="panel panel-default">
			            <div class="panel-heading">
			                <h2>Use the grid for big devices! <small><code>.col-lg-*</code> <code>.col-md-*</code> <code>.col-sm-*</code></small></h2>
			            </div>
			            <div class="panel-body">
			                <form action="" method="post" class="form-horizontal ">
			                    <div class="form-group">
			                        <div class="col-md-8">
			                            <input type="text" class="form-control" placeholder=".col-md-8">
			                        </div>
			                        <div class="col-md-4">
			                            <input type="text" class="form-control" placeholder=".col-md-4">
			                        </div>
			                    </div>
			                    <div class="form-group">
			                        <div class="col-md-7">
			                            <input type="text" class="form-control" placeholder=".col-md-7">
			                        </div>
			                        <div class="col-md-5">
			                            <input type="text" class="form-control" placeholder=".col-md-5">
			                        </div>
			                    </div>
			                    <div class="form-group">
			                        <div class="col-md-6">
			                            <input type="text" class="form-control" placeholder=".col-md-6">
			                        </div>
			                        <div class="col-md-6">
			                            <input type="text" class="form-control" placeholder=".col-md-6">
			                        </div>
			                    </div>
			                    <div class="form-group">
			                        <div class="col-md-5">
			                            <input type="text" class="form-control" placeholder=".col-md-5">
			                        </div>
			                        <div class="col-md-7">
			                            <input type="text" class="form-control" placeholder=".col-md-7">
			                        </div>
			                    </div>
			                    <div class="form-group">
			                        <div class="col-md-4">
			                            <input type="text" class="form-control" placeholder=".col-md-4">
			                        </div>
			                        <div class="col-md-8">
			                            <input type="text" class="form-control" placeholder=".col-md-8">
			                        </div>
			                    </div>
			                </form>
			            </div>
			            <div class="panel-footer">
			                <button type="submit" class="btn btn-sm btn-primary">Action</button>
			                <button type="button" class="btn btn-sm btn-danger">Action</button>
			                <button type="button" class="btn btn-sm btn-warning">Action</button>
			                <button type="button" class="btn btn-sm btn-info">Action</button>
			                <button type="button" class="btn btn-sm btn-success">Action</button>
			            </div>
			        </div>
			    </div>
			    <div class="col-md-6">
			        <div class="panel panel-default">
			            <div class="panel-heading">
			                <h2>Input Grid for small devices! <small> <code>.col-xs-*</code></small></h2>
			            </div>
			            <div class="panel-body">
			                <form action="" method="post" class="form-horizontal ">
			                    <div class="form-group">
			                        <div class="col-xs-4">
			                            <input type="text" class="form-control" placeholder=".col-xs-4">
			                        </div>
			                        <div class="col-xs-8">
			                            <input type="text" class="form-control" placeholder=".col-xs-8">
			                        </div>
			                    </div>
			                    <div class="form-group">
			                        <div class="col-xs-5">
			                            <input type="text" class="form-control" placeholder=".col-xs-5">
			                        </div>
			                        <div class="col-xs-7">
			                            <input type="text" class="form-control" placeholder=".col-xs-7">
			                        </div>
			                    </div>
			                    <div class="form-group">
			                        <div class="col-xs-6">
			                            <input type="text" class="form-control" placeholder=".col-xs-6">
			                        </div>
			                        <div class="col-xs-6">
			                            <input type="text" class="form-control" placeholder=".col-xs-6">
			                        </div>
			                    </div>
			                    <div class="form-group">
			                        <div class="col-xs-7">
			                            <input type="text" class="form-control" placeholder=".col-xs-5">
			                        </div>
			                        <div class="col-xs-5">
			                            <input type="text" class="form-control" placeholder=".col-xs-5">
			                        </div>
			                    </div>
			                    <div class="form-group">
			                        <div class="col-xs-8">
			                            <input type="text" class="form-control" placeholder=".col-xs-8">
			                        </div>
			                        <div class="col-xs-4">
			                            <input type="text" class="form-control" placeholder=".col-xs-4">
			                        </div>
			                    </div>
			                </form>
			            </div>
			            <div class="panel-footer">
			                <button type="submit" class="btn btn-sm btn-primary">Action</button>
			                <button type="button" class="btn btn-sm btn-danger">Action</button>
			                <button type="button" class="btn btn-sm btn-warning">Action</button>
			                <button type="button" class="btn btn-sm btn-info">Action</button>
			                <button type="button" class="btn btn-sm btn-success">Action</button>
			            </div>
			        </div>
			    </div>
			</div>
			<div class="row">
			    <div class="col-sm-4">
			        <div class="panel panel-default">
			            <div class="panel-heading">
			                <h2>Example Form</h2>
			            </div>
			            <div class="panel-body">
			                <form action="" method="post">
			                    <div class="form-group">
			                        <div class="input-group">
			                            <span class="input-group-addon">Username</span>
			                            <input type="text" id="username3" name="username3" class="form-control">
			                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
			                        </div>
			                    </div>
			                    <div class="form-group">
			                        <div class="input-group">
			                            <span class="input-group-addon">Email</span>
			                            <input type="email" id="email3" name="email3" class="form-control">
			                            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
			                        </div>
			                    </div>
			                    <div class="form-group">
			                        <div class="input-group">
			                            <span class="input-group-addon">Password</span>
			                            <input type="password" id="password3" name="password3" class="form-control">
			                            <span class="input-group-addon"><i class="fa fa-asterisk"></i></span>
			                        </div>
			                    </div>
			                    <div class="form-group form-actions">
			                        <button type="submit" class="btn btn-sm btn-primary">Submit</button>
			                    </div>
			                </form>
			            </div>
			        </div>
			    </div>
			    <div class="col-sm-4">
			        <div class="panel panel-default">
			            <div class="panel-heading">
			                <h2>Example Form</h2>
			            </div>
			            <div class="panel-body">
			                <form action="" method="post">
			                    <div class="form-group">
			                        <div class="input-group">
			                            <input type="text" id="username2" name="username2" class="form-control" placeholder="Username">
			                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
			                        </div>
			                    </div>
			                    <div class="form-group">
			                        <div class="input-group">
			                            <input type="email" id="email2" name="email2" class="form-control" placeholder="Email">
			                            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
			                        </div>
			                    </div>
			                    <div class="form-group">
			                        <div class="input-group">
			                            <input type="password" id="password2" name="password2" class="form-control" placeholder="Password">
			                            <span class="input-group-addon"><i class="fa fa-asterisk"></i></span>
			                        </div>
			                    </div>
			                    <div class="form-group form-actions">
			                        <button type="submit" class="btn btn-sm btn-default">Submit</button>
			                    </div>
			                </form>
			            </div>
			        </div>
			    </div>
			    <div class="col-sm-4">
			        <div class="panel panel-default">
			            <div class="panel-heading">
			                <h2>Example Form</h2>
			            </div>
			            <div class="panel-body">
			                <form action="" method="post">
			                    <div class="form-group">
			                        <div class="input-group">
			                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
			                            <input type="text" id="username" name="username" class="form-control" placeholder="Username">
			                        </div>
			                    </div>
			                    <div class="form-group">
			                        <div class="input-group">
			                            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
			                            <input type="email" id="email" name="email" class="form-control" placeholder="Email">
			                        </div>
			                    </div>
			                    <div class="form-group">
			                        <div class="input-group">
			                            <span class="input-group-addon"><i class="fa fa-asterisk"></i></span>
			                            <input type="password" id="password" name="password" class="form-control" placeholder="Password">
			                        </div>
			                    </div>
			                    <div class="form-group form-actions">
			                        <button type="submit" class="btn btn-sm btn-success">Submit</button>
			                    </div>
			                </form>
			            </div>
			        </div>
			    </div>
			</div>


			<div class="row">
			    <div class="col-lg-12">
			        <div class="panel panel-default">
			            <div class="panel-heading">
			                <h2><i class="fa fa-edit"></i>Form Elements</h2>
			                <div class="panel-actions">
			                    <a href="#" class="btn-setting"><i class="icon-settings"></i></a>
			                    <a href="#" class="btn-minimize"><i class="icon-arrow-up"></i></a>
			                    <a href="#" class="btn-close"><i class="icon-close"></i></a>
			                </div>
			            </div>
			            <div class="panel-body">
			                <form role="form">
			                    <div class="form-group">
			                        <label class="control-label" for="date01">Form with Datepicker</label>
			                        <div class="controls">
			                            <div class="input-group date col-sm-4">
			                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
			                                <input type="text" class="form-control date-picker" id="date01" data-date-format="mm/dd/yyyy" />
			                            </div>
			                        </div>
			                    </div>

			                    <div class="form-group">
			                        <label class="control-label" for="timepicker1">Form with Timepicker</label>
			                        <div class="controls">
			                            <div class="input-group col-sm-4 bootstrap-timepicker">
			                                <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
			                                <input type="text" class="form-control timepicker" id="timepicker1" value="11:30 PM">
			                            </div>
			                        </div>
			                    </div>

			                    <div class="form-group">
			                        <label class="control-label" for="daterange">Form with DateRangePicker</label>
			                        <div class="controls">
			                            <div class="input-group col-sm-4">
			                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
			                                <input type="text" class="form-control" id="daterange" value="09/09/2013 - 09/28/2013">
			                            </div>
			                        </div>
			                    </div>

			                    <div class="form-group">
			                        <label class="control-label" for="colorpicker1">Form with Colorpicker</label>
			                        <div class="controls">
			                            <div class="input-group color col-sm-4">
			                                <span class="input-group-addon"><i class="fa fa-tint"></i></span>
			                                <input type="text" class="form-control" id="colorpicker1" value="#FFFFFF">
			                            </div>
			                        </div>
			                    </div>

			                    <div class="form-group">
			                        <label class="control-label" for="textarea2">Textarea with Input Limits & Autosizing</label>
			                        <div class="controls">
			                            <textarea id="limit" class="form-control" rows="6" style="width:100%"></textarea>
			                        </div>
			                    </div>

			                    <div class="form-group hidden-xs">
			                        <label class="control-label">Textarea with Bootstrap Wysiwig</label>
			                        <div class="btn-toolbar" data-role="editor-toolbar" data-target=".editor">
			                            <div class="btn-group">
			                                <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="Font"><i class="fa fa-font"></i><b class="caret"></b></a>
			                                <ul class="dropdown-menu"></ul>
			                            </div>
			                            <div class="btn-group">
			                                <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="Font Size"><i class="fa fa-text-height"></i>&nbsp;<b class="caret"></b></a>
			                                <ul class="dropdown-menu">
			                                    <li><a data-edit="fontSize 5"><font size="5">Huge</font></a>
			                                    </li>
			                                    <li><a data-edit="fontSize 3"><font size="3">Normal</font></a>
			                                    </li>
			                                    <li><a data-edit="fontSize 1"><font size="1">Small</font></a>
			                                    </li>
			                                </ul>
			                            </div>
			                            <div class="btn-group">
			                                <a class="btn btn-default" data-edit="bold" title="Bold (Ctrl/Cmd+B)"><i class="fa fa-bold"></i></a>
			                                <a class="btn btn-default" data-edit="italic" title="Italic (Ctrl/Cmd+I)"><i class="fa fa-italic"></i></a>
			                                <a class="btn btn-default" data-edit="strikethrough" title="Strikethrough"><i class="fa fa-strikethrough"></i></a>
			                                <a class="btn btn-default" data-edit="underline" title="Underline (Ctrl/Cmd+U)"><i class="fa fa-underline"></i></a>
			                            </div>
			                            <div class="btn-group">
			                                <a class="btn btn-default" data-edit="insertunorderedlist" title="Bullet list"><i class="fa fa-list-ul"></i></a>
			                                <a class="btn btn-default" data-edit="insertorderedlist" title="Number list"><i class="fa fa-list-ol"></i></a>
			                                <a class="btn btn-default" data-edit="outdent" title="Reduce indent (Shift+Tab)"><i class="fa fa-outdent"></i></a>
			                                <a class="btn btn-default" data-edit="indent" title="Indent (Tab)"><i class="fa fa-indent"></i></a>
			                            </div>
			                            <div class="btn-group">
			                                <a class="btn btn-default" data-edit="justifyleft" title="Align Left (Ctrl/Cmd+L)"><i class="fa fa-align-left"></i></a>
			                                <a class="btn btn-default" data-edit="justifycenter" title="Center (Ctrl/Cmd+E)"><i class="fa fa-align-center"></i></a>
			                                <a class="btn btn-default" data-edit="justifyright" title="Align Right (Ctrl/Cmd+R)"><i class="fa fa-align-right"></i></a>
			                                <a class="btn btn-default" data-edit="justifyfull" title="Justify (Ctrl/Cmd+J)"><i class="fa fa-align-justify"></i></a>
			                            </div>
			                            <div class="btn-group">
			                                <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="Hyperlink"><i class="fa fa-link"></i></a>
			                                <div class="dropdown-menu input-append">
			                                    <input class="span2" placeholder="URL" type="text" data-edit="createLink" />
			                                    <button class="btn btn-default" type="button">Add</button>
			                                </div>
			                                <a class="btn btn-default" data-edit="unlink" title="Remove Hyperlink"><i class="fa fa-cut"></i></a>

			                            </div>


			                            <div class="btn-group">
			                                <a class="btn btn-default" data-edit="undo" title="Undo (Ctrl/Cmd+Z)"><i class="fa fa-undo"></i></a>
			                                <a class="btn btn-default" data-edit="redo" title="Redo (Ctrl/Cmd+Y)"><i class="fa fa-repeat"></i></a>
			                            </div>
			                        </div>

			                        <div class="editor">
			                            Go ahead&hellip;
			                        </div>
			                    </div>

			                </form>

			            </div>
			        </div>
			    </div><!--/col-->

			</div><!--/row-->

			<div class="row">
			    <div class="col-lg-12">
			        <div class="panel panel-default">
			            <div class="panel-heading">
			                <h2><i class="fa fa-edit"></i>Form Elements with Masked Input</h2>
			                <div class="panel-actions">
			                    <a href="#" class="btn-setting"><i class="icon-settings"></i></a>
			                    <a href="#" class="btn-minimize"><i class="icon-arrow-up"></i></a>
			                    <a href="#" class="btn-close"><i class="icon-close"></i></a>
			                </div>
			            </div>
			            <div class="panel-body">
			                <form class="form-horizontal">
			                    <div class="form-group">
			                        <label class="control-label" for="date">Date input</label>
			                        <div class="controls">
			                            <div class="input-group col-sm-4">
			                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
			                                <input type="text" id="date" class="form-control">
			                            </div>
			                            <span class="help-block col-sm-8">ex. 99/99/9999</span>
			                        </div>
			                    </div>

			                    <div class="form-group">
			                        <label class="control-label" for="date">Phone input</label>
			                        <div class="controls">
			                            <div class="input-group col-sm-4">
			                                <span class="input-group-addon"><i class="fa fa-phone"></i></span>
			                                <input type="text" id="phone" class="form-control">
			                            </div>
			                            <span class="help-block col-sm-8">ex. (999) 999-9999</span>
			                        </div>
			                    </div>
			                    <div class="form-group">
			                        <label class="control-label" for="date">Taxpayer Identification Numbers</label>
			                        <div class="controls">
			                            <div class="input-group col-sm-4">
			                                <span class="input-group-addon"><i class="fa fa-usd"></i></span>
			                                <input type="text" id="tin" class="form-control">
			                            </div>
			                            <span class="help-block col-sm-8">ex. 99-9999999</span>
			                        </div>
			                    </div>
			                    <div class="form-group">
			                        <label class="control-label" for="date">Social Security number</label>
			                        <div class="controls">
			                            <div class="input-group col-sm-4">
			                                <span class="input-group-addon"><i class="fa fa-male"></i></span>
			                                <input type="text" id="ssn" class="form-control">
			                            </div>
			                            <span class="help-block col-sm-8">ex. 999-99-9999</span>
			                        </div>
			                    </div>
			                    <div class="form-group">
			                        <label class="control-label" for="date">Eye Script</label>
			                        <div class="controls">
			                            <div class="input-group col-sm-4">
			                                <span class="input-group-addon"><i class="fa fa-asterisk"></i></span>
			                                <input type="text" id="eyescript" class="form-control">
			                            </div>
			                            <span class="help-block col-sm-8">ex. ~9.99 ~9.99 999</span>
			                        </div>
			                    </div>

			                    <div class="form-actions">
			                        <button type="submit" class="btn btn-primary">Save changes</button>
			                        <button type="reset" class="btn btn-default">Cancel</button>
			                    </div>
			                </form>

			            </div>
			        </div>
			    </div><!--/col-->

			</div><!--/row-->

			<div class="row">
			    <div class="col-lg-12">
			        <div class="panel panel-default">
			            <div class="panel-heading">
			                <h2><i class="fa fa-edit"></i>Form Elements</h2>
			                <div class="panel-actions">
			                    <a href="#" class="btn-setting"><i class="icon-settings"></i></a>
			                    <a href="#" class="btn-minimize"><i class="icon-arrow-up"></i></a>
			                    <a href="#" class="btn-close"><i class="icon-close"></i></a>
			                </div>
			            </div>
			            <div class="panel-body">
			                <form class="form-horizontal">
			                    <div class="form-group">
			                        <label class="control-label" for="focusedInput">Focused input</label>
			                        <div class="controls">
			                            <input class="form-control focused" id="focusedInput" type="text" value="This is focused…">
			                        </div>
			                    </div>
			                    <div class="form-group">
			                        <label class="control-label">Uneditable input</label>
			                        <div class="controls">
			                            <span class="input-xlarge uneditable-input">Some value here</span>
			                        </div>
			                    </div>
			                    <div class="form-group">
			                        <label class="control-label" for="disabledInput">Disabled input</label>
			                        <div class="controls">
			                            <input class="form-control disabled" id="disabledInput" type="text" placeholder="Disabled input here…" disabled="">
			                        </div>
			                    </div>
			                    <div class="form-group has-success">
			                        <label class="control-label" for="inputSuccess">Input with success</label>
			                        <input type="text" class="form-control" id="inputSuccess">
			                    </div>
			                    <div class="form-group has-warning">
			                        <label class="control-label" for="inputWarning">Input with warning</label>
			                        <input type="text" class="form-control" id="inputWarning">
			                    </div>
			                    <div class="form-group has-error">
			                        <label class="control-label" for="inputError">Input with error</label>
			                        <input type="text" class="form-control" id="inputError">
			                    </div>

			                    <div class="form-group">
			                        <label class="control-label" for="selectError3">Plain Select</label>
			                        <div class="controls">
			                            <select id="selectError3" class="form-control">
			                                <option>Option 1</option>
			                                <option>Option 2</option>
			                                <option>Option 3</option>
			                                <option>Option 4</option>
			                                <option>Option 5</option>
			                            </select>
			                        </div>
			                    </div>
			                    <div class="form-group">
			                        <label class="control-label" for="selectError">Modern Select</label>
			                        <div class="controls">
			                            <select id="select2-1" class="form-control">
			                                <option>Option 1</option>
			                                <option>Option 2</option>
			                                <option>Option 3</option>
			                                <option>Option 4</option>
			                                <option>Option 5</option>
			                            </select>
			                        </div>
			                    </div>
			                    <div class="form-group">
			                        <label class="control-label" for="selectError1">Multiple Select / Tags</label>
			                        <div class="controls">
			                            <select id="select2-2" class="form-control" multiple>
			                                <option>Option 1</option>
			                                <option selected>Option 2</option>
			                                <option>Option 3</option>
			                                <option>Option 4</option>
			                                <option>Option 5</option>
			                            </select>
			                        </div>
			                    </div>
			                    <div class="form-group">
			                        <label class="control-label" for="selectError2">Group Select</label>
			                        <div class="controls">
			                            <select class="form-control" data-placeholder="Your Favorite Football Team" id="select2-3">
			                                <option value=""></option>
			                                <optgroup label="NFC EAST">
			                                    <option>Dallas Cowboys</option>
			                                    <option>New York Giants</option>
			                                    <option>Philadelphia Eagles</option>
			                                    <option>Washington Redskins</option>
			                                </optgroup>
			                                <optgroup label="NFC NORTH">
			                                    <option>Chicago Bears</option>
			                                    <option>Detroit Lions</option>
			                                    <option>Green Bay Packers</option>
			                                    <option>Minnesota Vikings</option>
			                                </optgroup>
			                                <optgroup label="NFC SOUTH">
			                                    <option>Atlanta Falcons</option>
			                                    <option>Carolina Panthers</option>
			                                    <option>New Orleans Saints</option>
			                                    <option>Tampa Bay Buccaneers</option>
			                                </optgroup>
			                                <optgroup label="NFC WEST">
			                                    <option>Arizona Cardinals</option>
			                                    <option>St. Louis Rams</option>
			                                    <option>San Francisco 49ers</option>
			                                    <option>Seattle Seahawks</option>
			                                </optgroup>
			                                <optgroup label="AFC EAST">
			                                    <option>Buffalo Bills</option>
			                                    <option>Miami Dolphins</option>
			                                    <option>New England Patriots</option>
			                                    <option>New York Jets</option>
			                                </optgroup>
			                                <optgroup label="AFC NORTH">
			                                    <option>Baltimore Ravens</option>
			                                    <option>Cincinnati Bengals</option>
			                                    <option>Cleveland Browns</option>
			                                    <option>Pittsburgh Steelers</option>
			                                </optgroup>
			                                <optgroup label="AFC SOUTH">
			                                    <option>Houston Texans</option>
			                                    <option>Indianapolis Colts</option>
			                                    <option>Jacksonville Jaguars</option>
			                                    <option>Tennessee Titans</option>
			                                </optgroup>
			                                <optgroup label="AFC WEST">
			                                    <option>Denver Broncos</option>
			                                    <option>Kansas City Chiefs</option>
			                                    <option>Oakland Raiders</option>
			                                    <option>San Diego Chargers</option>
			                                </optgroup>
			                            </select>
			                        </div>
			                    </div>
			                    <div class="form-actions">
			                        <button type="submit" class="btn btn-primary">Save changes</button>
			                        <button class="btn btn-default">Cancel</button>
			                    </div>
			                </form>

			            </div>
			        </div>
			    </div><!--/col-->

			</div><!--/row-->

			<div class="row">
			    <div class="col-lg-12">
			        <div class="panel panel-default">
			            <div class="panel-heading">
			                <h2><i class="fa fa-edit"></i>Form Elements</h2>
			                <div class="panel-actions">
			                    <a href="#" class="btn-setting"><i class="icon-settings"></i></a>
			                    <a href="#" class="btn-minimize"><i class="icon-arrow-up"></i></a>
			                    <a href="#" class="btn-close"><i class="icon-close"></i></a>
			                </div>
			            </div>
			            <div class="panel-body">
			                <form class="form-horizontal">
			                    <div class="form-group">
			                        <label class="control-label" for="prependedInput">Prepended text</label>
			                        <div class="controls">
			                            <div class="input-prepend input-group">
			                                <span class="input-group-addon">@</span>
			                                <input id="prependedInput" class="form-control" size="16" type="text">
			                            </div>
			                            <p class="help-block">Here's some help text</p>
			                        </div>
			                    </div>
			                    <div class="form-group">
			                        <label class="control-label" for="appendedInput">Appended text</label>
			                        <div class="controls">
			                            <div class="input-group">
			                                <input id="appendedInput" class="form-control" size="16" type="text"><span class="input-group-addon">.00</span>
			                            </div>
			                            <span class="help-block">Here's more help text</span>
			                        </div>
			                    </div>
			                    <div class="form-group">
			                        <label class="control-label" for="appendedPrependedInput">Append and prepend</label>
			                        <div class="controls">
			                            <div class="input-prepend input-group">
			                                <span class="input-group-addon">$</span>
			                                <input id="appendedPrependedInput" class="form-control" size="16" type="text"><span class="input-group-addon">.00</span>
			                            </div>
			                        </div>
			                    </div>
			                    <div class="form-group">
			                        <label class="control-label" for="appendedInputButton">Append with button</label>
			                        <div class="controls">
			                            <div class="input-group">
			                                <input id="appendedInputButton" class="form-control" size="16" type="text">
			                                <span class="input-group-btn"><button class="btn btn-default" type="button">Go!</button></span>
			                            </div>
			                        </div>
			                    </div>
			                    <div class="form-group">
			                        <label class="control-label" for="appendedInputButtons">Two-button append</label>
			                        <div class="controls">
			                            <div class="input-group">
			                                <input id="appendedInputButtons" size="16" class="form-control" type="text">
			                                <span class="input-group-btn">
														<button class="btn btn-default" type="button">Search</button>
														<button class="btn btn-default" type="button">Options</button>
													</span>
			                            </div>
			                        </div>
			                    </div>
			                    <div class="form-actions">
			                        <button type="submit" class="btn btn-primary">Save changes</button>
			                        <button class="btn btn-default">Cancel</button>
			                    </div>
			                </form>
			            </div>
			        </div>
			    </div><!--/col-->

			</div><!--/row-->

			<div class="row hideInIE8">
			    <div class="col-lg-12">
			        <div class="panel panel-default">
			            <div class="panel-heading">
			                <h2><i class="fa fa-edit"></i>Form Elements</h2>
			                <div class="panel-actions">
			                    <a href="#" class="btn-setting"><i class="icon-settings"></i></a>
			                    <a href="#" class="btn-minimize"><i class="icon-arrow-up"></i></a>
			                    <a href="#" class="btn-close"><i class="icon-close"></i></a>
			                </div>
			            </div>
			            <div class="panel-body">
			                <form class="form-horizontal">

			                    <div class="form-group">
			                        <label class="control-label">Checkboxes</label>
			                        <div class="controls">
			                            <div class="col-md-1 col-sm-2 col-xs-3">
			                                <label class="switch">
			                                    <input type="checkbox" class="switch-input">
			                                    <span class="switch-label" data-on="On" data-off="Off"></span>
			                                    <span class="switch-handle"></span>
			                                </label>
			                            </div>
			                            <div class="col-md-1 col-sm-2 col-xs-3">
			                                <label class="switch switch-primary">
			                                    <input type="checkbox" class="switch-input" checked>
			                                    <span class="switch-label" data-on="On" data-off="Off"></span>
			                                    <span class="switch-handle"></span>
			                                </label>
			                            </div>
			                            <div class="col-md-1 col-sm-2 col-xs-3">
			                                <label class="switch switch-success">
			                                    <input type="checkbox" class="switch-input" checked>
			                                    <span class="switch-label" data-on="On" data-off="Off"></span>
			                                    <span class="switch-handle"></span>
			                                </label>
			                            </div>
			                            <div class="col-md-1 col-sm-2 col-xs-3">
			                                <label class="switch switch-warning">
			                                    <input type="checkbox" class="switch-input" checked>
			                                    <span class="switch-label" data-on="On" data-off="Off"></span>
			                                    <span class="switch-handle"></span>
			                                </label>
			                            </div>
			                            <div class="col-md-1 col-sm-2 col-xs-3">
			                                <label class="switch switch-info">
			                                    <input type="checkbox" class="switch-input" checked>
			                                    <span class="switch-label" data-on="On" data-off="Off"></span>
			                                    <span class="switch-handle"></span>
			                                </label>
			                            </div>
			                            <div class="col-md-1 col-sm-2 col-xs-3">
			                                <label class="switch switch-danger">
			                                    <input type="checkbox" class="switch-input" checked>
			                                    <span class="switch-label" data-on="On" data-off="Off"></span>
			                                    <span class="switch-handle"></span>
			                                </label>
			                            </div>
			                        </div>
			                    </div>

			                </form>
			            </div>
			        </div>
			    </div><!--/col-->
			</div><!--/row-->