<script>
	loadCSS("assets/plugins/jquery-ui/css/jquery-ui-1.10.4.min.css");
	
	var requireJS = [
		"assets/plugins/jquery-ui/js/jquery-ui-1.10.4.min.js"
	]; 
	
	loadJS(requireJS, "assets/js/pages/page-profile.js");	
</script>
			
			<ol class="breadcrumb">
			  	<li><a href="#">Home</a></li>
				<li><a href="#">Example Pages</a></li>
			  	<li class="active">Profile</li>
			</ol>

			<div class="row profile">
				
				<div class="col-md-3">
					
					<div class="panel panel-default">
						<div class="panel-body">
							<img class="img-responsive" src="assets/img/gallery/photo9.jpg">
							
							<h2 class="text-center"><strong>Karen Boyle</strong></h2>
							<h4 class="text-center"><small><i class="fa fa-map-marker"></i> Los Angeles, CA</small></h4>
							
							<hr>
							
							<div class="row">
								<div class="col-xs-6">
									<button type="button" class="btn btn-success btn-block">Follow</button>
								</div><!--/.col-->
								<div class="col-xs-6">
									<button type="button" class="btn btn-primary btn-block">Send Message</button>
								</div><!--/.col-->
							</div><!--/.row-->
							
							<hr>
							
							<div class="row text-center">
								<div class="col-xs-4">
									<div><strong>89.876</strong></div>
									<div><small>Followers</small></div> 
								</div><!--/.col-->
								<div class="col-xs-4">
									<div><strong>9.876</strong></div>
									<div><small>Following</small></div>
								</div><!--/.col-->
								<div class="col-xs-4">
									<div><strong>1.983</strong></div>
									<div><small>Posts</small></div>
								</div><!--/.col-->
							</div><!--/.row-->
							<hr>
							
							<h4><strong>About Karen Boyle</strong></h4>
							
							<p>
								Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
							</p>
							
							<hr>
							
							<h4><strong>General Information</strong></h4>
							
							<ul class="profile-details">
								<li>
									<div><i class="fa fa-briefcase"></i> position</div>
									CEO
								</li>
								<li>
									<div><i class="fa fa-building-o"></i> company</div>
									creativeLabs
								</li>
							</ul>
							
							<hr>		

							<h4><strong>Contact Information</strong></h4>

							<ul class="profile-details">
								<li>
									<div><i class="fa fa-phone"></i> phone</div>
									+48 123 456 789
								</li>
								<li>
									<div><i class="fa fa-tablet"></i> mobile phone</div>
									+48 123 456 789
								</li>
								<li>
									<div><i class="fa fa-envelope"></i> e-mail</div>
									lukasz@bootstrapmaster.com
								</li>
								<li>
									<div><i class="fa fa-map-marker"></i> address</div>
									Konopnickiej 42<br/>
									43-190 Mikolow<br/>
									Slask, Poland
								</li>
							</ul>	
							
						</div>	
						
					</div>
				
				</div><!--/.col-->
				
				<div class="col-md-9">
					
					<div class="panel panel-default">
						<div class="panel-heading">
							<ul class="nav nav-tabs pull-left" id="tabs">
							  	<li><a href="#activity">Activity</a></li>
							  	<li><a href="#week">week</a></li>
							  	<li><a href="#month">month</a></li>
							</ul>
						</div>
						<div class="panel-body">
							
							<div class="tab-content">
							  	<div class="tab-pane" id="activity">
									<div class="row activity" style="padding:15px 15px 0 15px">

										<div class="col-md-6">

											<div class="panel panel-default">
											  	<div class="panel-body">
											    	<input type="email" class="form-control" placeholder="What are you doing now?">
											  	</div>
												<div class="panel-footer">
													<div class="btn-group">
														<button type="button" class="btn btn-link"><i class="fa fa-map-marker"></i></button>
														<button type="button" class="btn btn-link"><i class="fa fa-users"></i></button>
														<button type="button" class="btn btn-link"><i class="fa fa-camera"></i></button>
														<button type="button" class="btn btn-link"><i class="fa fa-video-camera"></i></button>
														<button type="button" class="btn btn-link"><i class="fa fa-calendar-o"></i></button>
													</div>

													<div class="pull-right">
														<button type="button" class="btn btn-success">submit</button>
													</div>	
												</div>
											</div>

											<div class="panel panel-default">
											  	<div class="panel-heading">
													<img src="assets/img/avatar.jpg" class="img-circle">
													<div class="pull-right text-right">
														<i class="fa fa-calendar"></i><br/> 3 hours ago
													</div>
													<div><strong>Łukasz Holeczek</strong></div>
													<div class="small"><i class="fa fa-map-marker"></i> Mikolow, Poland</div>


											  	</div>
											  	<div class="panel-body">
											    	<blockquote>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</blockquote>
											  	</div>
												<div class="panel-footer">
													<input type="email" class="form-control" placeholder="Write a comment...">
												</div>
											</div>

											<div class="panel panel-default">
											  	<div class="panel-heading">
													<img src="assets/img/avatar.jpg" class="img-circle">
													<div class="pull-right text-right">
														<i class="fa fa-calendar"></i><br/> 3 hours ago
													</div>
													<div><strong>Łukasz Holeczek</strong></div>
													<div class="small"><i class="fa fa-map-marker"></i> Mikolow, Poland</div>


											  	</div>
											  	<div class="panel-body">

													<img src="assets/img/gallery/map.png" class="img-responsive">

													<div class="actions">
														<div class="btn-group">
															<button type="button" class="btn btn-link"><i class="fa fa-thumbs-o-up"></i> Like</button>
															<button type="button" class="btn btn-link"><i class="fa fa-share"></i> Share</button>
														</div>
														<div class="pull-right"><strong>1.789</strong> People liked this</div>		
													</div>	

													<div class="media">
													  	<a class="pull-left" href="#">
													    	<img class="media-object img-circle" src="assets/img/avatar.jpg">
													  	</a>
													  	<div class="media-body">
															<div class="pull-right small">3 hours ago</div>
															<h4 class="media-heading">Media heading</h4>
													    	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
													  	</div>
													</div>

													<div class="media">
													  	<a class="pull-left" href="#">
													    	<img class="media-object img-circle" src="assets/img/avatar.jpg">
													  	</a>
													  	<div class="media-body">
													    	<div class="pull-right small">3 hours ago</div>
															<h4 class="media-heading">Media heading</h4>
													    	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
													  	</div>
													</div>

													<div class="media">
													  	<a class="pull-left" href="#">
													    	<img class="media-object img-circle" src="assets/img/avatar.jpg">
													  	</a>
													  	<div class="media-body">
													    	<div class="pull-right small">3 hours ago</div>
															<h4 class="media-heading">Media heading</h4>
													    	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
													  	</div>
													</div>

											  	</div>
												<div class="panel-footer">
													<input type="email" class="form-control" placeholder="Write a comment...">
												</div>
											</div>

											<div class="panel panel-default">
											  	<div class="panel-heading">
													<img src="assets/img/avatar.jpg" class="img-circle">
													<div class="pull-right text-right">
														<i class="fa fa-calendar"></i><br/> 3 hours ago
													</div>
													<div><strong>Łukasz Holeczek</strong></div>
													<div class="small"><i class="fa fa-map-marker"></i> Mikolow, Poland</div>


											  	</div>
											  	<div class="panel-body">

													<div class="row">

														<div class="col-md-4">
															<img class="img-responsive" src="assets/img/gallery/photo2.jpg">
														</div><!--/.col-->

														<div class="col-md-4">
															<img class="img-responsive" src="assets/img/gallery/photo3.jpg">
														</div><!--/.col-->

														<div class="col-md-4">
															<img class="img-responsive" src="assets/img/gallery/photo4.jpg">
														</div><!--/.col-->

													</div><!--/.row-->	

											  	</div>
												<div class="panel-footer">
													<input type="email" class="form-control" placeholder="Write a comment...">
												</div>
											</div>

										</div><!--/.col-->
										<div class="col-md-6">

											<div class="panel panel-default">
											  	<div class="panel-heading">
													<img src="assets/img/avatar.jpg" class="img-circle">
													<div class="pull-right text-right">
														<i class="fa fa-calendar"></i><br/> 3 hours ago
													</div>
													<div><strong>Łukasz Holeczek</strong></div>
													<div class="small"><i class="fa fa-map-marker"></i> Mikolow, Poland</div>


											  	</div>
											  	<div class="panel-body">

													<img src="assets/img/gallery/photo13.jpg" class="img-responsive">

													<div class="actions">
														<div class="btn-group">
															<button type="button" class="btn btn-link"><i class="fa fa-thumbs-o-up"></i> Like</button>
															<button type="button" class="btn btn-link"><i class="fa fa-share"></i> Share</button>
														</div>
														<div class="pull-right"><strong>1.789</strong> People liked this</div>		
													</div>	

													<div class="media">
													  	<a class="pull-left" href="#">
													    	<img class="media-object img-circle" src="assets/img/avatar.jpg">
													  	</a>
													  	<div class="media-body">
															<div class="pull-right small">3 hours ago</div>
															<h4 class="media-heading">Media heading</h4>
													    	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
													  	</div>
													</div>

													<div class="media">
													  	<a class="pull-left" href="#">
													    	<img class="media-object img-circle" src="assets/img/avatar.jpg">
													  	</a>
													  	<div class="media-body">
													    	<div class="pull-right small">3 hours ago</div>
															<h4 class="media-heading">Media heading</h4>
													    	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
													  	</div>
													</div>

													<div class="media">
													  	<a class="pull-left" href="#">
													    	<img class="media-object img-circle" src="assets/img/avatar.jpg">
													  	</a>
													  	<div class="media-body">
													    	<div class="pull-right small">3 hours ago</div>
															<h4 class="media-heading">Media heading</h4>
													    	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
													  	</div>
													</div>

											  	</div>
												<div class="panel-footer">
													<input type="email" class="form-control" placeholder="Write a comment...">
												</div>
											</div>

											<div class="panel panel-default">
											  	<div class="panel-heading">
													<img src="assets/img/avatar.jpg" class="img-circle">
													<div class="pull-right text-right">
														<i class="fa fa-calendar"></i><br/> 3 hours ago
													</div>
													<div><strong>Łukasz Holeczek</strong></div>
													<div class="small"><i class="fa fa-map-marker"></i> Mikolow, Poland</div>


											  	</div>
											  	<div class="panel-body">

													<div class="video-container">
														<iframe src="//player.vimeo.com/video/87526548" width="500" height="281" frameborder="0"></iframe>
													</div>

													<div class="actions">
														<div class="btn-group">
															<button type="button" class="btn btn-link"><i class="fa fa-thumbs-o-up"></i> Like</button>
															<button type="button" class="btn btn-link"><i class="fa fa-share"></i> Share</button>
														</div>
														<div class="pull-right"><strong>1.789</strong> People liked this</div>		
													</div>	

													<div class="media">
													  	<a class="pull-left" href="#">
													    	<img class="media-object img-circle" src="assets/img/avatar.jpg">
													  	</a>
													  	<div class="media-body">
															<div class="pull-right small">3 hours ago</div>
															<h4 class="media-heading">Media heading</h4>
													    	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
													  	</div>
													</div>

													<div class="media">
													  	<a class="pull-left" href="#">
													    	<img class="media-object img-circle" src="assets/img/avatar.jpg">
													  	</a>
													  	<div class="media-body">
													    	<div class="pull-right small">3 hours ago</div>
															<h4 class="media-heading">Media heading</h4>
													    	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
													  	</div>
													</div>

													<div class="media">
													  	<a class="pull-left" href="#">
													    	<img class="media-object img-circle" src="assets/img/avatar.jpg">
													  	</a>
													  	<div class="media-body">
													    	<div class="pull-right small">3 hours ago</div>
															<h4 class="media-heading">Media heading</h4>
													    	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
													  	</div>
													</div>

											  	</div>
												<div class="panel-footer">
													<input type="email" class="form-control" placeholder="Write a comment...">
												</div>
											</div>

										</div><!--/.col-->

									</div><!--/.row-->
							  	</div>
							  	<div class="tab-pane" id="week">
									
							  	</div>
							  	<div class="tab-pane active" id="month">
							  		
							  	</div>
							</div>
						</div>
				</div>
			
			</div><!--/.row-->		
							
		</div><!--/profile-->		
