<script>
	loadCSS("assets/plugins/jquery-ui/css/jquery-ui-1.10.4.min.css");
	
	var requireJS = [
		"assets/plugins/jquery-ui/js/jquery-ui-1.10.4.min.js", 
		"assets/plugins/sparkline/jquery.sparkline.min.js",
		"assets/plugins/autosize/jquery.autosize.min.js",
		"assets/plugins/easypiechart/js/jquery.easypiechart.min.js",
		"assets/plugins/placeholder/jquery.placeholder.min.js"
	]; 
	
	loadJS(requireJS, "assets/js/pages/widgets.js");
	
</script>
			
			<ol class="breadcrumb">
			  	<li><a href="#">Home</a></li>
			  	<li class="active">Queues</li>
			</ol>
			
			<div class="row">
				
				<div class="col-lg-3 col-sm-6 col-xs-6 col-xxs-12">
					<div class="smallstat">
						<i class="fa fa-bell primary"></i>
						<span class="value text-primary">$1 999,99</span>
						<span class="title">Income</span>
					</div><!--/.smallstat-->
				</div><!--/.col-->
				
				<div class="col-lg-3 col-sm-6 col-xs-6 col-xxs-12">
					<div class="smallstat">
						<i class="fa fa-cogs success"></i>
						<span class="value text-success">$1 999,99</span>
						<span class="title">Income</span>	
					</div><!--/.smallstat-->
				</div><!--/.col-->
				
				<div class="col-lg-3 col-sm-6 col-xs-6 col-xxs-12">
					<div class="smallstat">
						<i class="fa fa-laptop info"></i>
						<span class="value text-info">$1 999,99</span>
						<span class="title">Income</span>
					</div><!--/.smallstat-->
				</div><!--/.col-->
				
				<div class="col-lg-3 col-sm-6 col-xs-6 col-xxs-12">
					<div class="smallstat">
						<i class="fa fa-moon-o warning"></i>
						<span class="value text-warning">$1 999,99</span>
						<span class="title">Income</span>
					</div><!--/.smallstat-->
				</div><!--/.col-->
				
				<div class="col-lg-3 col-sm-6 col-xs-6 col-xxs-12">
					<div class="smallstat">
						<i class="fa fa-bell danger"></i>
						<span class="value text-danger">$1 999,99</span>
						<span class="title">Income</span>
					</div><!--/.smallstat-->
				</div><!--/.col-->
				
				<div class="col-lg-3 col-sm-6 col-xs-6 col-xxs-12">
					<div class="smallstat">
						<i class="fa fa-bell primary"></i>
						<span class="value text-primary">$1 999,99</span>
						<span class="title">Income</span>
					</div><!--/.smallstat-->
				</div><!--/.col-->
				
				<div class="col-lg-3 col-sm-6 col-xs-6 col-xxs-12">
					<div class="smallstat">
						<i class="fa fa-cogs success"></i>
						<span class="value text-success">$1 999,99</span>
						<span class="title">Income</span>	
					</div><!--/.smallstat-->
				</div><!--/.col-->
				
				<div class="col-lg-3 col-sm-6 col-xs-6 col-xxs-12">
					<div class="smallstat">
						<i class="fa fa-laptop info"></i>
						<span class="value text-info">$1 999,99</span>
						<span class="title">Income</span>
					</div><!--/.smallstat-->
				</div><!--/.col-->
			
			</div><!--/.row-->
			
			<div class="row">
				
				<div class="col-lg-3 col-sm-6">

					<div class="smallchart primary panel panel-default">

						<div class="title">Account balance</div>

						<div class="content">

							<div class="chart-stat">
								<div class="chart">7,3,2,6,6,3,9,0,1,4</div>
							</div>

						</div>

						<div class="value">$19 999,99</div>

					</div>

				</div><!--/.col-->

				<div class="col-lg-3 col-sm-6">

					<div class="smallchart danger panel panel-default">

						<div class="title">Weekly revenue</div>

						<div class="content">

							<div class="chart-stat">
								<div class="chart">5,8,3,9,2,5,6,2,2,5</div>
							</div>

						</div>

						<div class="value">$1 849,99</div>

					</div>

				</div><!--/.col-->
				
				<div class="col-lg-3 col-sm-6">

					<div class="smallchart success panel panel-default">

						<div class="title">Account balance</div>

						<div class="content">

							<div class="chart-stat">
								<div class="chart">7,3,2,6,6,3,9,0,1,4</div>
							</div>

						</div>

						<div class="value">$19 999,99</div>

					</div>

				</div><!--/.col-->

				<div class="col-lg-3 col-sm-6">

					<div class="smallchart warning panel panel-default">

						<div class="title">Weekly revenue</div>

						<div class="content">

							<div class="chart-stat">
								<div class="chart">5,8,3,9,2,5,6,2,2,5</div>
							</div>

						</div>

						<div class="value">$1 849,99</div>

					</div>

				</div><!--/.col-->
				
			</div><!--/.row-->
			       