<script>
	loadCSS("assets/plugins/jquery-ui/css/jquery-ui-1.10.4.min.css");
	
	var requireJS = [
		"assets/plugins/jquery-ui/js/jquery-ui-1.10.4.min.js", 
		"assets/plugins/sparkline/jquery.sparkline.min.js",
		"assets/plugins/autosize/jquery.autosize.min.js",
		"assets/plugins/easypiechart/js/jquery.easypiechart.min.js",
		"assets/plugins/placeholder/jquery.placeholder.min.js"
	]; 
	
	loadJS(requireJS, "assets/js/pages/widgets.js");
	
</script>
			
	<ol class="breadcrumb">
	  	<li><a href="#">Home</a></li>
	  	<li class="active">Services</li>
	</ol>
	
	<div class="row">
		
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2><i class="fa fa-user"></i>Last Users</h2>
					<div class="panel-actions">
						<a href="#" class="btn-minimize"><i class="icon-arrow-up"></i></a>
						<a href="#" class="btn-close"><i class="icon-close"></i></a>
					</div>
				</div>
				<div class="panel-body no-padding">
					<ul class="users-list">
						<li>
							<a href="#">
								<img class="avatar" alt="Lucas" src="assets/img/avatar.jpg">
							</a>
							<div class="name">Łukasz Holeczek 
								<div class="dropdown pull-right">
									<a class="fa fa-cogs" data-toggle="dropdown" href="#"></a>
									<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
										<li><a href="#"><i class="fa fa-check"></i> Accept</a></li>
										<li><a href="#"><i class="fa fa-times"></i>Reject</a></li>
										<li><a href="#"><i class="fa fa-minus-sign-alt"></i>Block</a></li>
										<li><a href="#"><i class="fa fa-trash-o"></i>Delete</a></li>
									</ul>
								</div>
							</div>
							<span class="place"><i class="fa fa-map-marker"></i>Mikolow, POLAND</span>
							<span class="job"><i class="fa fa-briefcase"></i>Founder, BootstrapMaster.com</span>                                 
						</li>
						<li>
							<a href="#">
								<img class="avatar" alt="Bill" src="assets/img/avatar9.jpg">
							</a>
							<div class="name">Bill Cole
								<div class="dropdown pull-right">
									<a class="fa fa-cogs" data-toggle="dropdown" href="#"></a>
									<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
										<li><a href="#"><i class="fa fa-check"></i> Accept</a></li>
										<li><a href="#"><i class="fa fa-times"></i>Reject</a></li>
										<li><a href="#"><i class="fa fa-minus-square-o"></i>Block</a></li>
										<li><a href="#"><i class="fa fa-trash-o"></i>Delete</a></li>
									</ul>
								</div>
							</div>
							<span class="place"><i class="fa fa-map-marker"></i>London, ENGLAND</span>
							<span class="job"><i class="fa fa-briefcase"></i>CEO, Rainbow INC</span>                                 
						</li>
						<li>
							<a href="#">
								<img class="avatar" alt="Jane" src="assets/img/avatar5.jpg">
							</a>
							<div class="name">Jane Sanchez
								<div class="dropdown pull-right">
									<a class="fa fa-cogs" data-toggle="dropdown" href="#"></a>
									<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
										<li><a href="#"><i class="fa fa-check"></i> Accept</a></li>
										<li><a href="#"><i class="fa fa-times"></i>Reject</a></li>
										<li><a href="#"><i class="fa fa-minus-square-o"></i>Block</a></li>
										<li><a href="#"><i class="fa fa-trash-o"></i>Delete</a></li>
									</ul>
								</div>
							</div>
							<span class="place"><i class="fa fa-map-marker"></i>Berlin, GERMANY</span>
							<span class="job"><i class="fa fa-briefcase"></i>Head of Stars Group</span>                               
						</li>
						<li>
							<a href="#">
								<img class="avatar" alt="Kate" src="assets/img/avatar6.jpg">
							</a>
							<div class="name">Kate Presley
								<div class="dropdown pull-right">
									<a class="fa fa-cogs" data-toggle="dropdown" href="#"></a>
									<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
										<li><a href="#"><i class="fa fa-check"></i> Accept</a></li>
										<li><a href="#"><i class="fa fa-times"></i>Reject</a></li>
										<li><a href="#"><i class="fa fa-minus-square-o"></i>Block</a></li>
										<li><a href="#"><i class="fa fa-trash-o"></i>Delete</a></li>
									</ul>
								</div>
							</div>
							<span class="place"><i class="fa fa-map-marker"></i>Madrid, SPAIN</span>
							<span class="job"><i class="fa fa-briefcase"></i>Creative Director, IdeaLab LTD</span>                                  
						</li>
						<li>
							<a href="#">
								<img class="avatar" alt="Lucas" src="assets/img/avatar7.jpg">
							</a>
							<div class="name">Anna Holmes 
								<div class="dropdown pull-right">
									<a class="fa fa-cogs" data-toggle="dropdown" href="#"></a>
									<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
										<li><a href="#"><i class="fa fa-check"></i> Accept</a></li>
										<li><a href="#"><i class="fa fa-times"></i>Reject</a></li>
										<li><a href="#"><i class="fa fa-minus-square-o"></i>Block</a></li>
										<li><a href="#"><i class="fa fa-trash-o"></i>Delete</a></li>
									</ul>
								</div>
							</div>
							<span class="place"><i class="fa fa-map-marker"></i>Paris, FRANCE</span>
							<span class="job"><i class="fa fa-briefcase"></i>Co-Founder, ArtStudio</span>                                 
						</li>
					</ul>
				</div>
			</div>
		</div><!--/.col-->
		
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2><i class="fa fa-list"></i>Support tickets</h2>
					<div class="panel-actions">
						<a href="#" class="btn-minimize"><i class="icon-arrow-up"></i></a>
						<a href="#" class="btn-close"><i class="icon-close"></i></a>
					</div>
				</div>
				<div class="panel-body">
					<table class="table bootstrap-datatable datatable small-font">
						<thead>
							<tr>
								<th>Status</th>
								<th>Date</th>
								<th>Description</th>
								<th>User</th>
								<th>Number</th>
							</tr>
						</thead>   
						<tbody>
							<tr>
								<td><span class="label label-success">Complete</span></td>
								<td>Jul 25, 2012 11:09</td>
								<td>Server problem</td>
								<td>Ashley Tan</td>
								<td><b>[#199278]</b></td>
							</tr>
							<tr>
								<td><span class="label label-warning">Suspended</span></td>
								<td>Jul 25, 2012 11:09</td>
								<td>Mobile App Problem</td>
								<td>Ann Kovalsky</td>
								<td><b>[#199277]</b></td>
							</tr>
							<tr>
								<td><span class="label label-info">In progress</span></td>
								<td>Jul 25, 2012 11:09</td>
								<td>Paypal Issue</td>
								<td>Chris Dan</td>
								<td><b>[#199276]</b></td>
							</tr>
							<tr>
								<td><span class="label label-danger">Rejected</span></td>
								<td>Jul 25, 2012 11:09</td>
								<td>IE7 Problem</td>
								<td>John Grand</td>
								<td><b>[#199275]</b></td>
							</tr>
							<tr>
								<td><span class="label label-success">Complete</span></td>
								<td>Jul 25, 2012 11:09</td>
								<td>Mobile App Problem</td>
								<td>Agnes Young</td>
								<td><b>[#199274]</b></td>
							</tr>
							<tr>
								<td><span class="label label-warning">Suspended</span></td>
								<td>Jul 25, 2012 11:09</td>
								<td>Mobile App Problem</td>
								<td>Patricia Doyle</td>
								<td><b>[#199273]</b></td>
							</tr>
							<tr>
								<td><span class="label label-info">In progress</span></td>
								<td>Jul 25, 2012 11:09</td>
								<td>Mobile App Problem</td>
								<td>Melanie Brown</td>
								<td><b>[#199272]</b></td>
							</tr>
																	
						</tbody>
					</table>
				</div>
			</div>
		</div><!--/.col-->
		
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2><i class="fa fa-list"></i>Comments</h2>
					<div class="panel-actions">
						<a href="#" class="btn-minimize"><i class="icon-arrow-up"></i></a>
						<a href="#" class="btn-close"><i class="icon-close"></i></a>
					</div>
				</div>
				<div class="panel-body no-padding">
					<ul class="comments-list">
						<li>
							<a href="#">
								<img class="avatar" alt="Lucas" src="assets/img/avatar.jpg">
							</a>
							<div>
								<strong>Łukasz Holeczek</strong> - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
							</div>
							<div class="date">4 minutes ago</div>
						</li>
						<li>
							<a href="#">
								<img class="avatar" alt="Bill" src="assets/img/avatar9.jpg">
							</a>
							<div>
								<strong>Bill Cole</strong> - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
							</div>
							<div class="date">22 hours ago</div>	                                
						</li>
						<li>
							<a href="#">
								<img class="avatar" alt="Jane" src="assets/img/avatar5.jpg">
							</a>
							<div>
								<strong>Jane Sanchez</strong> - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
							</div>
							<div class="date">2 days ago</div>		                                  
						</li>
						<li>
							<a href="#">
								<img class="avatar" alt="Kate" src="assets/img/avatar6.jpg">
							</a>
							<div>
								<strong>Kate Presley</strong> - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
							</div>
							<div class="date">10 days ago</div>	                                  
						</li>
					</ul>										
				</div>	
			</div>	
		</div><!--/.col-->	
				
	</div><!--/.row-->