<script>
	loadCSS("assets/plugins/jquery-ui/css/jquery-ui-1.10.4.min.css");
	loadCSS("assets/plugins/chosen/css/chosen.css");
	
	var requireJS = [
		"assets/plugins/jquery-ui/js/jquery-ui-1.10.4.min.js",
		"assets/plugins/chosen/js/chosen.jquery.min.js",
		"assets/plugins/autosize/jquery.autosize.min.js",
		"assets/plugins/placeholder/jquery.placeholder.min.js",
		"assets/plugins/maskedinput/jquery.maskedinput.min.js",
		"assets/plugins/wizard/jquery.bootstrap.wizard.min.js"
	]; 
	
	loadJS(requireJS, "assets/js/pages/form-wizard.js");	
</script>

			<div class="row" ng-controller="wizardController">
				
				<div class="col-md-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title"><i class="fa fa-check"></i>Settings Wizard</h3>
						</div>
						<div class="panel-body">
							
							<div id="wizard1" class="wizard-type1">
								<ul class="steps">
								  	<li><a href="#tab11" data-toggle="tab"><span class="badge badge-info">1</span> Create Your Company</a></li>
									<li><a href="#tab12" data-toggle="tab"><span class="badge badge-info">2</span> Add Queues</a></li>
									<li><a href="#tab13" data-toggle="tab"><span class="badge badge-info">3</span> Add Operators</a></li>
									<li><a href="#tab14" data-toggle="tab"><span class="badge badge-info">4</span> Configure Alarms &amp; Notifications</a></li>
								</ul>
								<div class="progress thin">
									<div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
									</div>
								</div>
								
								
								<div class="tab-content">

									<!--==== COMPANY TAB ====-->
								    <div class="tab-pane" id="tab11">
								    	<h2>Company Settings</h2>
										<p>Please define the name and the logo of your company.<br/>
											<small>This data will be used to allow you define your skin settings on the mobile apps. <a href="#">Read More.</a></small></p>								
										<div class="row">
											<div class="form-group col-sm-8">
										    	<label for="company-w1">Company</label>
										    	<input type="text" class="form-control" id="company-w1"
										    		placeholder="Enter your company name" ng-model="company.name"
										    		ng-keyup="encodeCompanyName()" ng-blur="encodeCompanyName()" />
										  	</div>
	
										  	<div class="form-group col-sm-4">
										    	<label for="company-code-w1">Code</label>
										    	<input type="text" class="form-control" id="company-code-w1" ng-model="company.code" />
										  	</div>
										</div>								    	

										<div class="form-group">
									    	<label for="street-w1">Street</label>
									    	<input type="text" class="form-control" id="street-w1" placeholder="Enter street name" ng-model="company.street"/>
									  	</div>

										<div class="row">

									  		<div class="form-group col-sm-8">
										    	<label for="city-w1">City</label>
										    	<input type="text" class="form-control" id="city-w1" placeholder="Enter your city" ng-model="company.city"/>
										  	</div>

											<div class="form-group col-sm-4">
										    	<label for="postal-code-w1">Postal Code</label>
										    	<input type="text" class="form-control" id="postal-code-w1" placeholder="Postal Code" ng-model="company.zip">
										  	</div>

										</div><!--/row-->

										<div class="form-group">
									    	<label for="country-w1">Country</label>
									    	<input type="text" class="form-control" id="country-w1" placeholder="Country name" ng-model="company.country">
									  	</div>
								    </div>

								    <!--==== QUEUES TAB ====-->
								    <div class="tab-pane" id="tab12">
								    	<h2>Add Queues</h2>
								    	<hr/>
										<p>Define the list of Queues or Services your company will have.<br/>
											<small>Please, fill all row fields and Add all queues that you need. One per each row. <a href="#">Read More...</a></small></p>

								 		<div class="row" ng-repeat="queue in queues">

											<div class="col-xs-12 col-sm-3">
												<div class="form-group has-feedback">
											    	<label for="name-w1">Name</label>
											    	<input type="text" class="form-control queue-input queue-name"
											    			placeholder="Queue name"
											    			ng-model="queue.name"
											    			ng-keyup="encodeQueueName($index)"
											    			ng-blur="encodeQueueName($index)">
													<span class="fa fa-asterisk form-control-feedback"></span>
											  	</div>
											</div>
											<div class="col-xs-12 col-sm-3">
												<div class="form-group has-feedback">
											    	<label for="name-w1">Code</label>
											    	<input type="text" class="form-control queue-input"
											    		placeholder="Human readable ID" 
											    		ng-model="queue.code">
													<span class="fa fa-asterisk form-control-feedback"></span>
											  	</div>
											</div>
											<div class="col-xs-12 col-sm-2">
												<div class="form-group has-feedback">
											    	<label for="name-w1">Prefix</label>
											    	<input type="text" class="form-control queue-input-noreq" 
											    		placeholder="Queue prefix"
											    		ng-model="queue.prefix">
											  	</div>
											</div>
											<div class="col-xs-12 col-sm-2">
												<div class="form-group has-feedback">
											    	<label for="name-w1">Max Turn Number</label>
											    	<input type="text" class="form-control queue-input input-max-turn" 
											    		placeholder="Max Integer Value"
											    		ng-model="queue.maxTurn">
													<span class="fa fa-asterisk form-control-feedback"></span>
											  	</div>
											</div>
											<div class="col-xs-12 col-sm-2">
												<div class="form-group">
											    	<label for="buttons-w1" class="btn-block" style="visibility:hidden">Queue Options</label>
											    	<a href="#" ng-click="addNewQueue()"
											    		class="button btn btn-success btn-inline">Add</a>
											    	<a href="#" ng-click="removeQueue($index)"
											    		class="button btn btn-danger btn-inline">Remove</a>
											  	</div>
											</div>

										</div><!--/row-->
								    </div>

								    <!--==== OPERATORS/MODULES TAB ====-->
									<div class="tab-pane" id="tab13">
										<h2>Add Operators</h2>
										<p>Define the accounts for the operators users (optional).<br/>
											<small>The operator will be able to login and manage the turns system. <a href="#">Read More.</a></small></p>

										<div class="row" ng-repeat="op in operators">
											<div class="col-xs-12 col-sm-3">
												<div class="form-group has-feedback">
											    	<label>Username</label>
											    	<input type="text" class="form-control operator-input"
											    		placeholder="Operator username" 
											    		ng-model="op.username">
													<span class="fa fa-asterisk form-control-feedback"></span>
											  	</div>
											</div>
											<div class="col-xs-12 col-sm-4">
												<div class="form-group has-feedback">
											    	<label>Email</label>
											    	<input type="email" class="form-control operator-input email-input"
											    		placeholder="Operator email" 
											    		ng-model="op.email">
													<span class="fa fa-asterisk form-control-feedback"></span>
											  	</div>
											</div>
											<div class="col-xs-12 col-sm-3">
												<div class="form-group has-feedback">
											    	<label>Password</label>
											    	<input type="password" class="form-control operator-input"
											    		placeholder="Operator password" 
											    		ng-model="op.password">
													<span class="fa fa-asterisk form-control-feedback"></span>
											  	</div>
											</div>
											<div class="col-xs-12 col-sm-2">
												<div class="form-group">
											    	<label for="buttons-w1" class="btn-block" style="visibility:hidden">Operators Options</label>
											    	<a href="#" ng-click="addNewOperator()"
											    		class="button btn btn-success btn-inline">Add</a>
											    	<a href="#" ng-click="removeOperator($index)"
											    		class="button btn btn-danger btn-inline">Remove</a>
											  	</div>
											</div>

								    	</div>
								    </div>


								    <!--==== NOTIFICATIONS TAB ====-->
									<div class="tab-pane" id="tab14">
										<h2>Alarms &amp; Notifications</h2>
										<p>Define the Alarms and Notifications settings for the turns on each queue.<br/>
											<small>Lorem ipsum dolor sit amet.... <a href="#">Read More.</a></small></p>
										
										<div class="row">

									  		<div class="form-group col-sm-4">
									    		<label for="ccmonth-w1">Minutes</label>
									    		<select class="form-control" id="ccmonth-w1">
												  	<option>1</option>
												  	<option>2</option>
												  	<option>3</option>
												  	<option>4</option>
												  	<option>5</option>
													<option>6</option>
												  	<option>7</option>
												  	<option>8</option>
												  	<option>9</option>
												  	<option>10</option>
													<option>11</option>
													<option>12</option>
												</select>
									  		</div>

											<div class="form-group col-sm-4">
									    		<label for="ccyear-w1">Other setting</label>
									    		<select class="form-control" id="ccyear-w1">
												  	<option>0</option>
												  	<option>1</option>
												  	<option>2</option>
												  	<option>3</option>
												  	<option>4</option>
												  	<option>5</option>
													<option>6</option>
												  	<option>7</option>
												  	<option>8</option>
												  	<option>9</option>
												  	<option>10</option>
												</select>
									  		</div>

											<div class="col-sm-4">

												<div class="form-group has-feedback">
										    		<label for="cvv-w1">Last one</label>
										    		<input type="text" class="form-control" id="cvv-w1" placeholder="123">
													<span class="fa fa-asterisk form-control-feedback"></span>
										  		</div>

											</div>

										</div><!--/row-->
										
										<div class="form-group">
											<div class="checkbox">
					                            <label for="checkbox1-w1">
					                            <input type="checkbox" id="checkbox1-w1" name="checkbox1-w1" value="option1"> I agree with <a href="#">Terms of Service</a>
					                            </label>
					                        </div>
										</div>
								    </div>
						
								</div>
								
								<div class="actions">
								
									<input type="button" class="btn btn-default button-previous" name="prev" value="Prev" />
									<input type="button" class="btn btn-success button-next" name="next" value="Next" />
									<input type="button" class="btn btn-primary button-finish" name="finish" value="Finish" style="display:none"/>
								</div>
									
							</div>

						</div>

					</div>
					
				</div><!--/col-->

			</div><!--/row-->